[2017-06-16 06:35] kenny-y opened #12 "Check arguments in JavaScript before passing them to C++ addon"
Do NOT to do such checks in C++ (or only do the minimum in C++)

[2017-06-20 05:28] minggangw commented on #12
I'm going to take this issue.

[2017-06-22 08:13] minggangw opened #19 "Add logging module"
To make debug much easier, we'd better add logging functions to track the situations.

[2017-06-23 05:56] kenny-y opened #20 "Leverage enhanced RclHandle class to do auto destruction of resource handles"
In a dev branch that is not PR-ed yet, the RclHandle class was enhanced to do auto destruction (e.g. calling `rcl_node_fini()`, `rcl_publisher_fini()`, ... and other similar functions along with memory `free()`) of allocated resources.

We should improve our current code logic to adapt this change, leave the resource destruction to RclHandle class dtor (called by V8 GC). In other words, the follow

[2017-06-23 06:06] kenny-y opened #21 "Possible libuv usage issue: node: ../deps/uv/src/unix/core.c:166: uv_close: Assertion `0' failed."
![image](https://user-images.githubusercontent.com/3302320/27468579-1fc482d6-581d-11e7-81c1-38c35b68e51e.png)

[2017-06-23 06:08] kenny-y commented on #19
:+1:

And both JavaScript & C++ should use the same logging level at the same time.

[2017-06-23 06:12] kenny-y commented on #21
It happens when running `mocha` on `develop` branch, but not every time...

[2017-06-28 10:01] minggangw opened #27 "Let the constructor of generated message class to be as a property of messageType"
Through the current implementation, we have to get two variables (message type & message constructor) passed to the publisher/subscription, like
[code]
Here, I'd like to assign the constructor of the message as a property of message type (named as the message type's name), thus we can deduct the second line and pass only one parameter in most cases. The final code looks like:
[code]
Also, the sub

[2017-06-28 10:04] minggangw commented on #12
This issue has been fixed by 673d9d25ee3e9

[2017-06-28 10:04] #12 closed, assigned to nobody

[2017-07-04 05:51] kenny-y opened #33 "New mechanism of RCL handle finalize"
New mechanism should ensure the order of handle finalization, `pub`/`sub`/`srv`/`cli` -> `node` -> `rcl_shutdown`, in either the case of manually call via API or GC of `v8`

[2017-07-04 06:12] kenny-y opened #34 "Figure the potential issue behind an endurance test"
In an endurance test that lasts for days:
 - Node.js client publisher: still working after 16,058,500 messages published (`rcl_init` and `rcl_shutdown` between every 2 messages)
 - Node.js client subscription: stopped working after 1,629,680 messages (got stuck and can't take any new messages)
 - C++ client subscription (`examples_rclcpp_minimal_subscriber_lambda`): stopped working after 6,185,940

[2017-07-04 06:12] kenny-y commented on #34
CC @minggangw

[2017-07-05 09:10] minggangw opened #36 "Support QoS profile"
When creating publisher/subscription/client/service, the interface should support to pass the user defined QoS profile object to rcl library.

[2017-07-13 03:02] minggangw commented on #27
Fixed by 7399fee74

[2017-07-13 03:02] #27 closed, assigned to nobody

[2017-07-19 01:51] qiuzhong opened #39 "Only 1 test passed"
## Issue description
I tried to clone the repository and run `npm install` and then `npm test` but got only 1 test passed.
Notice: ros2-related native libraries already have been installed.

## Steps to reproduce
1. Install ros2 by following [this guide](https://github.com/ros2/ros2/wiki/Linux-Development-Setup)
2. `git clone https://github.com/RobotWebTools/rclnodejs.git && cd rclnodejs && npm in

[2017-07-19 02:39] kenny-y commented on #39
Thanks for finding the issue. Please be noted that this repo is still in development and not ready for external use so far... we'll publish it to npmjs.com when it's ready.

Meanwhile, we'll look into it... (I guess we've been in feature branch for a while and missed the status change of master)

[2017-07-19 02:54] Honry commented on #39
@kenny-y, @qiuzhong comes from Web QA team responsible for test development for node.js RCL. This issue is found during ramping up, we are aware that this repo is still in development but thinking it's good to pose issue as early as possible. :)

[2017-07-19 02:58] kenny-y commented on #39
Okay, copy that... Thanks for the info.
I thought there was external users who wanted to use this repo in early stage...
Smile.jpg...

[2017-08-07 07:23] minggangw opened #46 "macOS build"
Build rclnodejs on macos platform, and pass the tests.

[2017-08-07 07:27] minggangw opened #47 "Support Message Array"

[2017-08-07 07:28] minggangw opened #48 "Build instructions doc"

[2017-08-07 07:29] minggangw opened #49 "Build on Windows"

[2017-08-07 07:30] minggangw opened #50 "Support a plain JavaScript object as a ROS topic/request"
Like `publisher.publish('hello world')`

[2017-08-07 07:31] minggangw opened #51 "Support uint64 in Timer"

[2017-08-07 07:34] minggangw opened #52 "Complete reference doc"

[2017-08-07 07:35] minggangw opened #53 "Logging debug information"

[2017-08-07 07:36] minggangw opened #54 "Tutorial and other doc"

[2017-08-07 07:37] minggangw opened #55 "Multiple nodes in one process"

[2017-08-07 07:38] minggangw opened #56 "Node with lifecyele"
This is a C++ client feature only, label as `TODO` here.

[2017-08-07 07:39] minggangw opened #57 "DDS Security support"
This is a C++ client feature only, label as `TODO` here.

[2017-08-07 07:39] minggangw opened #58 "Namespce of node/topic"

[2017-08-07 07:40] minggangw opened #59 "Integrate tests with travis-ci"

[2017-08-07 07:48] #39 closed, assigned to minggangw

[2017-08-07 08:14] qiuzhong commented on #59
Why docker build is in the CI configuration file? IMHO, docker build and CI build should be separated as they play different roles. Docker is for shipping application, CI is for checking update.

[2017-08-07 08:35] minggangw commented on #59
Because ROS2.0 must be built on Ubuntu16.04(xenial) which travis-ci doesn't support now, we have to leverage the docker.

[2017-08-09 08:19] qiuzhong opened #60 "reset_error operation should be done after failing to call createNode"
I got these warnings when I tried creating nodes with invalid parameters.
[code]

Here is my example code (put it in examples directory):
[code]

For [rclpy](https://github.com/ros2/rclpy/),  there is always [`reset_error` operation](https://github.com/ros2/rclpy/blob/master/rclpy/src/rclpy/_rclpy.c#L130) if an error occurred when creating nodes.

[2017-08-11 06:33] qiuzhong opened #61 "Spelling Typo: node.destory()"
There is a method named `destory()` for `Node` object. This method collects all the allocated resource by the node.

I think this is a spelling typo because I use `node.destroy()` in my code and it complains `Not a function`. It means `node.destroy()`, right?
Here is the source code [link](https://github.com/RobotWebTools/rclnodejs/blob/develop/lib/node.js#L186)
[code]

[2017-08-14 06:03] qiuzhong opened #63 "Some APIs missed in rclnodejs in contrast to rclpy"
In contrast to [rclpy](https://github.com/ros2/rclpy), some methods are not implemented. So I failed to translate some rcpy test cases that call these methods to rclnodejs. Here is the list of these methods:

| Methods | Used in rclpy tests |
| --- | ---|
| rcl.node getter/setter | [TestNode.test_accessors](https://github.com/ros2/rclpy/blob/master/rclpy/test/test_node.py#L39) |
| rcl.node.handler

[2017-08-14 09:44] kenny-y commented on #46
Started working on this.

Build is success with minor changes so far.

[2017-08-15 02:38] qiuzhong opened #66 "Double init() invoking raises just a warning"
For `rclnodejs.init()` method, double invoking will raise a warning:
[code]

My test code (put it in example directory):
[code]

While for `rclnodejs.shutdown()`, double invoking will simply raise an Error.

[2017-08-15 02:55] minggangw commented on #66
We'd better uniform these two behaviours (`init` and `shutdown`) to make it consistent, thanks!

[2017-08-16 13:16] #61 closed, assigned to nobody

[2017-08-17 03:00] qiuzhong commented on #61
Great!

[2017-08-17 03:39] #66 closed, assigned to nobody

[2017-08-18 02:03] minggangw commented on #59
Since 3e2412aa3c has been merged, mark this task as done.

[2017-08-18 02:03] #59 closed, assigned to nobody

[2017-08-20 14:47] #33 closed, assigned to kenny-y

[2017-08-21 01:23] qiuzhong commented on #66
Verified. The `init` and `shutdown` methods now behave consistently now.

[2017-08-22 02:36] qiuzhong opened #72 "Failed to npm install on macOS"
## Description:
I can run the `demo_nodes_cpp` and `demo_nodes_py` with talker and listener successfully on macOS, however I still failed to install rclnodejs with `npm install`.

## Steps:
[code]

## Environment:
* OS: macOS Sierra Version 10.12.6
* ros2/ros2: [ab20dea](https://github.com/ros2/ros2/commit/ab20dea002c213079774167a77997a55a09ea798)

[2017-08-22 02:49] minggangw commented on #72
Blocked by #46

[2017-08-22 05:41] minggangw commented on #63
| Methods | Used in rclpy tests | Used in rclnodejs |
| --- | ---| --- |
| rcl.node getter/setter | [TestNode.test_accessors](https://github.com/ros2/rclpy/blob/master/rclpy/test/test_node.py#L39) | the handle is transparent to developers, and won't change once being assigned, only the getter method will offered. We can do some white-box testing. |
| rcl.node.handler getter/setter | [TestNode.test

[2017-08-22 08:02] #60 closed, assigned to nobody

[2017-08-22 08:49] qiuzhong commented on #60
Verified. Those warnings don't show up now.

[2017-08-22 08:53] #36 closed, assigned to nobody

[2017-08-23 02:21] minggangw commented on #47
I'm working one this issue now, seem that we need lots of effort here...

[2017-08-23 02:50] qiuzhong opened #74 "Use second as the unit of parameter period in the timer-related APIs"
The `node.createTimer(peroid, callback)` method use nanosecond as the unit of peroid parameter. 1 second equals `10 ** 9` nanoseconds. This is a big number and can easily get wrong for users.

The [rclpy](https://github.com/ros2/rclpy) implementation uses second as the unit and multiply a [constant](https://github.com/ros2/rclpy/blob/master/rclpy/rclpy/constants.py#L15) `1000 * 1000 * 1000` before

[2017-08-23 07:34] mmccool commented on #74
This would be fine in theory... as long as the number is interpreted as a float and precision is preserved, so it's still possible to set a timer with nanosecond resolution.

One of my major annoyances with Node.js is the fact that the argument to SetTimeout and SetInterval are interpreted as integers, in units of milliseconds, so it's not possible to set a finer-grained timer (even if the underly

[2017-08-23 07:40] kenny-y commented on #74
Hi @mmccool Nice to see your comments... I guess we can support various usages, integer ms, integer us, floating point sec, etc.

I guess we can make this default value as floating point ms, e.g. `.createTimer(400.5 /*ms*/, ...)`, and provide other way for callers, e.g. also accept an object as named parameter, such as `{ms: 1000}`, `{sec: 1.5}` or `{ns: 30*1000}`

[2017-08-23 11:04] mmccool commented on #74
As long as (a) the unit is clear and (b) floating-point values are accepted so there is no problem with quantization (or range...).   As to what default unit is used, it boils down to what people are most likely to expect (ROS users?  Node.js users?)

[2017-08-23 13:18] kenny-y commented on #46
#75 can make it build on macOS and run timer example.

The rest features are being worked on...

[2017-08-25 08:49] qiuzhong opened #76 "QoS-related examples"
QoS feature has been enabled in the client/service, publish/subscription APIs. We need some examples for the features.

[2017-08-25 09:09] qiuzhong opened #77 "[doc]Need to update the doc"
QoS feature has been enabled and the `qos` parameter is added to the following APIs:
[code]
But the documentation is out-of-date, they need to update.

[2017-08-28 02:52] minggangw commented on #76
I am going to take this task, and will add some qos examples.

[2017-08-28 06:13] #76 closed, assigned to nobody

[2017-08-28 08:44] #77 closed, assigned to nobody

[2017-08-29 02:15] qiuzhong opened #81 "[docs]The constructors should not be exposed to users"
Currently the constructors of `Client/Entity/Node/Publisher/QoS/Service/Subscription/Timer` classes are presented in the docs. However, they cannot be referred by users outside. They can only referred after `require('./lib/XXX.js');` inside rclnodejs.

Meanwhile, they're not supposed to be exposed to users. So they should be removed from the documentation.

[2017-08-29 02:24] minggangw commented on #81
I'm going to remove these useless comments, thanks!

[2017-08-29 02:33] qiuzhong commented on #77
Verified. The `qos` parameter now is present in the documentation now.

[2017-08-29 03:10] minggangw commented on #48
Move this to M2, as we have limited resources.

[2017-08-29 03:10] minggangw commented on #46
Move this to M2, as we have limited resources.

[2017-08-29 07:47] #81 closed, assigned to nobody

[2017-08-29 07:50] minggangw commented on #47
As there will be following patches, reopen it.

[2017-08-30 01:54] minggangw opened #84 "[tests]Align with the coding convention of JSLint rules"
I notice that the folder `test` is out of the scope of JSLint now, I'd like to include it to make the whole project more consistent. So @qiuzhong would you please run the JSLint as default by changing the `npm test` script and fix the existing issues, thanks!

[2017-08-30 04:13] qiuzhong opened #85 "Critical crash when running npm test"
## Description:
I encountered this critical crash when running `npm test`
[code]

## Commit Id
* rclnodejs: [85c0185](https://github.com/RobotWebTools/rclnodejs/commit/85c0185f0282272b1f34bed774f8e489d2ac1e77)
* ros2.repos: https://raw.githubusercontent.com/ros2/ros2/release-latest/ros2.repos (md5: 84531206966a83c0743af50cb7026a7e)

[2017-08-30 06:38] #84 closed, assigned to qiuzhong

[2017-08-30 08:07] qiuzhong opened #87 "QoS members are undefined in constructor"
In the class `QoS` constructor, the members are initialized as `undefined` like this:
[code]

IMHO, this is not a good initialization. After you new a QoS object, call the getter of any property you will get an `undefined` type.
However, each getter has a special type for the returned value in the docs.
I would suggest to initialize them as all `false` evaluation values, that is:
* For boolean get

[2017-08-30 09:07] qiuzhong opened #88 "QoS setter should check the parameter type"
Currently, the QoS class setter is simply implemented by assigning the parameter to the inside property:
[code]

It's better if we do more work on this, like parameter type checking.

[2017-08-30 13:08] minggangw commented on #88
Good suggestion, I am gonna take this, thanks!

[2017-08-30 13:08] minggangw commented on #87
Good suggestion, I am gonna take this, thanks!

[2017-08-30 13:11] minggangw commented on #85
As this issue was caused by the wrong environment configuration, and can't reproduce on the latest `master` branch of `ROS2.0` with `develop` branch of `rclnodejs`, so I think we can close it now.@qiuzhong

[2017-08-31 01:31] qiuzhong commented on #85
Agree with you. Let's close it.

[2017-08-31 01:31] #85 closed, assigned to nobody

[2017-09-04 01:56] qiuzhong commented on #81
Verified. The constructors in the docs are removed now.

[2017-09-04 06:34] #87 closed, assigned to nobody

[2017-09-04 06:34] #88 closed, assigned to nobody

[2017-09-04 07:07] qiuzhong commented on #88
Verified. All the parameters are type-checked before assignment in the QoS setter.

[2017-09-04 07:26] qiuzhong opened #91 "[docs]static keyword missing in QoS documentation"
There are static and regular getter/setter in the QoS class. However, in the [QoS documentation](https://github.com/RobotWebTools/rclnodejs/blob/develop/docs/QoS.html), the `static` keyword is missing. This might mislead the users.

[2017-09-04 09:53] qiuzhong commented on #87
Verified. The QoS object properties are initialized in a good way and not undefined now.

[2017-09-05 02:50] minggangw commented on #47
Move this to M2, as there is still some work to be done.

[2017-09-06 05:40] minggangw commented on #19
Has resolved by 92b7da470, closed it.

[2017-09-06 05:40] #19 closed, assigned to nobody

[2017-09-06 05:42] minggangw commented on #20
Resolve by f614470ea771fa

[2017-09-06 05:42] #20 closed, assigned to kenny-y

[2017-09-06 05:43] minggangw commented on #21
It seems this never happened again, will reopen if reproduce later.

[2017-09-06 05:43] #21 closed, assigned to nobody

[2017-09-06 05:47] minggangw commented on #34
It sees that with the latest master branch of [ROS2.0](https://github.com/ros2/ros2/blob/master/ros2.repos), the stability is better now and more robust, so close this.

[2017-09-06 05:47] #34 closed, assigned to nobody

[2017-09-06 07:03] #91 closed, assigned to minggangw

[2017-09-06 07:22] qiuzhong commented on #91
Verified. The `static` keyword in [QoS documentation](https://github.com/RobotWebTools/rclnodejs/blob/develop/docs/QoS.html) is present now.

[2017-09-11 01:49] #47 closed, assigned to nobody

[2017-09-11 01:52] minggangw commented on #46
Start working on this issue and #72 .

[2017-09-13 02:58] #48 closed, assigned to nobody

[2017-09-13 05:29] #46 closed, assigned to nobody

[2017-09-14 03:06] qiuzhong opened #98 "Require message type before rclnodejs initialization"
In the example of [publisher-message-example.js](https://github.com/RobotWebTools/rclnodejs/blob/develop/example/publisher-message-example.js#L18) and [subscription-message-example.js](https://github.com/RobotWebTools/rclnodejs/blob/develop/example/subscription-message-example.js#L18), the message type classes are required before `rclnodejs` initialization. This may cause failure of requiring them

[2017-09-14 03:06] qiuzhong commented on #98
@minggangw

[2017-09-14 03:07] qiuzhong commented on #98
Meanwhile, I'll update PR#96

[2017-09-14 03:08] minggangw commented on #98
Thanks for finding this problem, I will fix this in the two examples, thanks!

[2017-09-14 06:49] #98 closed, assigned to nobody

[2017-09-18 01:48] minggangw commented on #49
Start to work on this issue, hope it to implement quickly!

[2017-09-18 01:54] minggangw commented on #72
This should be fixed by commit 0e8301549, also there is a pr #101, which demonstrates how to enable the ci on mac platform by circleci, but the circleci.com doesn't offer a free service on mac, so this pr will be pending. @qiuzhong please verify this issue on your own mac.

[2017-09-18 05:03] kenny-y commented on #49
I believe I can help on this. I've been working on Node.js Windows build of another project for a few weeks. I've got some useful findings :)

[2017-09-18 08:53] qiuzhong opened #103 "Message type Int64 and UInt64 are greater than Number.MAX_SAFE_INTEGER"
The `Int64` and `UInt64` message type use string as the data property for inside representations. This might not a problem. However, part of numbers in this size are greater than `Number.MAX_SAFE_INTEGER`. So the data precision may be lost when delivering a `Int64` or `UInt64` number from publisher to subscription.

[2017-09-19 02:20] minggangw commented on #74
Move to M3

[2017-09-19 02:21] minggangw commented on #52
Move to M3

[2017-09-19 02:21] minggangw commented on #51
Move to M3

[2017-09-19 02:21] minggangw commented on #50
Move to M3

[2017-09-19 02:22] minggangw commented on #49
Move to M3

[2017-09-19 02:22] minggangw commented on #72
Move to M3

[2017-09-19 02:24] minggangw commented on #103
We'd better combine this with #51

[2017-09-19 07:50] qiuzhong opened #106 "No boundary checking for message type ColorRGBA properties"
Currently, the `ColorRGBA` type of package `std_msgs` has 4 properties: `r, g, b, a`. Regularly, `r, g, b` should be integers ([0, 255]) and `a` should be a float([0.0, 1.0]). But in the rclnodejs implementation, they're all `float32`. Meanwhile, there is no boundary checking for the properties. So this code
[code]
doesn't throw any errors.

[2017-09-20 08:05] qiuzhong opened #108 "Crashed when trying to publish *MultiArray messages"
Take the `ByteMultiArray` as example, running this code:
[code]

leads a crash:
[code]

[2017-09-20 08:12] qiuzhong opened #110 "*ArrayWrapper cannot be used to createPublisher"
Take the `Byte` as example, there is a `ByteArrayWrapper` class in the `generated/std_msgs/std_msgs__msg__Byte.js`. It stands for an array of the `Byte` message type. However, it cannot be used to `createPublisher`. This code
[code]
will lead a `TypeError` when calls `createPublisher`:
[code]

[2017-09-21 06:47] qiuzhong opened #111 "More detailed documentation for Windows build"
Currently, the `rclnodejs` supported Windows 8.1 & 10, however, users may encounter quite annoying issues during building and testing.

* `npm run lint`: this uses `wget` utility, which is not installed by `choco` during in building ros2.
* Even users install `wget` via `choco install -y wget`, there is still `cpplint` issue when running `npm run lint`:
[code]

* rclnodejs depends on thirdparty li

[2017-09-21 09:17] #49 closed, assigned to nobody

[2017-09-22 07:16] minggangw commented on #110
After I was investigating this issue, I found there is a misunderstanding of the usage of `Array` type. The fact is that you can't simply create an **Array** of some kind of Message directly, like above. Instead, you have to create a new type of `.msg` file,

e.g. If you want to use the array of `string`, please create a new file named `Names.msg` and write below and save.
[code]
Then leverage  `r

[2017-09-22 07:18] minggangw commented on #111
Reopen, as we have more work to do here.

[2017-09-22 07:37] minggangw commented on #50
I prefer we only enable this on the primitive types of messages, they are `bool/int8/uint8/int16/uint16/int32/uint32/int64/uint64/float64/float32/char/string`. Because, for non-primitive messages it may contain several properties, which may be primitive type, an array or another kind of non-primitive message, and this behaviour can be cyclic. It's impossible to cope this, the overhead is large.

[2017-09-22 08:10] minggangw commented on #74
I investigated the `rclpy`, `rclcpp` and `rcl`, the result is:

**rclpy** uses para in `second` when creating a [`timer`](https://github.com/ros2/rclpy/blob/0fbf30c4a9ffe9b4edb77c4888d07a61ed921ef9/rclpy/rclpy/node.py#L187)
**rclcpp** uses `ms` when creating a [`timer`](https://github.com/ros2/rclcpp/blob/5a99bbdc6e0294cc307e859be7ca9c7b57444979/rclcpp/include/rclcpp/node.hpp#L219)
**rcl** uses `n

[2017-09-27 02:02] qiuzhong opened #120 "[UT]Failed to kill ROS2 demo processes"
With the latest ROS2 code, the ROS2 demo processes launched by commands like `ros2 run demo_nodes_cpp talker` cannot be killed. Any unit test cases that need launch these commands will fail. This happens in [test-cross-lang](https://github.com/RobotWebTools/rclnodejs/blob/develop/test/test-cross-lang.js). #118 doesn't fix this completely.

[2017-09-27 06:27] minggangw commented on #103
The maximum integer JavaScript can represents is [Number.MAX_SAFE_INTEGER](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/MAX_SAFE_INTEGER), which is 2^53 - 1. But ROS can use uint64_t to represent a value, which has maximum value of 2^64 - 1.Considering the fact that `rclcpp` and `rclpy` can support `UInt64` message  and the compatibility problem, I think

[2017-09-27 07:37] #120 closed, assigned to qiuzhong

[2017-09-28 02:14] qiuzhong commented on #110
@minggangw , I tried this. The `generated/std_msgs/std_msgs__msg__Names.js` was generated. However, I got crash when I ran the the code again:
[code]

[2017-09-28 02:53] minggangw commented on #110
I am going to re-check this problem, thanks!

[2017-09-28 03:09] qiuzhong commented on #110
To show the message sent, I added a line `console.log(msg.names);` before calling the `publish`. However, if I remove this line, then it seems not crash. The subscription node cannot receive any message in both cases.

[2017-09-28 06:28] qiuzhong opened #123 "[UT]Make the test cases pass for all platforms"
Currently, all the test cases are developed on Ubuntu Linux 16.04 LTS and passed when submitting. However, there are platform differences for ROS2 or other dependencies. For example, on Linux and macOS, Python 2.x and Python3 can coexist (Python 2.x -> python, Python 3.x -> python3). On Windows, all version Python executables are `python.exe`.  Some test cases may fail on Windows due to the lack o

[2017-09-29 03:16] minggangw commented on #123
Since at current stage, some cases don't pass on platform, like Windows or MacOS, we'd better have a blacklist to disable them temporarily and let the rest of cases check at least.

[2017-09-29 03:18] #51 closed, assigned to nobody

[2017-09-29 05:10] #50 closed, assigned to nobody

[2017-09-29 05:13] minggangw commented on #74
Closed, fixed by b2187ac1a

[2017-09-29 05:13] #74 closed, assigned to minggangw

[2017-09-29 05:29] minggangw commented on #72
We can fix this issue by downloading the binary ros package from http://ci.ros2.org/view/packaging/job/packaging_osx/, or reference https://circleci.com/gh/RobotWebTools to configure.

[2017-09-29 05:29] #72 closed, assigned to minggangw

[2017-09-29 08:09] minggangw commented on #111
As 49a101e6b560 has been merged, this issue can be closed now.

[2017-09-29 08:09] #111 closed, assigned to nobody

[2017-09-29 08:36] qiuzhong opened #127 "Crashed when running mocha test/test-interactive.js"
`npm test` cannot make all the test cases pass. For example, `mocha test/test-interactive.js` will lead a crash on macOS:
[code]

[2017-09-29 08:49] qiuzhong commented on #127
It doesn't crash on Linux.

[2017-09-29 08:52] qiuzhong commented on #127
It's very odd that with the ros2-mac image downloaded from the CI, this still doesn't crash but `npm test` still gets the same error.

[2017-10-09 01:51] qiuzhong commented on #72
Actually, we finally got through the compilation on macOS 10.12.6. It turns out that the SIP (System Integrity Protection) should be disabled.
 More details see [this](https://developer.apple.com/library/content/documentation/Security/Conceptual/System_Integrity_Protection_Guide/ConfiguringSystemIntegrityProtection/ConfiguringSystemIntegrityProtection.htm):
[code]

[2017-10-09 01:59] qiuzhong commented on #74
Verified. Now we can use millisecond as the unit of rclnodejs timer.

[2017-10-09 02:04] minggangw commented on #72
That's clear, maybe the default value of SIP is disabled in 10.11, so I haven't met this problem, thanks!

[2017-10-09 02:20] qiuzhong commented on #111
The CI can get through this issue. But it still lacks `wget` dependency installation in the README in case the users tried to build on Windows manually.

[2017-10-09 07:33] qiuzhong opened #134 "Failed to receive complex object type message cross the language nodes"
For the `JointState` complex object type messages, in a **Python publisher - rclnodejs subscription** environment, the subscription cannot receive the Python publisher:
**In terminal 1**, run `python3 py_publisher.py`
[code]

**In terminal 2**, run `node subscription.js`:
[code]
The rclnodejs subscription hanged and didn't receive any message from Python publisher. Python publisher - Python subscr

[2017-10-09 07:58] qiuzhong commented on #134
@minggangw , I doubt it's related to the array message type feature.

[2017-10-09 09:00] minggangw commented on #134
Do you want to design a case that using a python publisher and a rclnodejs subscription to test the compatibility (Python<=>Node.js)? If that' your aim, I noticed that you created a publisher instead of a subscription in the JavaScript code
[code]
Is it a typo?

P.S. I also tried to create a subscription, it seems that everything works fine :)

[2017-10-09 09:46] qiuzhong commented on #134
Oh, you're right! I used the wrong create function. By replace `createSubscription` the rclnodejs node can receive the message. Not a bug, so close it.

[2017-10-09 09:46] #134 closed, assigned to nobody

[2017-10-10 05:57] qiuzhong opened #136 "rclnodejs.init() and npm run lint require different Python versions"
Python 2 and Python 3 can coexist perfectly on macOS and Linux by two different python executables (python and python3). However, this is not true on Windows. On Windows, there is only `python.exe` for both versions.

`rclnodejs.init()` requires Python 3 while `npm run lint` requires Python 2. This is not a problem for the CI on Windows as **appveyor.yml** changes the `PATH` environment variable b

[2017-10-10 05:57] qiuzhong commented on #136
@minggangw

[2017-10-10 06:05] minggangw commented on #136
Absolutely, we should make user be aware of this.

[2017-10-10 06:09] qiuzhong commented on #136
My suggestion is that we should keep Python 3 be searched first in `PATH` and rename Python 2 executable as `python2.exe` and then use `python2` at line 31 [cpplint.js](https://github.com/RobotWebTools/rclnodejs/blob/develop/scripts/cpplint.js):

[2017-10-10 07:14] minggangw commented on #136
How about using [python launcher for windows](https://docs.python.org/3.3/using/windows.html#python-launcher-for-windows)

[2017-10-10 07:30] qiuzhong commented on #110
The subscription can receive `Names` type message from publisher now. But the crash remains if `msg.names` is referred before `publish` method calling.

[2017-10-10 08:24] qiuzhong commented on #136
I have thought again about my suggestion and it's not a good solution.
Python launcher for windows is a much better one!

[2017-10-11 02:15] #110 closed, assigned to nobody

[2017-10-11 02:20] qiuzhong commented on #110
Verified. #137 fixes the crash.

[2017-10-12 06:08] minggangw commented on #58
@qiuzhong would you help to verify this on `rclnodejs`, you can reference https://github.com/ros2/rclpy/blob/22bc843c40ddb2f0ac79be69693484b18ca2a9b7/rclpy/test/test_node.py#L29 to see the usage, the interface of `rclnodejs` is similar with the one of `rclpy`, thanks!

[2017-10-12 06:18] minggangw commented on #57
It seems that the DDS Security support depends on [SROS2](https://github.com/ros2/sros2), and is irrelevant to the client, so close this issue.

[2017-10-12 06:18] #57 closed, assigned to nobody

[2017-10-12 06:23] minggangw commented on #56
This will not be implemented in `rclnodejs`, only `rclcpp` has [this](https://github.com/ros2/rclcpp/tree/master/rclcpp_lifecycle), close it.

[2017-10-12 06:23] #56 closed, assigned to nobody

[2017-10-12 06:29] minggangw commented on #55
@qiuzhong would you please try to create two ros nodes in one programme to see if it works?

[2017-10-12 07:50] minggangw commented on #123
Status update of unit test:
- **Linux** : 100% passed
- **MacOS**:  [1 case](https://github.com/RobotWebTools/rclnodejs/blob/develop/test/blacklist.json#L3) is disabled (issue #127), other passed.
- **Window**:  [5 cases](https://github.com/RobotWebTools/rclnodejs/blob/develop/test/blacklist.json#L4) are disable, other passed. During running the disabled ones, `mocha` will terminate without any er

[2017-10-13 01:49] qiuzhong commented on #58
@minggangw , sorry for the reply you late.

Actually, the `rclnodejs` has already supported the namespace of node/topic. There are some cases in `test-node.js` cover this. However, some APIs like
* `node.get_namespace()`
* `node.get_name()`
in `rclpy` are not available in `rclnodejs`. I believe you'll implement them in M4.

[2017-10-13 01:52] qiuzhong commented on #55
@minggangw , do you mean I create two ROS nodes (like a publisher and a subscription) in a JavaScript file and see if it can communicate well?

[2017-10-13 01:53] minggangw commented on #58
I see, the `node.get_namespace()` and `node.get_name()` are recorded in #63, so I think we can close this one now.

[2017-10-13 01:55] qiuzhong commented on #58
Agreed. Please close it.

[2017-10-13 01:58] minggangw commented on #58
Thanks, and closing...

[2017-10-13 01:58] #58 closed, assigned to nobody

[2017-10-13 02:01] minggangw commented on #55
Yes, two nodes in a single js file, although I haven't seen that kind of usage before, please just try and see the result, thanks!

[2017-10-13 02:09] qiuzhong commented on #55
Just tried it with the code:
[code]

And it turns out that the code works quite well!

[2017-10-13 02:34] minggangw commented on #55
Great, thanks a lot, so let's close it.

[2017-10-13 02:34] #55 closed, assigned to nobody

[2017-10-13 06:01] minggangw commented on #106
Hi @qiuzhong would you please verify whether the `rclpy` has the boundary checking on ColorRGBA. If user add a new kind of `.msg` not **ColorRGBA**, I suppose this checking should be done by the caller himself.

[2017-10-13 07:07] #108 closed, assigned to nobody

[2017-10-13 08:52] qiuzhong commented on #136
All the test cases related to the Python process launch is used the Python launched solution on Windows in PR #140

[2017-10-13 09:17] minggangw commented on #136
Great! I think we can try to enable more tests on MacOS & Windows to see if there is still failure happens later.

[2017-10-13 09:28] #136 closed, assigned to nobody

[2017-10-16 01:34] qiuzhong commented on #106
@minggangw , I checked the `ColorRGBA` type for the `rclpy` and found it only requires the `r, g, b, a` to be `float` type, no boundary checking either.

[2017-10-16 03:18] qiuzhong commented on #108
Verified. Not crashed again.

[2017-10-16 03:43] minggangw commented on #106
So we suggest the owner, who use the `.msg` file, to validate the data transferred, and `.msg` file supports to define constant variables, e.g. [this](https://github.com/ros2/common_interfaces/blob/6a78a1d6aceadccc5871311cc49156ef952bb3aa/shape_msgs/msg/SolidPrimitive.msg#L4), which can remind of checking the value if it's necessory. So shall we close this issue @qiuzhong ?

[2017-10-16 03:43] minggangw commented on #63
Start to work on this issue.

[2017-10-16 03:45] qiuzhong commented on #106
Agreed to close this issue. Let me close it.

[2017-10-16 03:45] #106 closed, assigned to nobody

[2017-10-16 03:45] qiuzhong commented on #63
Great!

[2017-10-16 19:45] elbrini opened #141 "npm install fails"
Hi,
I am trying to use rclnodejs with ROS2. I followed the instructions from the README but I am encountering an issue while building rclnodejs package with npm install.
Below it the error trace:
[code]

[2017-10-17 00:51] qiuzhong commented on #127
Now this test suite doesn't crash when running it separately while `npm run test` may lead some crashes. So close it and move to #123

[2017-10-17 00:51] #127 closed, assigned to qiuzhong

[2017-10-17 00:52] qiuzhong commented on #141
Thanks to Google translation, the error log said that the `rcl/error_handling.h` was not found during installing the `rclnodejs`. This header file is from ROS2.
Please make sure you have compiled the ROS2 and do the following action:
[code]

Then you can go to `rclnodejs` directory and run `npm install`

[2017-10-17 18:52] elbrini commented on #141
Oh, I am sorry I didn't pay attention that the errors are in french.
Thanks for the reply, it fixed my issue :)

[2017-10-17 18:52] #141 closed, assigned to nobody

[2017-10-18 06:39] Christywl opened #143 "Crash or Quit without any errors on Mac and Windows"
**Mac**: Crash when run `mocha test-*.js` in `rclnodejs/test`
[code]
**Windows**: Testing quits abnormally when run some tests:

1. `mocha test-*.js`
[code]

2. Run the following single case, this issue also happens:
     `mocha test-msg-type-py-node.js ` or `mocha test-message-type.js`

[2017-10-18 06:58] qiuzhong opened #144 "Got warnings when running npm test"
In PR #142 , I added a test case to test if a rclnodejs client and rclpy service can work together. The rclnodejs client sends a request to add 1 and 2, the rclpy service receives the request and performs the addition and send a response.

Here is my test code:
[code]

This case can pass on Linux, how ever I got the warnings when running `npm test`:
[code]

The warnings occured when mocha was exec

[2017-10-18 06:59] qiuzhong commented on #144
I have no idea why this happened. @minggangw , would you please take a look and give me some clues?

[2017-10-18 08:33] minggangw commented on #144
Through the log, there are two errors. One is generated by new test case you added (client<=>service), the other is generated by [create node without init](https://github.com/RobotWebTools/rclnodejs/blob/develop/test/test-init-shutdown.js#L92). I think the error caused by the first case lead to the second one. When you were running your new added test case, is there any error?

[2017-10-18 08:45] qiuzhong commented on #144
There is no error when running the new added test case.

In terms of the ** create node without init**, it's on purpose in the `assert.throw` statement in test case. Before this PR, it has never complained such warnings.

And I also found this strange behavior:
* `mocha test-init-shutdown.js test-cross-lang.js`: all pass without any warning
* `mocha test-cross-lang.js test-init-shutdown.js`: all p

[2017-10-18 08:48] qiuzhong commented on #144
You can check the [CI](https://travis-ci.org/RobotWebTools/rclnodejs/builds/289368947?utm_source=github_status&utm_medium=notification), though the test cases pass and no PR error, there are these warnings in the log.

[2017-10-18 09:25] minggangw commented on #144
I checked the implementation of `rcl`, the first error occurred at [client.c](https://github.com/ros2/rcl/blob/master/rcl/src/rcl/client.c#L279), which should be reset after it happen. Thus when we were running the `test-init-shutdown.js` later, it will generate an error on purpose, which overwrites the previous one, so the `warning` is telling you that `This error state is being overwritten`.

We

[2017-10-19 02:23] minggangw commented on #123
Call stack when crashing on macOS, seems we freed something that should not be
[code]

[code]

[2017-10-19 02:25] minggangw commented on #143
dup with #123, so close this one.

[2017-10-19 02:25] #143 closed, assigned to qiuzhong

[2017-10-19 05:51] qiuzhong opened #146 "Should rclnodejs initialized checking be done in Node.js layer?"
Well, in the test case [test-init-shutdown.js](https://github.com/RobotWebTools/rclnodejs/blob/develop/index.js) it `createNode` without even the `rclnode.init()` is called on purpose. Then it will obviously throw an Error.
[code]

My question is I found there is no rclnodejs initialized checking before it transfers the creating node to native code layer. Should it be done in Node.js layer? If so

[2017-10-19 05:58] qiuzhong commented on #146
@minggangw , what do you think?

I just tried to done this in Node.js layer locally. The issue described in #144 still exists. However, it happened in test suite `test-node.js` as creating node with invalid names or namespaces.

[2017-10-19 06:06] minggangw commented on #146
I think either is OK here, but #144 is another issue, which should be fixed to prevent the warning from `rcl` library.

[2017-10-20 02:02] #63 closed, assigned to minggangw

[2017-10-20 02:09] minggangw commented on #63
After 4be0126d has been merged, interfaces, excluded `rcl.node getter/setter`, `rcl.node.handler getter/setter` and`rcl.spin_once()`, should be implemented, please @qiuzhong verify it, thanks!

[2017-10-20 02:13] qiuzhong commented on #63
@minggangw , I'm writing case to cover them. If I encounter any problems, I will file them.

[2017-10-20 02:16] qiuzhong opened #148 "node namespace not starts with '/'"
Well, I convert some [rclpy](https://github.com/ros2/rclpy/blob/master/rclpy) [test cases](https://github.com/ros2/rclpy/blob/master/rclpy/test/test_create_node.py#L44) to `rclnodejs` version. However, PR #147 was not working with this.

In rclpy:
[code]
That means:
* If a namespace is empty, `get_namespace()` should return '/';
* If a namespace doesn't start with '/', `get_namespace()` should add

[2017-10-20 02:17] qiuzhong commented on #148
@minggangw

[2017-10-20 02:18] qiuzhong commented on #146
Sine it doesn't matter where to check if rcl is initialized, let's close this?

[2017-10-20 02:47] minggangw commented on #148
Yes, we will follow the `rclpy`, which also follows the rules of ROS2.0, I will fix this.

[2017-10-20 02:47] minggangw commented on #146
OK, let's close this.

[2017-10-20 02:47] #146 closed, assigned to nobody

[2017-10-20 03:45] qiuzhong opened #149 "One more rclpy API is missing in rclnodejs"
I just found another `rclpy` API is used in its unit test:
[code]
It simple wraps the native `rcl_expand_topic_name` API
It's not in the `validator` API family and not listed in #63
Please also implement this in `rclnodejs`.

[2017-10-20 03:45] qiuzhong commented on #149
@minggangw

[2017-10-20 05:31] minggangw commented on #149
Got it, will add this one, thanks!

[2017-10-20 06:17] qiuzhong commented on #63
Verified. The missing rclnodejs APIs in the list above are complete and work well except #148.  Test cases are in PR #150

[2017-10-20 06:58] minggangw commented on #63
Thanks a lot, I will finish the rest.

[2017-10-20 08:01] #144 closed, assigned to minggangw

[2017-10-20 08:05] qiuzhong commented on #144
Verifed in PR #151 session. Fixed

[2017-10-20 08:56] minggangw commented on #52
I think we can merge this task with #54, so close this one.

[2017-10-20 08:56] #52 closed, assigned to nobody

[2017-10-20 11:36] #149 closed, assigned to nobody

[2017-10-23 01:06] qiuzhong commented on #149
Verified. This API works!

[2017-10-23 05:52] qiuzhong commented on #148
Verified. Fixed by PR #153

[2017-10-23 06:34] qiuzhong opened #154 "[docs]Validator family APIs missing in doc"
There is no documentation for the APIs of `Validator` class.

[2017-10-23 06:35] #148 closed, assigned to nobody

[2017-10-23 07:37] minggangw commented on #154
It's missed, I will add it to the documentation soon, thanks!

[2017-10-23 09:07] minggangw commented on #103
I suggest maintaining the compatibility with other ros clients, which have the ability to represent Int64/UInt64. To achieve this, we have to store the int value as a string and let the user balance the interest, when the actual value is greater than `Number.MAX_SAFE_INTEGER`.

[2017-10-24 01:57] qiuzhong commented on #154
@minggangw , not fixed completely. Clicking `validator` module link in the home page of documentation, it said `http://127.0.0.1:8080/module-validator.html`  was not found. (I host the docs via `http-server` command line)

[2017-10-24 02:06] minggangw commented on #154
Rechecking...

[2017-10-24 02:11] minggangw commented on #154
Oh, stupid I forget to add the newly created html files, let me add them, thanks!

[2017-10-24 02:31] minggangw commented on #103
Let me close this issue as we don't want lost any information from other client when using `Int64/UInt64`, and the caller should be aware of using a string to represent the `Int64/UInt64` value.

[2017-10-24 02:31] #103 closed, assigned to nobody

[2017-10-24 03:03] qiuzhong commented on #103
It's acceptable as the JavaScript integer implementation limit.

[2017-10-24 05:30] #154 closed, assigned to nobody

[2017-10-24 05:36] minggangw commented on #53
We are going to leverage the [spdlog](https://github.com/gabime/spdlog) for C++ code and the [debug](https://github.com/visionmedia/debug) for the JavaScript code to log the information which is useful. Both of them have been added as dependencies in `rclnodejs`.

[2017-10-24 05:41] minggangw commented on #54
As the ROS2.0 itself is in the beta release status, I'd like to postpone this task until the first stable release of ROS2.0, thus we can align with the official tutorial well. The roadmap of ROS2.0 is [here](https://github.com/visionmedia/debug), the first stable release will occur on Dec 8th, 2017.

[2017-10-24 05:59] qiuzhong commented on #154
Verified. It's complete now. Thanks!

[2017-10-30 02:19] #123 closed, assigned to qiuzhong

[2017-10-30 02:31] qiuzhong commented on #123
Verified. Just tested on Windows 10 & macOS 10.12.6 and all tests passed!

[2017-11-01 01:51] #53 closed, assigned to nobody

[2017-11-01 01:54] minggangw commented on #53
For the C++ part, #161 will be merged later, and after that all the logging functionality will be implemented.

[2017-11-07 02:39] qiuzhong opened #165 "README may still lead build errors"
The REAMD.md documentation is still confusing for the users who are new. This is especially true for Windows users:

* On windows, the building and testing rclnodejs require different Python version interpreters. This is quite troublesome for users.
* To run the unit test on Windows, some C++ code should be compiled and this requires the VS Native Tools command prompt.

Besides, the README didn't

[2017-11-07 04:55] #165 closed, assigned to nobody

[2017-11-10 05:47] qiuzhong opened #173 "Add istanbul package to the devDependencies"
Well, for the CI, `npm install -g istanbul` is executed before checking code coverage.  So this is not a problem for CI.

But for end-users, `istanbul` is NOT in the devDependencies field in package.json, so `npm install` will not install it and I got
[code]

[2017-11-10 05:47] qiuzhong commented on #173
@minggangw

[2017-11-10 05:56] minggangw commented on #173
I have submitted pr #172 to remove the execution of istanbul from the `npm test`, which makes the behaviour reasonable as we only need to run this coverage test on ci. So please verify when the pr is merged, thanks!

[2017-11-10 07:52] qiuzhong commented on #173
Since npm script `coverage` is removed from package.json, close it.

[2017-11-10 07:52] #173 closed, assigned to nobody

[2017-11-14 06:13] qiuzhong opened #175 "Significant memory usage increasing for lots of messages or long-time subscription"
For publishers, neither lots of messages nor long time publishing will raise significant memory usage increase.

For subscriptions, lots of messages or long time publishing will raise a significant memory usage increase.
See the following tables:

| messages | time | publisher memory rising | subscription memory rising |
| --- | --- | --- | --- |
| 10k | about 100s | 0.29% | 0.27% |
| 100k | about

[2017-11-14 06:18] qiuzhong opened #176 "Sometimes subscriptions lost messages from multiple publishers"
When there are multiple publisher nodes publishing messages simultaneously, sometimes the subscription seems to be blocking.

We need to investigate why some messages are lost. I'll provide more useful information with `rclpy` client.

[2017-11-16 07:12] kenny-y opened #178 "Publisher.publish() can't take in a raw message when it's an object"
Suggested change (to use `instanceof`):

[code]

[2017-11-16 07:18] kenny-y opened #179 "Consider a new form of rclnodejs.require() to save disk reading cost"
Currently we have to use

[code]

[code]

[2017-11-16 08:41] minggangw commented on #175
It seems that the rising of memory usage is irrelevant to the count of messages the subscription has received, but proportional to the duration of running.

[2017-11-17 02:12] qiuzhong commented on #175
| scenario | time | messags | interval | publisher memory rising | subscription memory rising |
| --- | --- | --- | --- | --- | --- |
| rclpy publisher <-> rclpy subscription| about 1000s | 100k | 10ms | 1.10% | 15.60% |
| rclnodejs publisher <-> rclpy subscription | 16 hours | 57592 | 1000ms | - | 14.66% |

[2017-11-17 03:23] minggangw commented on #175
From the statistics, the rclpy client as a subscription has an approximate increasement of memory usage compared with rclnodejs. I am going to retest the same use case. If I get the same result, the memory consumption may be caused by the middle ware of ROS.

[2017-11-17 06:50] minggangw commented on #178
Yes, we should use `instanceof` here, I will fix it.

[2017-11-20 05:47] kenny-y opened #183 "Consider making getCurrentGeneratorVersion() function async"
Since `getCurrentGeneratorVersion()` is used in a promise-returning function `init()`, there is no reason to make it a sync call...

[2017-11-20 06:12] kenny-y opened #184 "Consider implementing fine-grain destroyXXX() method"
These are the unimplemented methods of a `Node`, which provide fine-grain control of the objects inside a node.

[code]

[2017-11-20 08:24] qiuzhong commented on #176
I did the same tests for `rclpy` version. The message losing also exists on for the `rclpy` version and the losing rate is even higher than `rclnodejs` client library.

[2017-11-20 08:43] qiuzhong opened #185 "Please include the test folder for the istanbul coverage tool"
By default, the `test` folder is skipped by `istanbul` tool. Please include this folder explicitly.

[2017-11-20 08:44] qiuzhong commented on #185
@minggangw , would you please do me a favor for this? Then I can know the coverage rate of the UT and improve it.

[2017-11-20 09:08] minggangw commented on #185
Sure

[2017-11-20 09:17] minggangw commented on #176
I suggest keeping an eye on this problem until the fist non-beta release of ROS arrives. If this phenomenon appears constantly then, I think we can submit an issue either for `rclpy` or `rcl`.

[2017-11-20 09:19] minggangw commented on #183
Yes, async is more reasonable here.

[2017-11-21 02:08] #178 closed, assigned to minggangw

[2017-11-21 02:33] minggangw commented on #185
Please check the coverage result when b453d199778 is landed.

[2017-11-21 02:48] qiuzhong commented on #185
Thanks! Close it.

[2017-11-21 02:48] #185 closed, assigned to minggangw

[2017-11-21 06:18] #183 closed, assigned to minggangw

[2017-11-22 05:48] kenny-y opened #189 "Change of API: hide ROSMessageWrapper type"
Purpose:
 - Remove `rclnodejs.require()` from customer-visible API
 - Use string directly to create publisher/subscriber/client/service
 - Provide a function that can create a blank message/request JavaScript object for later use
 - Add Response class for writing response to client

Example code 1:

[code]

Example code 2:

[code]

Example code 3:
[code]

Example code 4:

[code]

[2017-11-22 05:50] kenny-y opened #190 "publisher.publish() is expected to throw exception in case of failure"
When there is a failure, throw an exception to inform caller.

[2017-11-22 07:00] kenny-y opened #191 "Make sure large data are represented in TypedArray, and also make sure there is no deep copy"
Purpose:
 - Make sure the data is represented in `TypedArray` (instead of JavaScript `Array`)
 - No deep copy when copying messages

e.g. in `sensor_msgs/msg/Image.msg`

[code]

[2017-11-22 09:19] minggangw commented on #184
As 514c2a914 has landed, @qiuzhong please add the corresponding unit tests, thanks!

[2017-11-22 10:56] qiuzhong commented on #184
Sure.

[2017-11-23 07:03] #179 closed, assigned to minggangw

[2017-11-23 07:32] minggangw commented on #184
As the test case has completed since 44e834d4, close this issue now.

[2017-11-23 07:32] #184 closed, assigned to minggangw

[2017-11-23 07:43] qiuzhong commented on #184
Verified. All extra destroy methods implemented.

[2017-11-24 05:24] minggangw commented on #190
Close it as 84f269276 landed.

[2017-11-24 05:24] #190 closed, assigned to minggangw

[2017-11-27 02:11] qiuzhong commented on #179
Verified. New style requiring `const whatIWant = rclnodejs.require('geometry_msgs/msg/Twist');` now is supported.

[2017-11-27 03:27] minggangw commented on #179
Thanks!

[2017-11-27 03:28] minggangw commented on #184
Thanks!

[2017-11-27 06:44] kenny-y opened #204 "Implement ROS time/clock"
Ref: http://design.ros2.org/articles/clock_and_time.html

[2017-11-28 03:04] minggangw commented on #189
That simplifies the invoking and makes it clear :+1:

[2017-11-28 06:49] qiuzhong commented on #189
@kenny-y , @minggangw , so what about the `client/service` case? Does this change also apply to the `node.createClient` and `node.createService` as well?

[2017-11-28 06:55] qiuzhong commented on #189
Sorry. I didn't see `Use string directly to create publisher/subscriber/client/service`.

[2017-11-29 04:52] minggangw commented on #189
Reopen this as 359541685 is only part of this feature.

[2017-11-29 09:07] kenny-y opened #209 "Better debug message"
e.g. in `Service.processRequest()`

Change
[code]
into
[code]

[2017-11-29 11:37] kenny-y commented on #189
@qiuzhong Examples in description were updated to better illustrate the change...

[2017-11-30 02:37] qiuzhong commented on #189
Thanks, @kenny-y , so the usage of response in the callback of `client.sendRequest()` should be like this?
[code]

[2017-11-30 02:45] kenny-y commented on #189
Yes, this response class is more clear in concept than returning an object, plus that providing an empty response object as parameter is informal.

The response object concept is common among server programming environments, e.g. ASP, JSP, ...

![image](https://user-images.githubusercontent.com/3302320/33410476-5b833486-d5bb-11e7-84ab-e90aa4a8e34c.png)

[2017-11-30 05:49] #189 closed, assigned to kenny-y

[2017-11-30 05:51] kenny-y opened #211 "Merge loader.loadInterface() & rclnodejs.require()"
They're similar, and both (mostly) for internal purpose.

The request is from https://github.com/RobotWebTools/rclnodejs/pull/210

[2017-11-30 05:55] kenny-y commented on #191
Started working on this one.

[2017-11-30 06:29] qiuzhong opened #212 "node.createTimer() or setInterval() from node.js"
I feel like the `node.createTimer(period, callback)` behaves like the `setInterval()` from node.js. What's the difference between them? Should I use which one in the unit tests?

[2017-11-30 06:29] qiuzhong commented on #212
@minggangw , @kenny-y

[2017-11-30 07:06] minggangw commented on #212
The timer provided by `rclnodejs` is leveraging the one from [rcl](https://github.com/ros2/rcl/blob/master/rcl/include/rcl/timer.h#L63) lib, and it supports to set the interval's granularity by `nanoseconds` (`rclnodejs` supports millisecond now, because we have [limitation](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/MAX_SAFE_INTEGER) of maximum integer

[2017-11-30 08:05] minggangw opened #215 "Ready for Alpha 2 release for rclnodejs"
After issue #211, #209 are fixed and pr #213 is merged, we can move forward to have our next important release. @kenny-y @qiuzhong @Honry

Hope we can achieve this by the end of this week :smiley:

[2017-11-30 08:11] Honry commented on #215
Cool!

[2017-11-30 08:47] #209 closed, assigned to minggangw

[2017-11-30 13:56] #211 closed, assigned to minggangw

[2017-12-01 03:33] kenny-y commented on #212
Adding a relevant point here: maybe we should enable 2 forms of `node.createTimer()` API, e.g.

[code]

[code]

[2017-12-01 05:42] minggangw commented on #215
We have released the latest 0.2.0-alpha.2 on [npmjs.com](https://www.npmjs.com/package/rclnodejs), thanks all to make it happen soom :+1:

[2017-12-01 05:42] #215 closed, assigned to minggangw

[2017-12-01 11:21] kenny-y opened #218 "Untested copy constructor wrong behavior"
`this._wrapperFields.data =  new Int16Wrapper(other._wrapperFields.data)` is wrong, it should be an array.

Generated Code undef `/generated/` dir:
[code]

[2017-12-04 01:59] kenny-y opened #220 "Make It Efficient: Primitive Type ROS Array"
We should use direct `type* buffer` for primitive type ROS array bases on the below findings.

![image](https://user-images.githubusercontent.com/3302320/33533035-a5888dd0-d8d9-11e7-8bda-cbc92ccec4e7.png)

[2017-12-04 02:00] kenny-y commented on #220
cc @minggangw It looks like we overlooked this before...

[2017-12-05 01:20] qiuzhong commented on #212
Thanks all. That's clear. I think we can close this issue.

[2017-12-05 01:20] #212 closed, assigned to nobody

[2017-12-05 01:29] qiuzhong commented on #189
Verified. Now these APIs are much easier and more intuitive to use.

[2017-12-05 08:19] minggangw opened #222 "Cross-language interaction failed"
Recently when running script:
[code]

The appveyor ci fails consistently, please see pr #221, and I noticed that the failed cases are the ones which test the compatibility between `rclnodejs` and `rclpy`/`rclcpp` clients. We verify the messages by reading what has been written to the std out, which may cause some mistake when the console outputs more. e.g. If we enable the debug build, there will

[2017-12-05 08:28] minggangw commented on #222
Using our development machine on Linux, all unit tests can pass. But the performance of the machine used by the ci may be not as high as ours, and we have to eliminate the cases which depend on the timing sequence.

[2017-12-06 02:45] qiuzhong commented on #222
@minggangw , indeed, by capturing the recipient standard output is not a perfect way. I wonder in
`rclnodejs publisher -> rclpy/rclcpp subscription` case, how does the subscription send back the message to the rclnodejs publisher nodes? I don't quite understand how to add more `publisher/subscription` nodes in `rclpy/rclcpp` to forward messages?

[2017-12-06 03:17] minggangw commented on #222
We can adopt the policy below:

- In `rclnodejs`, create a publisher; In `rclpy`, create a subscription.
- The publisher of `rclnodejs` sends a message to subscription.
- The subscription receives the message from the `rclnodejs` side, then uses another publisher to send back what it just received.
- Again, in `rclnodejs`, create a subscription to receive message from `rclpy` to verify if the mess

[2017-12-06 06:17] qiuzhong opened #225 "Publisher/Subscription blocked when a lot of messages are sending on Windows"
We encountered the blocking between publisher and subscription when we tried to send 100k messages from publisher to subscription. It's not always happened but we encountered it once.

## How we encountered it?
* Launch a subscription
`node 01-one-subscription-100k.js`

* Launch a publisher to send 100k messages of `std_msgs/msg/String`
`node 01-one-publisher-100k.js`

The publisher/subscription a

[2017-12-06 06:23] qiuzhong commented on #225
Both of them stopped at 38654 sending.

[2017-12-06 07:21] kenny-y opened #226 "Investigate: intra process message"
TODO

[2017-12-06 07:51] minggangw commented on #226
ROS Wiki about intra process communication https://github.com/ros2/ros2/wiki/Intra-Process-Communication

[2017-12-06 08:04] minggangw commented on #225
For the memory usage, the cost is on a normal level. When encountering this specific case next time, can we launch a new publisher/subscription, which ensures to work properly,  to identify which end (subscription/publisher) is hanging.

e.g. for one case, the publisher is dead, but the subscription call still receive messages from another publisher by the same topic.

[2017-12-07 06:20] qiuzhong commented on #222
I tried the new strategy to verify the interaction between publisher/subscription and it works. However, there is another issue: the `rclpy` node is quite slow. If run the `rclnodejs` test cases as soon as I launch the `rclpy` node, the `rclpy` node often fails to response as it may not be initialized. So maybe I should still use the timer to send message from `rclnodejs` publisher to `rclpy` subs

[2017-12-07 06:48] qiuzhong commented on #222
The following unit test files are using the console output and need to use the new strategy for verification:
* test-cross-lang.js
* test-msg-type-cpp-node.js
* test-msg-type-py-node.js
* test-multi-nodes.js

[2017-12-07 06:53] minggangw commented on #222
I think we can take advantage of the `stdout` here. When the `rclpy` is ready, then send a specific text, and `rclnodejs` will listen to the output of `stdout` to check the existence of the keyword. Compared with the previous usage of `stdout`, we do not have to find the wording exactly.

[2017-12-07 06:58] qiuzhong commented on #222
You mean checking the output (like RegExp) rather than exact word comparison?

[2017-12-07 07:32] minggangw commented on #222
Yes, we don't need to do something like `deepEqual`.

[2017-12-08 05:49] qiuzhong commented on #222
I update the unit tests to use RegExp for checking the console output. This is for improving the CI pass rate temporarily.

[2017-12-08 07:16] Christywl commented on #175
Using the latest ROS2 and rclnodejs, I also find this issue for publisher/subscription and client/service:

| Scenario | Message | publisher memory rising | subscription memory rising |
| --- | --- | --- | --- |
| 24-hours-publisher.js/24-hours-subscription.js | 100k | 9.37% | 17.09% |

| Scenario | Client Increasing Rate | Service Increasing Rate |
| --- | --- | --- |
| one-hours-client.js/one-ho

[2017-12-08 07:21] Christywl commented on #176
I see the similar issue during the Client/Server testing.

multi-clients<-->one-service:

![image](https://user-images.githubusercontent.com/20039821/33755352-5177ba22-dc2b-11e7-8038-e76c44ece963.png)

[2017-12-10 10:39] #218 closed, assigned to minggangw

[2017-12-11 02:28] minggangw commented on #175
Did you test this case on [Ardent Apalone](https://github.com/ros2/ros2/wiki/Release-Ardent-Apalone)?

[2017-12-11 02:28] minggangw commented on #176
Did you test this case on [Ardent Apalone](https://github.com/ros2/ros2/wiki/Release-Ardent-Apalone)?

[2017-12-11 02:55] Christywl commented on #175
Before that, I run the tests based on https://github.com/ros2/ros2/commit/b12ebdc199c5c41f5ddfda9dabf0abc21a936d6b

[2017-12-11 06:20] Christywl commented on #176
Before that, I run the tests based on ros2/ros2@b12ebdc

[2017-12-11 07:10] kenny-y commented on #220
Most feature is done in: https://github.com/kenny-y/rclnodejs/tree/zero-copy-typed-array

I still need to add more test cases for
 - Array.copy() and all other changed methods
 - Single-value & array when type is Int64/Uint64
 - A memory booking mechanism to make sure every chuck of memory will be deallocated

[2017-12-12 05:14] kenny-y opened #231 "Verify on all platforms: ARM/x86, 32/64bit"
We're doing development on 64bit x64 Win/Linux/Mac... we don't have proof that rclnodejs works on other supported platforms yet.

[2017-12-12 05:25] qiuzhong commented on #231
@kenny-y , I thought you mean `x86-64` or `amd64`, which is totally different with `ia64`.  Now `IA32`  32/64bit are supported and not tested on ARM platform.

[2017-12-12 06:07] kenny-y commented on #231
Yes ia64 was a typo 👍

[2017-12-12 07:40] kenny-y opened #232 "Failed to Assign a New Value to an Array Element"
The following test case would fail

[code]

The root cause is that the getter of data property is wrong. We should cache an array in `this` object, clear that cache array when it's necessary, and generate the cache array when requested in `.data` getter when it's empty.

e.g. This the generated code for Int64MultiArray
[code]

Resolution
[code]

TypedArray implementation doesn't have this issue so

[2017-12-12 07:44] kenny-y commented on #232
@minggangw Would you please look into this? I suppose we should clear `this.dataArray` when doing `.copyRefObject()`, and we should copy `this.dataArray` to `this._wrapperFields['data']` when necessary... is there anything else?

[2017-12-12 07:53] minggangw commented on #231
I have checked the document of the three current ci we use, non of them supports the arm arch.

[2017-12-12 07:53] minggangw commented on #232
I will take this.

[2017-12-12 09:36] kenny-y opened #233 "Generated messages: some methods should be static"
[code]

[2017-12-12 09:46] kenny-y opened #234 "Performance: make sure large arrays are all processed effeciently"
Array usage samples:

[code]

[2017-12-12 09:51] kenny-y opened #235 "Error Reported When Providing An Empty Object Array"
Test Case
[code]
The error:
[code]

Providing `fields: [{}]` can work around this issue.

[2017-12-13 05:33] kenny-y opened #237 "Return value of rclnodejs.createMessageObject() is not translated to plain JavaScript object"
Also the arrays members are empty, should we fill in a placeholder element, esp. when it's an object?

[2017-12-13 05:34] kenny-y commented on #237
The jsdoc comment of this function is also missing.

[2017-12-13 07:56] kenny-y commented on #231
Let's keep this open and look for solution in the long run :)

[2017-12-14 05:32] #191 closed, assigned to kenny-y

[2017-12-14 05:32] #220 closed, assigned to kenny-y

[2017-12-14 07:25] kenny-y commented on #233
Mark this as low priority manually...

[2017-12-14 07:43] kenny-y opened #239 "Add script to pack for npmjs.com, using a new README.md"
The current `README.md` is for github repo, not 100% suitable for npmjs.com usage.

So I'd like to introduce a new one. When we want to do `npm publish`, we run a script to substitute README.md and then use `npm pack` to generate a tarball and finally publish the tarball instead of the repo dir.

[2017-12-15 02:19] #237 closed, assigned to kenny-y

[2017-12-15 06:28] qiuzhong opened #241 "No consistent type checking for string before publish"
Suppose we create a publish with `std_msg/msg/String` message.
[code]
Seems publisher with `string` type can work with `object` type.
But if I publish another inconsistent primitive type like `publisher.publish(255);` then a `TypeError` can be  thrown:
[code]

[2017-12-15 06:30] qiuzhong commented on #241
@kenny-y , @minggangw , I was doing some fuzzing API testing with random parameters. And I was using the inconsistent message type on purpose.

[2017-12-15 06:33] qiuzhong commented on #241
Not limited to `std_msgs/msg/String`, seems any standard message types can accept `object` as the publishing data.

[2017-12-15 06:47] kenny-y commented on #241
Yes, `.publish()` should throw an error when the argument is ill-formed.

I remember this was planned but delayed... I had talked to @minggangw on this topic when I was doing plain message translation (#189), it was tracked in #190

[2017-12-15 06:48] qiuzhong commented on #241
Well, `publisher.publish()` can accept JavaScript primitive types or object. The issue is not whether it can accept object while the message is known, but any object data no matter if it's legal or not can be published.

[2017-12-15 07:20] kenny-y commented on #241
From my understanding we want to do this:

For `'std_msgs/std/String'`, we want to accept `{data: 'xxx'} OR 'xxx'` as an argument but reject `{what: 129}`
To generalize that we can conclude that the unexpected object structure/value-type should be rejected.

Anything missing here?

[2017-12-15 07:52] qiuzhong commented on #241
I agree with you.

And the rule should be applied to all standard message types.

[2017-12-18 02:48] qiuzhong opened #243 "Undefined properties of requests are converted to 0 in the callback of createService"
Let's say the client sends an ill-formatted request `{a:1}` for the service `example_interfaces/srv/AddTwoInts` (which requires two properties in the request), in the callback of
`createService`:
[code]
We get this output:
[code]

Undefined property `request.b` is converted to 0 and doesn't throw an Error. If you print the type of request.b, it's `number`.

[2017-12-18 05:42] qiuzhong commented on #243
@kenny-y , @minggangw , what do you think?

[2017-12-19 02:27] qiuzhong opened #244 "No implicit signal handler for rclnodejs"
Well, for `rclcpp` and `rclpy`, if a process is in the event loop, pressing `Ctrl + C` will raise `signal_handler(2)` and `KeyboardInterrupt` and then get the return value `0` and `1` respectively. So this means the `rclcpp` and `rclpy` already handle `SIGINT` by default, users don't need to write explicit handler for cleanup.

But for a `rclnodejs` process, pressing `Ctrl + C` will simply termina

[2017-12-19 06:05] qiuzhong commented on #234
Can this requirement be more specific? I need a quantitative data for the "large size array". Is an image (1920*1080, 32bit palettes) big enough for this performance testing?

[2017-12-20 02:10] minggangw commented on #243
Sorry for the late response, when we create a JavaScript object in `rclnodejs`, and a c struct memory will be allocated simultaneously, which is done by [ref](https://www.npmjs.com/package/ref). So, I think why you get `b == 0` is that the `ref` sets default value for the members of the struct, even though there is no corresponding property in JavaScript object.

[2017-12-20 02:13] minggangw commented on #222
Hi @qiuzhong how about the progress of this issue?

[2017-12-20 02:16] minggangw commented on #244
That' right, we must cleanup when the process is terminated.

[2017-12-20 02:18] minggangw commented on #239
33ce31e33b1 and d26fb4df have landed, so close this issue, thanks!

[2017-12-20 02:18] #239 closed, assigned to kenny-y

[2017-12-20 02:32] qiuzhong commented on #222
I'm afraid it's not as easy as I thought. The publisher/subscription model is just fine. But I got some block for the client/service model even on my Linux system. I'm fixing them.

[2017-12-20 02:35] qiuzhong commented on #243
So is this the well-defined behavior for `rclnodejs`? If so, I don't think it's a robust service to accept ill-formatted requests.

[2017-12-20 02:48] kenny-y commented on #243
I think this and #241 can fall into the same category -- strict structure/type checking before using the object

[2017-12-21 08:27] #244 closed, assigned to minggangw

[2017-12-22 02:16] qiuzhong commented on #244
Verified.

[2017-12-22 04:50] #233 closed, assigned to kenny-y

[2017-12-25 07:22] #232 closed, assigned to minggangw

[2017-12-25 09:26] #235 closed, assigned to kenny-y

[2017-12-26 03:03] kenny-y commented on #204
This feature is required in authentication feature of Node.js RWT Bridge for ROS 2.0 project...

Update: [ros2-web-bridge](https://github.com/RobotWebTools/ros2-web-bridge) shouldn't depend on this feature since clients in browser won't be able to get time of ros/steady clock to do authentication, they have to use JavaScript time (system clock time).

[2017-12-26 05:58] kenny-y commented on #204
Considering implement the missing `rcl_clock_*` APIs... defined in `<rcl/time.h>`, which was re-written in recent months

@minggangw

[2017-12-28 05:21] qiuzhong commented on #222
This issue has not been completely fixed.

[2017-12-28 05:38] minggangw commented on #222
I notice that there is still frequent failure on mac/linux platforms, so I suggest reverting 5bf3230bcf first and reland when it gets fixed.

[2017-12-29 02:45] qiuzhong commented on #222
I'm confused. I cannot reproduced in my branch on the CI right now.

[2017-12-29 07:55] qiuzhong commented on #222
#256 all passed to fix this. But let's keep this issue for a while and see if the failure happen again in future.

[2018-01-02 02:24] #222 closed, assigned to qiuzhong

[2018-01-03 07:27] minggangw commented on #222
During the recent commits, all the ci tests passed! It seems cba40f313 has resolved this stubborn problem, excellent job @qiuzhong !

[2018-01-22 08:32] minggangw commented on #54
The ROS2 [tutorial](https://github.com/ros2/ros2/wiki/Tutorials) has been published, so we can reference it to write ours now.

[2018-01-23 13:54] prasun2712 opened #260 "Error in npm install"
make: Entering directory '/home/username/rclnodejs/build'
  CXX(target) Release/obj.target/rclnodejs/src/addon.o
cc1plus: error: /home/username/ros2_ws/install_isolated/common_interfaces:/home/username/ros2_ws/install_isolated/visualization_msgs:/home/username/ros2_ws/install_isolated/rviz_default_plugins:/home/username/ros2_ws/install_isolated/rviz2:/home/username/ros2_ws/install_isolated/rviz_co

[2018-01-24 09:46] minggangw commented on #260
I suggest using the binary package of ROS2, you can download from http://ci.ros2.org/view/packaging/job/packaging_linux/lastSuccessfulBuild/artifact/ws/ros2-package-linux-x86_64.tar.bz2, or do not build by `--isolated`

[2018-01-24 09:55] minggangw commented on #260
Also I prefer upgrading your nodejs to LTS carbon (v8.9.4), we will point out the required nodejs version ASAP in README. Please ping me if you resolve this problem, thanks!

[2018-01-29 05:03] minggangw commented on #260
As f628b9a5 and 1d8c49e are landed, the problem should be resolved and close this thread.

[2018-01-29 05:03] #260 closed, assigned to nobody

[2018-02-05 07:07] minggangw opened #265 "Compile error"
Because the [rcl](https://github.com/ros2/rcl) landed a commit ros2/rcl@44801b398e6f0, which leads to the failure build of rclnodejs. We must change our code accordingly.

[2018-02-05 09:29] #265 closed, assigned to minggangw

[2018-02-06 02:17] qiuzhong commented on #265
Verified. This compilation error has been fixed. But please publish it to npmjs repository.

[2018-02-09 11:23] wchuchnowski opened #267 "Error in npm install on the instance Google Cloud Platform"
wchuchnowski@instance-1:~/ros2_install/rclnodejs$ node-gyp rebuild
gyp info it worked if it ends with ok
gyp info using node-gyp@3.6.2
gyp info using node@6.11.4 | linux | x64
gyp WARN download NVM_NODEJS_ORG_MIRROR is deprecated and will be removed in node-gyp v4, please use NODEJS_ORG_MIRROR
gyp WARN download NVM_NODEJS_ORG_MIRROR is deprecated and will be removed in node-gyp v4, please use NODE

[2018-02-11 01:25] qiuzhong commented on #267
It seems your `rcl` package is not recent. See [ros2/rcl@44801b3](https://github.com/ros2/rcl/commit/44801b398e6f053eb6b474d2caf9bb5319e3add3) and #266 keeps aligned with the this change. Please update `rcl` package and rebuild `rclnodejs`.

[2018-02-11 02:33] minggangw commented on #267
Hi @wchuchnowski as our module `rclnodejs` is built on the latest [master](https://github.com/ros2/ros2/blob/master/ros2.repos) branch of ROS 2, the code of [rcl](https://github.com/ros2/rcl) may change. The error you met is due to the change of the interface of timer in `rcl` recently (You could reference @qiuzhong 's comment above).

I suggest you can download the binary package from the [ci.ros

[2018-02-11 03:43] minggangw commented on #267
The [ROS 2 Ardent Apalone - 2018-02-09](https://github.com/ros2/ros2/releases/tag/release-ardent-20180209) was released a day ago, which also resolve the error above.

[2018-02-11 09:24] minggangw opened #268 "Add getter method isShutdown for rclnodejs"
If the `rclnodejs` module has been shut down, there is no method to query this status and when calling `shutdown()` the second time, a exception will be thrown. So we should add a `getter` method for querying this status.

[2018-02-11 09:57] minggangw opened #270 "Remove science"
Remove science from `circle.yml` as  homebrew/science was deprecated.

[2018-02-11 14:39] wchuchnowski commented on #267
Thanks for your help. I installed ros2 from master source and it works. Great thx

[2018-02-11 14:39] #267 closed, assigned to nobody

[2018-02-12 02:13] minggangw commented on #270
As https://github.com/RobotWebTools/rclnodejs/commit/5edfd509d9be4f88511657cf1c73d57e8d7864a3 has landed, close this issue.

[2018-02-12 02:13] #270 closed, assigned to nobody

[2018-02-12 03:33] #268 closed, assigned to minggangw

[2018-02-13 06:44] kenny-y commented on #226
We might want to pick up this at some time in the future (Need to convert this to a feature)

[2018-02-22 05:45] minggangw commented on #241
dup with #243

[2018-02-24 03:24] minggangw opened #272 "Misusage of assert.ok() in UT"
I found a problem in https://github.com/RobotWebTools/rclnodejs/blob/develop/test/test-compound-msg-type-check.js#L62

[code]

I think we should use `assert.deepStrictEqual()` here, @qiuzhong please double check it, thanks!

[2018-02-24 05:21] qiuzhong commented on #272
@minggangw , thanks! You're right, I'll correct it soon.

[2018-02-24 06:52] #272 closed, assigned to qiuzhong

[2018-02-26 07:04] qiuzhong commented on #241
Fixed by #274.

[2018-02-26 07:04] qiuzhong commented on #243
Fixed by #274

[2018-02-26 07:10] #243 closed, assigned to nobody

[2018-02-27 01:46] #241 closed, assigned to minggangw

[2018-03-01 06:15] minggangw opened #277 "Add rclnodejs benchmark test used for PnP"

[2018-03-01 06:16] minggangw opened #278 "Add rclpy benchmark test used for PnP"

[2018-03-01 06:16] minggangw opened #279 "Add rclcpp benchmark test used for PnP"

[2018-03-02 02:32] minggangw opened #280 "Add benchmark for rclnodejs"
We want to create the PnP (Power and Performance) tests for rclnodejs to compare with its counterparts - [rclpy](https://github.com/ros2/rclpy) and [rclcpp](https://github.com/ros2/rclcpp), and we want to collect data from the following aspects:

- CPU usage
- Execution time
- Memory cost

The whole task has been divided into three sub issues: #277, #278 and #279.

[2018-03-05 08:25] minggangw opened #281 "Add logging interface"
Add the [logging binding](https://github.com/ros2/rcutils/blob/master/include/rcutils/logging.h) for rclnodejs module.

[2018-03-07 06:42] qiuzhong opened #284 "Test cases of multiple nodes failed on CI"
When we upgrade node.js to 8.10.0, the CI on Linux failed for the test cases that has multiple nodes publisher/subscription. Such as #282 #283.

I didn't reproduce this on my local Linux machine.

[2018-03-09 08:59] minggangw commented on #284
PR #283 has merged, the circleci can pass the ut on macOS now.

[2018-03-09 10:17] vincentrou opened #286 "Installation not working with an ament overlay ws"
When calling npm install with `$AMENT_PREFIX_PATH = /home/vincentrou/ros2_ws/test_ws/install:/opt/ros/ardent/`
Here is the error :
[code]
The file `build/rclnodejs.target.mk` contains a wrong include path :
`-I/home/vincentrou/ros2_ws/test_ws/install:/opt/ros/ardent/include`
Instead of :
`-I/home/vincentrou/ros2_ws/test_ws/install/include`
`-I/opt/ros/ardent/include`

[2018-03-12 02:27] #284 closed, assigned to qiuzhong

[2018-03-12 02:58] minggangw commented on #286
The root cause here is you install two copies of `ROS2`, one is built from source and the other is from binary package (I guessed that from the content of  ```$AMENT_PREFIX_PATH``` variable you wrote), and when compiling the node.js module, the ```$AMENT_PREFIX_PATH``` will be considered as only one path (but here you had two) which triggered the compiling error.

[2018-03-12 08:34] vincentrou commented on #286
I do not have two copies of ROS2. ROS2 is only installed in `/opt/ros/ardent/`.
My overlay workspace `/home/vincentrou/ros2_ws/test_ws` only contains some custom messages that I want to use with rclnodejs.
So the $AMENT_PREFIX_PATH value (`/home/vincentrou/ros2_ws/test_ws/install:/opt/ros/ardent/`) seems perfectly normal.
I manage to make it work by calling `node-gyp build` instead of `node-gyp re

[2018-03-12 08:55] minggangw commented on #286
I see, I am going to fix this issue to make the compiling successful.

[2018-03-13 02:15] minggangw opened #287 "Clear the containers of the handles before collecting them again"
Currently we [collect](https://github.com/RobotWebTools/rclnodejs/blob/develop/src/handle_manager.cpp#L41) the handles without clear the contains, which will lead to recounting the handles.

We must clear the containers before collecting them again.

[2018-03-13 07:51] #287 closed, assigned to minggangw

[2018-03-13 09:59] minggangw commented on #286
@qiuzhong would you please help verify this issue (you can create a simple ROS2 application by `ament` and source its `local_setup.bash`, then build the `rclnodejs`. I have verified Linux&Windows platform). If it is fixed, I will close this issue.

@vincentrou would you `npm install` from github to see if it has been fixed, thanks for your investigation.

[2018-03-13 12:09] vincentrou commented on #286
It works for me, thanks.

[2018-03-14 02:35] qiuzhong opened #291 "[Reg] Unit tests got a lot of failures when AMENT_PREFIX_PATH is overrided"
This issue is triggered from #286 .

That is when the ROS2 environment variable `AMENT_PREFIX_PATH` is overrided with some other path plus the real `ros2/install` path, the install error of #286 is fixed, but it raises a lot of failures when running the unit tests. Even the unit test suite `test-message-translator` failed.

After replace the `AMENT_PREFIX_PATH` to a single `ros2/install` path, thi

[2018-03-14 02:38] qiuzhong commented on #286
@minggangw , I tried on Windows and Linux. The installation issue was fixed. But in that case, I found another issue, see #291

[2018-03-14 02:39] qiuzhong commented on #291
@minggangw , I think we simply should not override the `AMENT_PREFIX_PATH`.

[2018-03-14 05:57] minggangw commented on #291
Thanks, I will check it soon.

[2018-03-14 06:42] minggangw commented on #286
So let's close this issue as it has been fixed and keep the #291 open.

[2018-03-14 06:42] #286 closed, assigned to minggangw

[2018-03-14 09:03] #291 closed, assigned to minggangw

[2018-03-14 09:05] minggangw commented on #291
Hi @qiuzhong would you please verify this issue under the situation when the `AMENT_PREFIX_PATH` contains more than one path, thanks!

[2018-03-14 09:40] qiuzhong commented on #291
@minggangw , with PR293 most failures above are fixed. But there are still some test cases failed due to they will use the `AMENT_PREFIX_PATH` to find the ROS2 applications like  `talker`. However, with multiple paths, the pathname of these applications are invalid.

[2018-03-14 09:43] qiuzhong commented on #291
In such case, I don't know which path is the "real" path of ROS2 environment. Basically, this issue will not happen on the CI. I don't think we need to modify the test cases for this specific condition.

[2018-03-15 02:29] minggangw commented on #291
I agree, as we will not meet multi-path case on CIs, let's mark this issue as fixed. Thanks!

[2018-03-20 02:03] minggangw commented on #280
I will add a README instruction about how to run the benchmark tests for rclnodejs, rclpy and rclcpp respectively.

[2018-03-26 05:13] #277 closed, assigned to minggangw

[2018-03-26 05:22] #278 closed, assigned to minggangw

[2018-03-26 06:27] #279 closed, assigned to minggangw

[2018-03-26 07:12] #280 closed, assigned to minggangw

[2018-03-27 05:17] kenny-y commented on #281
test test test

[2018-03-27 05:17] kenny-y commented on #281
test test test test

[2018-03-29 05:32] qiuzhong opened #301 "Thread race condition"
As `rclnodejs` is the dependency of `ros2-web-bridge`, there is [thread race condition](https://github.com/RobotWebTools/rclnodejs/blob/develop/src/executor.cpp#L102) which may lead the `ros2-web-bridge` server crash.

There are already some tricky issues in ros2-web-bridge, like [#67](https://github.com/RobotWebTools/ros2-web-bridge/issues/67), [#69](https://github.com/RobotWebTools/ros2-web-brid

[2018-03-29 07:28] minggangw commented on #301
I am going to fix this, thanks!

[2018-03-30 08:48] #301 closed, assigned to minggangw

[2018-04-04 02:27] minggangw opened #305 "[PnP]Customize the number of times the benchmark tests run"
Currently all the PnP tests will run for an certain number of times, we hope we can input this member at the beginning of the test in order to adjust the overload.

[2018-04-08 02:15] #305 closed, assigned to minggangw

[2018-04-09 05:48] minggangw opened #308 "[PnP]Customize the period parameter for publisher tests"
We want to customize the period of the publisher to send a topic when launching the benchmark test.

[2018-04-10 01:58] #308 closed, assigned to minggangw

[2018-04-10 02:31] minggangw opened #310 "[PnP]Use spin_until_future_complete to wait the response"
When we were executing the current PnP client/service stress tests, we found that there was a huge performance gap between the rclcpp and rclnodejs client which should haven't had appeared.

![screenhunter_01 apr 10 10 34](https://user-images.githubusercontent.com/6469275/38533221-d57bd238-3caa-11e8-9a5c-ad00cc5f70d2.jpg)

After checking out the latest [example](https://github.com/ros2/examples/bl

[2018-04-10 03:46] #310 closed, assigned to minggangw

[2018-04-12 02:39] #281 closed, assigned to minggangw

[2018-04-12 03:05] minggangw opened #313 "v0.4.0 release"
With the landing of [logging utility](https://github.com/RobotWebTools/rclnodejs/issues/281) and [benchmark tests](https://github.com/RobotWebTools/rclnodejs/issues/280), I think it is the proper opportunity to release v0.4.0 which will be the first **stable** release of rclnodejs (we have had 8 alpha&beta releases).

Meanwhile, I hope we can illustrate and compare the performance of rclnodejs wit

[2018-04-12 08:33] Honry commented on #313
@minggangw, great achievement! I think we should do a full testing before release.

[2018-04-12 08:48] qiuzhong commented on #313
And this full testing should also contain the protocol tests in `ros2-web-bridge` as a crash bug was found in `rclnodejs` when running ros2-web-bridge tests.

[2018-04-13 02:52] minggangw commented on #313
I will create a check list to track things we want to do in this release. Please edit that list if you have any requirement.

[2018-04-13 03:15] minggangw opened #314 "Add the actions feature in rclnodejs"
We want to support and expose the [actionlib](http://wiki.ros.org/actionlib) interfaces by leveraging the [actionlib_nodejs](https://github.com/RethinkRobotics-opensource/actionlib_nodejs), which is an implementation of actionlib on ROS and ROS2. A another issue https://github.com/RethinkRobotics-opensource/actionlib_nodejs/issues/2 is tracking this task on the repo.

[2018-04-13 06:03] minggangw opened #315 "Add guard condition feature"
We should implement the guard condition based on [rcl](https://github.com/ros2/rcl/blob/master/rcl/include/rcl/guard_condition.h#L32) library.

[2018-04-13 06:05] minggangw commented on #54
The online version of JSDoc has been available at http://robotwebtools.org/rclnodejs/docs/index.html

[2018-04-13 08:24] qiuzhong opened #316 "Fix the disabled test suite blocking issue"
The blacklist.json contains two test suites that are disabled in CI. 2 test cases were always blocked and cause a CI checking failed.

We thought it's caught by the low-performance CI systems. But now it also happened locally when we build rclnodejs with the latest ROS2 package from CI. Though it's not reproduced when rclnodejs was built with an old ROS2 package.

Should be fixed before 0.4.0 vers

[2018-04-16 03:05] qiuzhong commented on #316
It happened in the Node.js rcl service with Python rcl client. In this condition, the workflow is like this:
* Launch Node.js rcl service and wait any other rcl client request
* Launch Python rcl client and it send a request
* Node.js rcl service handles this request and send a response

So far these steps all work. But it gets wrong at the next step:
* Python rcl client hangs after send request a

[2018-04-16 03:18] minggangw commented on #175
Now we have a type of endurance in the [benchmark](https://github.com/RobotWebTools/rclnodejs/tree/develop/benchmark) tests, I think we can utilize those to investigate this potential issue.

[2018-04-16 03:28] qiuzhong commented on #316
This blocking is caused by the old sync `client.call(request)`, now it should use async way:

[code]

[2018-04-17 01:49] #316 closed, assigned to qiuzhong

[2018-05-09 07:33] kenny-y opened #321 "8 test cases failure on Node.js 9.8 (and probably above)"
The error:

[code]

I believe the root cause is here (see below code), on newer version of Node.js, it's a `RangeError` instead of `TypeError`, so I believe we should change `assertThrowsError()` function in `utils.js`, make this parameter an array and pass two types as the array argument to adapt the change in Node.js.

[code]

[code]

[2018-05-09 10:08] qiuzhong commented on #321
Thanks. I'll try it on higher version of Node.js.

[2018-05-10 02:46] qiuzhong commented on #321
With Node.js `9.8`, those test cases failed due to a different error type.
With Node.js `10.x`, there're even more test cases failed: The `std_msgs/msg/Bool` data checking as `assert.ifError()` of Node.js changed.

[2018-05-10 09:04] hanyia commented on #175
scenario | execution time | messags | interval | publisher memory rising | subscription memory rising
-- | -- | -- | -- | -- | --
subscription-endurance-test.js/publisher-endurnance-test.js | 19 hours | 3600000K | 10ms | 45.11% | 31.32%

[2018-05-11 02:33] kenny-y opened #323 "Add indicators to stress benchmark"
The current stress benchmark case (e.g. client-stress) is more like a round trip benchmark, it measures the round trip starting from a `request` being sent to the `response` being received. A stress benchmark of client-service is usually designed to measure
(1) how many clients that a service can serve in parallel
(2) how much resource it would consume
(3) how much degradation of service quality w

[2018-05-11 02:46] kenny-y opened #324 "Use high precision time"
In C++ & JavaScript, the output of time is measured in seconds, while Python provides 3 digits of milliseconds by default. We should improve the precision of C++/JS

[2018-05-11 03:03] #321 closed, assigned to qiuzhong

[2018-05-11 05:22] qiuzhong commented on #321
Fixed and verified on `Node.js 8.11.1/9.8.0/10.1.0`.

[2018-05-11 05:30] hanyia commented on #175
We test subscription/publisher get below result:

scenario | execution time | message | interval | publisher memory rising | subscription memory rising
-- | -- | -- | -- | -- | --
subscription/publisher | 19 hours | 3600000k | 10ms | 45.11% | 31.32%

[2018-05-11 06:41] minggangw opened #325 "[PnP]Remove the period parameter when running stress tests for publisher/subscription"
[Stress testing](https://en.wikipedia.org/wiki/Stress_testing_(software)) is a software testing activity that determines the robustness of software by testing beyond the limits of normal operation. we want to impose a heavy load onto the CPU.

Sometimes, the period parameter we set can not consume the CPU fully, which means the CPU can finish the work within the given time. So we decide to remove

[2018-05-11 08:42] minggangw opened #327 "[PnP]Wrong converting from millisecond to second in Python"
1s = 1000ms

[2018-05-11 09:00] #327 closed, assigned to minggangw

[2018-05-14 02:21] #325 closed, assigned to minggangw

[2018-05-14 07:39] minggangw opened #329 "[PnP]Customize the amount of data to be sent in one loop"
The current stress testing will send a fixed mount of data (10MB), which will be used by publisher/service, here we want to customize it which means the tester can choose how much data he/she wants to send to.

[2018-05-15 06:03] qiuzhong opened #331 "Test cases for generating .msg from .action files"
Since the rclnodejs is about to supporting action feature, see #314 and #319, there should be auto test cases to cover this.

[2018-05-15 09:48] #329 closed, assigned to minggangw

[2018-05-17 03:13] minggangw opened #335 "Curb the warning caused by using the deprecated API"
See the info on [travis-ci](https://travis-ci.org/RobotWebTools/rclnodejs/builds/379566609#L8843)

[code]

[2018-05-17 08:22] #335 closed, assigned to minggangw

[2018-05-18 05:19] minggangw commented on #314
The implementation will be submitted to the [actionlib](https://github.com/RobotWebTools/rclnodejs/tree/actionlib) branch.

[2018-05-18 06:41] qiuzhong commented on #314
@minggangw , is this feature implemented completely by PR #319 ?

[2018-05-18 07:02] minggangw commented on #314
No, only part of it, there will be other patches to integrate the functions.

[2018-05-25 02:09] minggangw opened #338 "Use dlerror() to get error message when calling dlopen failed."
Currently we will not check the return value of `dlopen()`, so when the **dlopen** failed, a `nullptr` will be passed to the rcl library, please [see](https://github.com/RobotWebTools/rclnodejs/blob/develop/src/rcl_bindings.cpp#L200):

[code]

We'd better check the |ts| and use `dlerror()` to get the error message to be returned.

[2018-05-25 05:35] qiuzhong opened #339 "AMENT_PREFIX_PATH splitter"
On Linux and macOS, the path splitter is `:` while it's `;` on Windows. If the evrionment variable `AMENT_PREFIX_PATH` contains multiple parts of path, it should consider all platforms.

The following test suites didn't consider all platforms when splitting the path:
* test/test-message-object.js
* test/test-multi-nodes.js
* test/test-cross-lang.js
* test/test-rosidl-message-generator.js

[code]
S

[2018-05-25 06:17] qiuzhong commented on #331
PR #337 was merged on `actionlib` branch and needs to merge to the master branch

[2018-05-25 06:21] #339 closed, assigned to nobody

[2018-05-25 06:22] minggangw commented on #331
Yes, the `actionlib` is a feature branch and will be merged back to the `develop` when all implementations are ready, thanks!

[2018-05-28 02:18] #338 closed, assigned to minggangw

[2018-05-29 08:53] qiuzhong opened #343 "Failed to receive complex type message via bridge"
Let's say we send and receive complex type message like `sensor_msgs/Image`, here is the code based on
[roslibjs]():

[code]

Since there is no way to construct the message object and assign member for it, we can only publish message data in JavaScript object notation way, like above.

However, the subscriber failed to receive the message. We found the subscriber callback was never called and and

[2018-05-30 01:45] minggangw opened #344 "Use process.hrtime to get the time consumption"
In the current benchmarking for rclnodejs client, we use `Date()` to tag the timestamps which is not precise enough.

We should use `process.hrtime` which  returns the current high-resolution real time to do it.

This issue is part of #324

[2018-05-30 02:52] #344 closed, assigned to minggangw

[2018-05-30 03:08] qiuzhong commented on #343
Move to `ros2-web-bridge` repo: [#98](https://github.com/RobotWebTools/ros2-web-bridge/issues/98)

[2018-05-30 03:08] #343 closed, assigned to nobody

[2018-06-01 07:03] #324 closed, assigned to nobody

[2018-06-04 03:24] minggangw opened #349 "Create CMakeLists.txt and package.xml for the .action file"
When we finished the generation of `.msg` from `.action`, we have to create the CMakeLists.txt and package.xml which are used by `ament` to run the `rosidl_generate_interfaces` to generate the typesupport related libraries.

[2018-06-04 09:16] minggangw opened #351 "[rosidl_gen]Accept a plain object to be assigned to the property of a message"
For the current JavaScript messages generated by `rosidl_gen`, if the property is another kind of message, e.g. `std_msgs/Header`

[code]

the `stamp` is the type of `builtin_interfaces/Time`, and you have to assign to it with an object of the exact type.

[code]

We want to implement the code below to simplify it:

[code]

[2018-06-06 02:10] minggangw opened #352 "[rosidl_gen]Add push method for the property of array type"
Some IDLs have properties as `Array`, e.g. `actionlib_msgs/GoalStatusArray`

[code]

We want to implement a `push` method which can append an element into the current array, e.g.

[code]

[2018-06-06 02:21] minggangw opened #353 "[PnP]Unify the time consumption in seconde + milliseconds"
Unify the output of the benchmarking which records the time consumption as:

[code]

[2018-06-06 06:50] #353 closed, assigned to minggangw

[2018-06-08 02:20] minggangw opened #356 "Use postinstall to generate the JavaScript messages"
As the rclnodejs will generate the JavaScript messages based on the IDL files (.srv/.msg), the time consumption of first-time start up is usually over several seconds.

We want to move the generation of the messages to the stage of installing to accelerate the start up speed for the first time.

[2018-06-08 02:33] qiuzhong commented on #351
Tried on `actionlib` branch, the simplified way:
[code]
can work well.

[2018-06-08 06:35] qiuzhong commented on #356
@minggangw , does this mean that `rclnodejs.init()` will not generate these message files any more?

[2018-06-08 07:33] minggangw commented on #356
During the installation (`npm install`), the message files will be created, and if `rclnodejs.init()` finds that the work has been done, they will not generated again which can accelerate the speed of start up.

@qiuzhong please verify this issue with #357 to check if the needed messages are generated after the execution of `npm install`. Thanks!

[2018-06-08 08:11] qiuzhong commented on #356
Sure. I'm testing for it.

[2018-06-08 08:19] qiuzhong commented on #356
Just tried #357  and it worked!

[2018-06-08 09:31] minggangw commented on #352
Some types of the array in rclnodjs are backed by [TypedArray](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/TypedArray) which don't have a push method, we have to consider this situation.

[2018-06-13 06:40] minggangw opened #358 "[PnP]Pass the benchmarking parameters when launching"
To automate the current benchmark tests, we'd better pass the parameters by arguments, e.g.

[code]

[2018-06-14 03:34] #356 closed, assigned to minggangw

[2018-06-14 08:59] minggangw opened #361 "[PnP]Benchmark tests plan CheckList"
Track the Benchmark test tasks (step 1 of 3)

- [x] Add parameters for the command line @minggangw
     - done by #360
- [x] Pre-gen when installing  @minggangw
     - done by #357
- [x]  Add Startup time test  @minggangw
     - done by #363
- [ ]  Performance of different messages  @minggangw
     - `sensor_msgs/PointCloud2` and `sensor_msgs/CompressedImage` with the current    `std_msgs/UInt8Mul

[2018-06-14 09:00] minggangw commented on #351
Close, as already merged with `actionlib` branch

[2018-06-14 09:00] #351 closed, assigned to minggangw

[2018-06-14 09:01] minggangw commented on #331
Close, as already merged with `actionlib` branch

[2018-06-14 09:01] #331 closed, assigned to qiuzhong

[2018-06-14 09:01] minggangw commented on #349
Close, as already merged with `actionlib` branch

[2018-06-14 09:01] #349 closed, assigned to minggangw

[2018-06-14 10:21] minggangw commented on #361
@hanyia @kenny-y I created this issue to track our target of the benchmark test.

[2018-06-14 10:34] minggangw opened #362 "[PnP]Create cases for testing startup time for Node.js/Python/C++ clients"

[2018-06-15 06:50] #358 closed, assigned to minggangw

[2018-06-21 02:04] #362 closed, assigned to minggangw

[2018-06-22 06:20] minggangw opened #367 "Migrate CircleCI to 2.0"
As CircleCI 1.0 will no longer be supported after August 31, 2018, we have to [migrate](https://circleci.com/docs/2.0/migration/) to 2.0 before the deadline.

This is a low priority task.

[2018-06-26 06:21] hanyia commented on #361
Till now, based on our testing, about 250000KB is the maximum capacity of C++/Node.js client and 200000KB as Python(subscription/publisher samples).

[2018-07-02 06:50] qiuzhong opened #371 "Share action file directory"
Currently, there is action file in `test/dodishes_action` directory. Meanwhile the actionlib examples require `ros1_action` directory. We rename the directory name in test to share them so there is only one copy.

[2018-07-02 08:20] qiuzhong opened #372 "Actionlib API documentation"
Rclnodejs API documentation should be updated since actionlib feature is implemented.

[2018-07-02 08:27] qiuzhong opened #373 "Action example guide"
The action feature is implemented and an action client/server example is added. However, to execute this example, a `colcon build` command should be executed for `ros1_action` and generate some .so files for the customized action file.

There should be a detailed guide to instruct how to make it step by step.

[2018-07-09 06:53] minggangw commented on #372
We will do it on the `actionlib` branch first before it is merged back to `develop`. Thanks!

[2018-07-09 06:54] minggangw commented on #371
Absolutely, we only need one of them.

[2018-07-18 09:57] minggangw opened #379 "Use Cppcheck to do static code analysis"
We want to add the [Cppcheck](https://sourceforge.net/projects/cppcheck/) scanning when submitting the PR on Ci.

[2018-07-18 10:01] minggangw opened #380 "Potential memory leak"
See https://github.com/RobotWebTools/rclnodejs/blob/develop/src/rcl_bindings.cpp#L680, the `qos_profile` will never get deleted.

[2018-07-19 01:29] martins-mozeiko opened #381 "Memory leak when deserializing string members"
If message has member with string type the unserialization code will leak memory. It will be freed only when client unsubscribes or disconnects.

Here's an example that reproduces this: https://gist.github.com/martins-mozeiko/7cc78cc65afe323997965e871b30dc6d

talker.py publishes std_msgs/Header message (with frame_id string set) 1000x a second.
When client (from listener.html) is connected, and yo

[2018-07-19 05:19] #379 closed, assigned to minggangw

[2018-07-19 09:47] minggangw commented on #381
Hi @martins-mozeiko It's grateful that you did such a deep and detailed investigation about this memory usage issue, and the information is enough to identify the defect.

The process of receiving a topic in a subscription is just as you analysed above. Because the [rcl](https://github.com/ros2/rcl) functions, which were wrapped by the `rclnodejs`, will allocate memory when receiving a topic, the

[2018-07-19 23:41] martins-mozeiko commented on #381
Ah, I see. So if message object is not passed to rclnode native code it does not need to call destroyRawROS, because all memory allocations happens in JS and GC will take care of them.

I changed processResponse to create message as local variable instead of assigning it to property of this.

    processResponse(msg) {
      let message = new this._typeClass();
      message.deserialize(msg);

[2018-07-19 23:47] martins-mozeiko commented on #381
Btw, I have not used services, but it seems similar change needs to happen also in [service.js](https://github.com/RobotWebTools/rclnodejs/blob/develop/lib/service.js#L69)

[2018-07-20 03:34] minggangw commented on #381
@martins-mozeiko your understanding is right, if we didn't call the functions of `rcl` library, then we don't need to deallocate any memory on heap.

The same issues also exist in client/service when receiving response/request, and I will fix them all ASAP.

@qiuzhong @hanyia @Christywl the old issue #175 which reported the memory usage increasing may have been found the root cause, I suggest we t

[2018-07-23 08:40] #380 closed, assigned to minggangw

[2018-07-23 10:22] #381 closed, assigned to nobody

[2018-07-23 10:29] minggangw commented on #175
Hi @qiuzhong as PR #385， which fixed issue #381， may resolve this old issue too, would you please retest the case mentioned in this thread and see whether there is still a rising of memory consumption.

If we verify the problem doesn't appear again, then we can close it :smile:

Thanks!

[2018-07-24 01:40] qiuzhong commented on #175
@minggangw , surely I'll make a test and report it based on the new fix.

[2018-07-24 03:08] minggangw commented on #175
Thanks a lot!

[2018-07-24 03:34] minggangw commented on #361
Auto report/chart generation @kenny-y

As these two items have finished and we have fixed some critical bugs during these days, hopefully we will have the release to be published recently, which will build against the latest master branch of ROS 2.0

[2018-07-24 08:03] minggangw opened #386 "Optimize the C++ code based on the cppcheck output"
[code]

[2018-07-25 07:16] #386 closed, assigned to minggangw

[2018-07-25 08:22] #367 closed, assigned to minggangw

[2018-07-25 09:07] minggangw commented on #381
@martins-mozeiko thanks for your special contribution, I have added you as a contributor in [README](https://github.com/RobotWebTools/rclnodejs/blob/develop/README.md). We will continue to improve the `rclnodejs` in robustness and performance and you are always welcome to report any issue you find and contribute your code, thanks!

[2018-07-25 09:11] minggangw commented on #381
One more thing, we will have our next release to be published on [npmjs](https://www.npmjs.com/package/rclnodejs) this week and you will not have to patch locally. :smile:

[2018-07-25 15:58] martins-mozeiko commented on #381
Thanks! That will be very useful.

[2018-07-26 08:41] minggangw opened #391 "errors in message.dot"
Through testing on the latest implementation of [rmw_fastrtps](https://github.com/ros2/rmw_fastrtps), we found two bugs in the message template which is used to generate the JavaScript messages.

- Use `Buffer.byteLength` instead of [`String.length`](https://github.com/RobotWebTools/rclnodejs/blob/develop/rosidl_gen/templates/message.dot#L454) to calculate the size

[code]

- Assign [`Array.data`]

[2018-07-26 09:06] #391 closed, assigned to nobody

[2018-07-26 10:00] minggangw commented on #313
[v0.4.0](https://github.com/RobotWebTools/rclnodejs/releases/tag/0.4.0) has been published, we will add the PnP result later.

[2018-07-26 10:00] #313 closed, assigned to minggangw

[2018-07-26 10:01] minggangw commented on #175
Hi @qiuzhong any updates?

[2018-07-27 03:07] qiuzhong commented on #175
@minggangw , tried with message `std_msgs/msg/Header`. Here is the report:

| messages | time | publisher memory rising | subscription memory rising |
| --- | --- | --- | --- |
| 10k | about 100s | 0.11% | 0.09% |
| 100k | about 1000s | 1.35% | 1.08% |
| 86389 (1s interval) |  24 hours | 0.11% | 0.41% |

From this report, we can see the memory consumption has reduced very significantly.

[2018-07-27 03:29] minggangw commented on #175
Great, thanks for your effort @qiuzhong, I think we can close this issue now due to #385. Please reopen it if the problem can reproduce in the future.

[2018-07-27 03:29] #175 closed, assigned to minggangw

[2018-07-27 05:50] minggangw opened #393 "Do not need to assign the dummy member explicitly for an empty message"
If the fields of a message is empty, `rosidl_gen` which generates the JavaScript messages from `.msg/.srv` will insert a section named `_dummy`, and you have to assign it explicitly with a `bool` value, which looks not reasonable, e.g.

[GetMap.srv](https://github.com/ros2/common_interfaces/blob/master/nav_msgs/srv/GetMap.srv)
[code]
have to

[code]

[2018-07-27 08:10] #393 closed, assigned to minggangw

[2018-07-27 08:28] minggangw opened #395 "Roadmap of rclnodejs to align with Crystal Clemmys"
The ROS community will release the next version of ROS 2.0 - Crystal Clemmys in this December. The detail information can be found on [Wiki](https://github.com/ros2/ros2/wiki/Roadmap). So we'd better have a plan to list the work we want to do before it.

* Support parameters #416
* Support different clocks in rclnodejs #420
* Support guard condition #315
* Actions: code generation, server / client

[2018-07-30 02:43] minggangw opened #396 "Create timer with clock"
The [rcl](https://github.com/ros2/rcl) has landed a [patch](https://github.com/ros2/rcl/commit/b324f9de0de49431557bcfb398ef3ad01bf46f86) last weekend, which will initialize `timer` with `clock`.

The current codebase of `rclnodejs` will report compile error based on the latest ros2 `master`, see below:

[code]

We are going to change the implementation to adapt to the latest code to eliminate the

[2018-07-30 03:08] minggangw opened #397 "Upgrade to Ubuntu Bionic on Travis CI"
As ROS 2.0 binary package will be distributed by [Debian](https://github.com/ros2/ros2/wiki/Linux-Install-Debians) or ["fat" archive](https://github.com/ros2/ros2/wiki/Linux-Install-Binary) on Bionic, we'd better to upgrade the Ubuntu on CI accordingly.

[2018-07-31 03:11] minggangw opened #399 "Use Array to represent the field of array type in a message instead of TypedArray"
By landing f3bcddc73d802, we achieved that enabling [TypedArray](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/TypedArray) to improve the performance when the message has a field which has the type of array. e.g. [Image.msg](https://github.com/ros2/common_interfaces/blob/master/sensor_msgs/msg/Image.msg), the `data` field

[code]

We can support the following typ

[2018-08-01 01:49] #396 closed, assigned to minggangw

[2018-08-03 04:56] minggangw opened #400 "Wrong memory layout when the array has fixed size"
[rosidl_gen](https://github.com/RobotWebTools/rclnodejs/tree/develop/rosidl_gen) can generate JavaScript message files from IDL files, like `.msg/.srv` in rclnodejs.

Some message contains a field of array which has a fixed size, e.g. [PoseWithCovariance.msg](https://github.com/ros2/common_interfaces/blob/master/geometry_msgs/msg/PoseWithCovariance.msg)

[code]

Usually the struct will hold a poin

[2018-08-05 02:54] minggangw opened #402 "Check the length of array if it's bounded"
We should check the length of an array if it has a requirement of its length, e.g.

[code]

[2018-08-08 05:23] #400 closed, assigned to minggangw

[2018-08-14 05:13] minggangw opened #407 "Update the benchmark document"
As 63b7603db3d7a70f030800aa3b7e97c65a30e51c has landed, we have to update [README](https://github.com/RobotWebTools/rclnodejs/blob/develop/benchmark/README.md) file.

[2018-08-14 08:37] #402 closed, assigned to minggangw

[2018-08-15 01:53] qiuzhong opened #408 "Got crashed when subscribe a nav_msgs/msg/Odometry message from gazebo"
Tried to subscribe `nav_msgs/msg/Odometry` message in `rclnodejs` envrionments while launching `ros1_bridge` and ROS1 gazebo simulator but got crashed.

Steps to produce:
* Launch ROS1 gazebo simulator
* Launch `ros1_bridge` in ROS2 environment:
  `ros2 run ros1_bridge dynamic_bridge --bridge-all-topics`
* Try to subscribe `nav_msgs/msg/Odometry` message: `$ node poseSub.js`, here is the code of p

[2018-08-15 01:54] qiuzhong commented on #408
@minggangw , would you please take a look ? And we can discuss with more details online.

[2018-08-15 01:59] minggangw commented on #408
@qiuzhong I am going to reproduce it locally first, any question I will liaise you offline. Thanks!

[2018-08-15 06:51] qiuzhong commented on #408
PS: I didn't encounter any crashes if I install the `rclnodejs` from github. However, `ros2-web-bridge` depends on version `0.4.1`.

[2018-08-15 07:12] minggangw commented on #408
I notice that the message, **Odometry**, has a static field(`float64[36] covariance` in PoseWithCovariance.msg).

I landed two commits which were 9cac9627edc3ad93d1a46ec2c08b47782d9d6ef3 and 9cac9627edc3ad93d1a46ec2c08b47782d9d6ef3 to fix the memory layout issues for static array in last week. So I think the crash should be caused by the static array in the message.

@qiuzhong Please double-check

[2018-08-16 04:40] #399 closed, assigned to minggangw

[2018-08-16 06:51] qiuzhong commented on #408
Tested with commit 9cac9627edc3ad93d1a46ec2c08b47782d9d6ef3 and  no crash again.

[2018-08-16 06:51] qiuzhong commented on #408
New release `0.4.2` fixed this issue.

[2018-08-16 06:51] #408 closed, assigned to minggangw

[2018-08-28 06:18] #314 closed, assigned to minggangw

[2018-08-28 08:11] #371 closed, assigned to qiuzhong

[2018-08-28 08:26] qiuzhong commented on #373
As #376 merged, I think this issue can be closed now.

[2018-08-28 08:26] #373 closed, assigned to qiuzhong

[2018-08-29 02:01] minggangw opened #413 "Compiling error due to change of rcl"
rcl repo just landed a [commit](https://github.com/ros2/rcl/commit/ba9f24b852d6245eb57fad088693a3d83bdf1528) which removed some functions, the change has caused some compiling errors in rclnodejs, see https://ci.appveyor.com/project/minggangw/rclnodejs/build/develop-837

[2018-08-29 07:49] minggangw opened #414 "Implement node parameters and parameter services"

[2018-08-29 07:50] minggangw opened #415 "Publish parameter events"

[2018-08-29 07:54] minggangw opened #416 "Support for parameters"
This is an umbrella issue (align with [Crystal Clemmys](https://github.com/ros2/ros2/wiki/Roadmap)) , which includes
* Publish parameter events #415
* Implement node parameters and parameter services #414
* Parameters can be passed through CLI #421

[2018-08-29 08:33] minggangw opened #418 "Implement time source"

[2018-08-29 08:33] minggangw opened #419 "Implement duration"

[2018-08-29 08:39] #413 closed, assigned to minggangw

[2018-08-29 08:41] minggangw opened #420 "Support different clocks in rclnodejs"
This is an umbrella issue, which includes:

* Implement ROS time/clock #204
* Implement time source #418
* Implement duration #419

[2018-08-29 08:46] minggangw opened #421 "Parameters can be passed through CLI"

[2018-10-16 07:43] #204 closed, assigned to minggangw

[2018-10-19 06:14] minggangw commented on #419
Close this issue as 99685fc9af49208deb9bb7f45b6ffbbcacaf394d has landed.

[2018-10-19 06:14] #419 closed, assigned to minggangw

[2018-11-05 02:59] minggangw opened #428 "Leverage the latest error handling API from rcutils"
Change to the new error handling API offered by the rcl library.

[2018-11-05 03:32] #428 closed, assigned to minggangw

[2018-11-16 02:47] #418 closed, assigned to minggangw

[2018-11-26 05:51] minggangw opened #433 "Update rcl_wait_set_add_* calls"
As the rcl change the parameter of rcl_wait_set_add_*, we need to update to eliminate the build error.

[2018-11-26 08:12] #433 closed, assigned to minggangw

[2018-12-03 02:56] minggangw opened #437 "Support non-global init"
As rcl library landed a patch which supports non-global init, we have to change the interfaces accordingly (This change also broke the current build, see it on [travis-ci](https://travis-ci.org/RobotWebTools/rclnodejs/builds/462388817))

[2018-12-10 09:35] minggangw opened #438 "Add node graph API"
As the rcl library has landed the node graph API, we are going to implement it for rclnodejs.

[2018-12-15 07:10] okdzhimiev opened #439 "Install fails: executor.cpp will not compile..."
- Kubuntu 18.04
- ROS2 Bouncy installed from binary
- npm install output:
[code]

[2018-12-15 07:26] okdzhimiev commented on #439
Sorry, the above was from **develop** branch. So, it's fine.
Here's an error from **bouncy-bolson**:
[code]
**Solution:**
```sudo apt install libspdlog-dev```

[2018-12-15 22:00] #439 closed, assigned to nobody

[2018-12-20 08:40] FuzhiYang opened #440 "Build error when npm install"
My ros2 is built from source, https://raw.githubusercontent.com/ros2/ros2/master/ros2.repos
I use the step in README, when I run npm install:

CXX(target) Release/obj.target/rclnodejs/src/addon.o
  CXX(target) Release/obj.target/rclnodejs/src/executor.o
../src/executor.cpp:17:10: fatal error: rcl/error_handling.h: No such file or directory
 #include <rcl/error_handling.h>
          ^~~~~~~~~~~~~~~

[2018-12-24 23:21] eeyang92 commented on #440
I have the same error on Ubuntu 18.04, NodeJS v11.5.0

[2018-12-25 00:14] eeyang92 commented on #440
I'm not too familiar with `node-gyp`, but running the `include` part of the config file:

[code]

[code]

Result:
[code]

Which does not exist

Under the `install` directory, it looks like there are the individual packages, such as `rcl`, `rcutils`, `rosidl_generator_c`, etc. Adding them one by one in the `include_dirs` and `library_dirs` resolves the issue - at least until it can't find the next

[2018-12-25 08:38] minggangw commented on #440
Due to the recent changes of rcl library (interfaces change mainly), I suggest you download the binary package of ROS2 from [here](https://ci.ros2.org/view/packaging/job/packaging_xenial_linux/ ) which were built before **11/20/2018.** What's more, https://github.com/RobotWebTools/rclnodejs/issues/437 is expected to fix the compiling error on the [master branch of ROS 2](https://github.com/ros2/ro

[2018-12-25 19:36] eeyang92 commented on #440
Thank you @minggangw, I will give the binary a try.

[2018-12-29 03:11] minggangw commented on #440
@yfzcopy0702 @eeyang92 If this issue in irreproducible, I am going to close it. And please wait for the patch which will fix #437, thanks!

[2018-12-29 10:30] minggangw opened #441 "Make the README more informative"
From the recent feedback, we are going to add some sections to the [**README**](https://github.com/RobotWebTools/rclnodejs/blob/develop/README.md) to clarify some circumstances:

- How to install the `rclnodejs` module from `npm` or `Github` in order to align with a specific ROS 2 release, e.g. `bouncy-bolson`
- Run the `rclnodejs` module on ROS 2 which was built from source
- Update of ActionLib

[2018-12-29 10:31] minggangw commented on #440
So let's close this issue, please feel free to reopen it if anything still wrong.

[2018-12-29 10:31] #440 closed, assigned to nobody

[2019-01-04 01:53] #437 closed, assigned to minggangw

[2019-01-04 06:41] #441 closed, assigned to nobody

[2019-01-04 08:24] minggangw commented on #440
[v0.8.0](https://github.com/RobotWebTools/rclnodejs/releases/tag/0.8.0) has just released, now you can enjoy your apps based on Crystal Clemmys :laughing:

[2019-01-06 10:11] minggangw opened #448 "Make the README of npmjs.com more informative"
We want to add some useful instruction into the README used for on the [npmjs.com](https://www.npmjs.com/package/rclnodejs):

- Add a table which illustrates the mapping relationship between the ROS 2.0 stable releases with a specific version of rclnodejs
- Add a link of the online [document](http://robotwebtools.org/rclnodejs/docs/index.html) of rclnodejs

[2019-01-07 08:22] minggangw commented on #448
8793d0262146145b8c966c3c0ddffe35db0ebda2 landed, so close this issue.

[2019-01-07 08:22] #448 closed, assigned to nobody

[2019-01-11 10:05] #397 closed, assigned to minggangw

[2019-01-14 02:18] minggangw commented on #372
As we are going to drop it (ActionLib), close this one.

[2019-01-14 02:18] #372 closed, assigned to minggangw

[2019-01-16 06:55] #438 closed, assigned to minggangw

[2019-01-17 02:09] minggangw opened #455 "Correct the links in README"
As the documentation of ROS2 has been move to https://index.ros.org/doc/ros2/, I'd like to update them in the README file accordingly.

[2019-01-17 09:59] #455 closed, assigned to minggangw

[2019-01-27 09:46] minggangw opened #461 "Align with rcl_wait_set_init change"
The latest rcl library has changed the inferface rcl_wait_set_init by commit https://github.com/ros2/rcl/commit/7f6b914ac41f0b20853aa84cd5a161952726de02

This change failed our current CI build on Travis CI, see [here](https://travis-ci.org/RobotWebTools/rclnodejs/builds/484965129), and we have to align with it accordingly to make it work.

[2019-01-29 07:45] #461 closed, assigned to minggangw

[2019-02-25 06:34] minggangw opened #466 "Eliminate race condition in the unit tests"

[2019-02-26 02:17] #466 closed, assigned to nobody

[2019-03-11 02:34] minggangw opened #469 "Actions support in rclnodejs"

[2019-03-14 09:50] mwamp opened #470 "Performance issue"
Hi,

I just want to report that using ros2_web_bridge saturates one CPU thread on my machine.
The likely issue is that processing power is never yielded as it should and some routines are constantly nagging to check for some event.

Here is a perf report, I produced this with very few topics; actions and services running.

  31.44%  node     libpthread-2.23.so    [.] pthread_mutex_lock
  27.91%  n

[2019-03-19 06:45] minggangw commented on #470
Thanks for submitting the issue, I'd like to answer them:

For the unreasonable CPU usage, it should be caused by frequent calling of uv_mutex_lock/uv_mutex_unlock. The reason why it happens is that we set a fixed timeout for [rcl_wait](https://github.com/RobotWebTools/rclnodejs/blob/develop/src/executor.cpp#L132) currently. This parameter should be customized.

No, rclnodejs is not based on rclcp

[2019-03-21 21:53] robotpilot opened #474 "COLCON_PREFIX_PATH vs AMENT_PREFIX_PATH"
The [binding.gyp](https://github.com/RobotWebTools/rclnodejs/blob/develop/binding.gyp) file uses `COLCON_PREFIX_PATH` instead of `AMENT_PREFIX_PATH`. However, [README.md](https://github.com/RobotWebTools/rclnodejs/blob/develop/README.md)(Build Module section) describes `AMENT_PREFIX_PATH`. Which is the correct explanation?

[2019-03-22 02:33] minggangw commented on #474
Oops, this is historical issue caused by the toolchain transition from ament to colcon. Currently, both of the two varieties are supported by ROS 2, but I suggest to use the colcon.

@robotpilot thank for pointing it out, I will unify this information in the README file.

[2019-03-22 06:02] robotpilot commented on #474
LGTM!
Thanks, @minggangw :)

[2019-03-22 06:02] #474 closed, assigned to nobody

[2019-04-02 05:40] minggangw opened #476 "Continue to search when error happens"
Currently, when meeting an error during iteration, the whole process will terminate due to rejecting the Promise, like:

[code]

This behaviour is not appropriate, as this will fail the process of generating the JS messages which should be done finally.

[2019-04-02 09:06] #476 closed, assigned to nobody

[2019-04-09 18:54] samiamlabs opened #480 "Error when building in docker container"
Hi,

I'm having some trouble getting this to build in a docker container.  I get this error when running ```npm install --unsafe-perm --verbose``` as root in the container (after sourcing ROS2):

../src/executor.cpp:17:10: fatal error: rcl/error_handling.h: No such file or directory
 #include <rcl/error_handling.h>
          ^~~~~~~~~~~~~~~~~~~~~~
compilation terminated.
rclnodejs.target.mk:120: r

[2019-04-10 02:40] minggangw commented on #480
Hi @samiamlabs, thanks for submitting this issue.

Currently, the travis-ci of rclnodejs is also running in docker, where the Dockerfile is https://github.com/RobotWebTools/rclnodejs/blob/develop/Dockerfile, and you can check the building result https://travis-ci.org/RobotWebTools/rclnodejs

[2019-04-10 02:57] minggangw commented on #480
Oh, I missed the information that you have tried with the Dockerfile in this repo, sorry. The error message indicates that the `include_dir` of the headers for ROS2 cannot be found, have you had executed something like `. ~/ros2_install/ros2-linux/setup.bash` already?

[2019-04-10 09:30] samiamlabs commented on #480
The docker image has that sourcing command in .bashrc so that is not the problem.

Got it to work now. I had to use ```./scripts/build.sh``` instead of  ```npm install --unsafe-perm``` to build. Not really sure why.

[2019-04-11 02:26] minggangw commented on #480
It is a little weird. Last time I met this kind of problem, the reason was that I built the ROS2 from source **without** the flag `--merge-install` (with this flag, it installs all packages into a combined directory, rather than each package in a separate subdirectory)

Anyway, as it has worked, I am going to close this issue. You are welcome to give any feedback if you find the root cause in the

[2019-04-11 02:26] #480 closed, assigned to nobody

[2019-04-18 13:10] mwamp opened #481 "Create Interfaces from Strings"
From the way ros2web-bridge is made it looks like interfaces can be loaded using strings encoded according to the format : ``{std_msd | ... }/{msg | srv}/{String | ...}``.
It looks like a function was written in this direction in the interface loader but was never called. For instance [here](https://github.com/mwamp/rclnodejs/blob/aefdc7195f7978620693d42768282985218468c4/lib/node.js#L248) a condit

[2019-04-18 14:06] mwamp opened #483 "The adapter has some knowledge of specific message/srv types"
AFAIU some JS messages files are generated at build time. These will depend on the build environment at the time node-gyp is run. Calls to custom messages and services will raise errors if they were not present at build time - or won't they?- I got an error (something like fs: file not found) but maybe I did it wrong?)

This IMO is not typical ROS behavior. We want to be able to build code indepen

[2019-04-18 15:06] mwamp opened #484 "ROS package"
This is not a ros package. Maybe it should be and serve as an example of what a JS ros2 package looks like.

What's more AFAIU adapters are also here to facilitate ROS integration. I would expect to be able to build a package and write something like ``<depend>rclnodejs</depend>`` and then call my JS package in a launch file using the launch system (which would be a bit heavy since we would then e

[2019-04-19 02:47] minggangw commented on #484
Thanks for your suggestion! Actually, we considered how to integrate the `rclnodejs` into the toolchain of ROS2 at the beginning of this project, and as you said we have to change the current `colcon` to adapt to the Node.js packages.

But I believe people who want to use this package tend to be the JavaScript developers, they feel more comfortable if using `npm` because it's the toolchain of Node

[2019-04-19 03:06] minggangw commented on #483
I believe you have to build for your own messages to generate the python bindings for your messages before starting your app.  So during the runtime, you will not care about it.

The `rclnodejs` generates the JavaScript files at runtime instead as you said. Considering that the binding generation is triggered manually for Python, but the `rclnodejs` will not know the event that you have added new

[2019-04-19 03:09] minggangw commented on #481
Would you please write a code snippet to demonstrate the aim you want to achieve after the PR #482, thanks!

[2019-04-19 09:17] mwamp commented on #483
I don't really get what that means but I get that cpp headers and "python header" are generated by idl when the packages srv/msg packages are built by colcon so maybe we can't achieve the same level of integration.

A few answers :

1. e8b0965 demonstrates how to add a loopback which will generate new message templates as long a there is a matching package in the ROS path.
A caveat (among others p

[2019-04-19 12:02] mwamp commented on #481
Sorry it seems this rewrite just helped me expose errors due to not yet generated idl_mgs/srv and I afterwards thought it was necessary when it is not.
My bad

[2019-04-19 12:02] #481 closed, assigned to nobody

[2019-04-20 07:48] minggangw commented on #483
My description was a little obscure, I mean the process of generating the bindings for Python from idl files (.msg/.srv).

We can achieve the result that searching the unknown messages in the current ROS env variable and
 generating dynamically in the run-time, which needs some changes to the generator in `rclnodejs`.

[2019-04-24 02:24] shinhwap opened #485 "Build error when npm install"
My ros2 is built from source, https://index.ros.org/doc/ros2/Installation/Linux-Install-Debians/
I use the step in README, when I run npm install:

make: Entering directory '/home/a50044/Desktop/ROS/rclnodejs/build'
  CXX(target) Release/obj.target/rclnodejs/src/addon.o
  CXX(target) Release/obj.target/rclnodejs/src/executor.o
In file included from ../src/executor.cpp:15:0:
../src/executor.hpp: In

[2019-04-24 02:39] shinhwap commented on #485
I can use npm i rclnodejs@<version>
So close this issue

[2019-04-24 02:39] #485 closed, assigned to nobody

[2019-04-24 05:08] minggangw opened #486 "Error caused by the change of rosidl"
The `rosidl_parser` changed its interface, which caused an error when rclnodejs is running on the `master` branch of ROS2, see details:

[code]

and the report on travis-ci is [here](https://travis-ci.org/RobotWebTools/rclnodejs/builds/522973682)

[2019-04-25 03:15] #486 closed, assigned to nobody

[2019-04-29 05:53] minggangw opened #488 "The property of a constant string is generated wrong from .msg file"
The constant string property is generated wrong from .msg file, for example:

[code]

[2019-04-29 06:21] #488 closed, assigned to nobody

[2019-05-03 14:14] minggangw opened #490 "API updates for rmw preallocation work"

[2019-05-27 08:27] minggangw opened #492 "QoS - API and implementation for Liveliness and Deadline event callbacks"

[2019-06-12 08:42] testkit opened #493 "Support ROS2 Dashing"
ROS2 dashing release is ready (https://discourse.ros.org/t/ros-2-dashing-diademata-released/9365), may I know what's the plan to support this version? Thanks!

[2019-06-14 03:28] minggangw commented on #493
Should support soon! :smile:

[2019-06-17 04:39] #490 closed, assigned to nobody

[2019-06-17 04:39] #493 closed, assigned to nobody

[2019-06-17 07:15] minggangw commented on #493
A new version v0.10.0 has just released, you are welcome to have a try and give your feedback, thanks!

[2019-06-26 07:44] minggangw opened #498 "Features needed to implement - umbrella issue"
As [ROS 2](https://github.com/ros2/ros2) iterates rapidly, actually, there are two stable releases per year and a series of patch releases. I want to emphasize the target of this Node.js client is that it has the comparative feature set as the python client - [rclpy](https://github.com/ros2/rclpy).

But there is still a gap with rclpy, and we want to eliminate it finally. Due to limited resource,

[2019-06-26 07:46] #395 closed, assigned to nobody

[2019-06-26 07:46] #225 closed, assigned to nobody

[2019-06-26 07:47] minggangw commented on #420
These issues are done, so close this one.

[2019-06-26 07:47] #420 closed, assigned to minggangw

[2019-07-01 20:10] suab321321 commented on #498
I would like to contribute.
Could you please elaborate a little

[2019-07-02 02:08] minggangw commented on #498
Thanks for your response @suab321321 which angle do you want to know more, e.g. workload, difficulty level or coding rule? I can write a summary or BKM to facilitate other people who are also interested in this project. Thus, we can move forward smoothly!

[2019-07-02 02:52] minggangw commented on #498
I posted a [topic](https://discourse.ros.org/t/call-for-contributions-ros-2-node-js-client/9742) on ROS discourse to let more people know it.

[2019-07-03 12:41] suab321321 commented on #498
I would like to know workload..

[2019-07-03 12:44] suab321321 commented on #498
I would like to contribute to #492 first..
Thank you

[2019-07-04 05:34] minggangw commented on #498
@suab321321 I've marked it for each feature, it's just kind of rough evaluation, not exact. Also, I added some suggestions, please check it before starting your work as it may save your time.

Again, you are welcome. Now please go ahead!

[2019-07-04 05:58] suab321321 commented on #498
okay..
I understand the indicator tag now.
Now I want to understand how will I contribute to #421 because no description is provided on what to do

Thank you

[2019-07-04 06:32] suab321321 commented on #421
Can you provide me the description for this?

[2019-07-04 06:39] minggangw commented on #498
Actually, there is no specific requirement or design doc to describe the feature, all implementations should base on the [rcl](https://github.com/ros2/rcl).

As for the rclnodejs, you can reference the rclpy client (It's a good way to get started). You may notice that the parameter feature contains several issues, I created these by https://github.com/ros2/rclpy/issues/202, so I think you can find

[2019-07-04 06:54] minggangw commented on #421
#416 has a brief introduction and you can prioritize them to develop, and take care of the potential dependency between them.

[2019-07-04 07:44] suab321321 commented on #498
Okay..I will start now

[2019-07-04 19:46] suab321321 commented on #498
I m unable to install rclnodejs either from npm or from sractch...its showing some file import error

OS-ubuntu 18.04
![Screenshot from 2019-07-05 01-23-23](https://user-images.githubusercontent.com/52123334/60685934-8ba26d80-9ec3-11e9-83d0-cd6b8789b279.png)

[2019-07-05 01:54] minggangw commented on #498
Have you executed `source <path/to/ros2>/install/local_setup.bash` , if not please follow the steps [here](https://github.com/RobotWebTools/rclnodejs#build-module), thanks!

[2019-07-05 05:43] suab321321 commented on #498
Yes I have done that...

[2019-07-05 05:44] suab321321 commented on #498
Is this issue common or is it just me?

[2019-07-05 07:03] minggangw commented on #498
It's not common, please double check with `echo $COLCON_PREFIX_PATH`. From the error log, it should be the problem of the wrong include path. I suggest that you clone this project and checkout the `develop` branch to start instead of adding it as a dependency.

[2019-07-05 07:44] suab321321 commented on #498
Nope..Its not happening

[2019-07-05 08:49] #470 closed, assigned to nobody

[2019-07-05 08:52] minggangw commented on #470
This is a little late to come, but we did it finally. If you are still using it, please have a try to see if the performance changes. Thanks a lot!

[2019-07-05 13:06] mwamp commented on #470
Great, I'll check it out as soon as I possible.
Thanks a lot.

[2019-07-15 14:10] mwamp commented on #470
Hi,
Unfortunately, I am unable to run tests right now. I am hit with a segfault (the very dark, no exception raised kind) as soon as rclnodejs is launched (in the basic service example for instance).

I am running dashing so maybe the reason is that I would need the nightly ros build?

[2019-07-15 14:49] minggangw commented on #470
I didn't verify it on Dashing actually, as the code on `develop` branch will be tested on CIs by running unit tests. So I am going to double check it on the Dashing release. Thanks for your feedback.

[2019-07-15 20:38] mwamp commented on #470
Actually, it looks like there are issues with NodeJS on my side, there shouldn't be anything wrong with this code.

[2019-07-16 07:36] minggangw commented on #470
My previous description is not clear, I mean the `develop` branch of rclnodejs will be tested on the nightly ROS2 package through travis-ci. The Node.js version is the latest stable release usually.

[2019-08-05 05:12] minggangw opened #500 "The default value of a wstring is assigned incorrectly"
Test [case](https://github.com/ros2/test_interface_files/blob/master/msg/WStrings.msg)

[code]

[2019-08-06 03:07] #500 closed, assigned to nobody

[2019-09-11 09:36] koonpeng opened #510 "build fail on ubuntu with dashing"
When generating javascript messages, I got the following error message
[code]
It looks like the current method to support action creates the `.msg` files from the `.action` files and uses them to generate the messages. This fails in ubuntu as its trying to create `.msg` files in a directory owned by root.

The result is that some messages are not generated, particularly packages that include both

[2019-09-11 15:04] minggangw commented on #510
I see, do you install dasing via Debian Packages? As the actionlib has been [deprecated](https://github.com/RobotWebTools/rclnodejs#experimental---deprecated), I think we can remove these tests from the current test set.

[2019-09-12 01:00] koonpeng commented on #510
Yes, they are installed using `apt`. For now I am working around it by commenting out some lines to disable actions too.

[2019-09-12 13:01] minggangw commented on #510
Thanks for trying to overcome it, and I am going to remove them (tests) for the long term.

[2019-09-13 09:55] koonpeng opened #511 "maximum recursion error when running in jest"
There is a bug in `ref` which throws maximum recursion error when the module is loaded multiple times. Normally this error wouldn't happen because of the nodejs require cache. However this breaks rclnodejs when running in jest because jest ignores the require cache and ref is loaded multiple times, triggering the bug.

It can be reproduced with

a.test.js:
[code]
b.test.js:
[code]
`npx jest <test-

[2019-09-14 14:59] minggangw commented on #511
Thanks for your findings! Through your description, I understand this problem happens only under the jtest framework, right?

The current test framework used by `rclnodjes` is [mocha](https://www.npmjs.com/package/mocha), and I haven't seen this problem yet, which means it uses the cache I think. Considering what you said, this problem is not triggered by the normal nodejs usage. Meanwhile, I chec

[2019-09-14 15:07] minggangw opened #512 "Add function waitForService to Client object"
We should add a new function `waitForService` to wait for a specific service if it's not available yet. Also, `isServiceServerAvailable` is added to inquiry the current availability of a service.

Thanks for @koonpeng to find out this and offer the PR.

[2019-09-14 15:12] #512 closed, assigned to nobody

[2019-09-16 07:14] koonpeng commented on #511
Yes, this only occurs in jest, mocha runs fine for me. I have been trying out workarounds using mocks as shown in this blog http://www.petecorey.com/blog/2018/11/05/bending-jest-to-our-will-caching-modules-across-tests/ but I wasn't able to get it working.

I think a possible solution is to fork `ref` and have `rclnodejs` install the forked repo by using shrinkwrap, or publish new versions of `ref

[2019-09-17 06:35] minggangw commented on #511
Yes, I agree that forking `ref` is not necessary as it only happens in jtest. So I suggest keeping it as it is. Thanks!

[2019-09-18 07:39] minggangw opened #515 "Replace the deprecated methods used in the tests written in C++"

[2019-09-18 09:10] #515 closed, assigned to minggangw

[2019-09-25 08:39] #511 closed, assigned to nobody

[2019-09-26 05:32] minggangw opened #518 "Unit tests failure on CI"
There are some tests started to fail on CIs, because of the usage of deprecated APIs of rclpy.

[2019-09-27 03:11] #518 closed, assigned to nobody

[2019-09-30 03:51] minggangw opened #521 "Compiling error when AMENT_PREFIX_PATH contains more than one path"
The regular expression transform on AMENT_PREFIX_PATH would only
replace the first ':' in many places, resulting in it not using the
remaining entries if there are more than two. '/g' makes the regular
expression 'global' so it will replace more than one occurrence per
line.

[2019-09-30 03:52] #521 closed, assigned to nobody

[2019-10-21 02:47] minggangw opened #524 "Verify rclnodejs on ROS2 Dashing Patch4"
As ROS2 Dashing Patch [4](https://github.com/ros2/ros2/releases/tag/release-dashing-20191018) has been released, we'd better verify it with latest code and plan a new release for that.

[2019-10-28 16:18] wayneparrott opened #528 "Max supported node/npm version not specified, leads to install errors"
While the README specifies the lowest supported version of node it does not specify the highest supported version of node.

Recently while getting familiar with rclnodejs, I immediately encountered an error when attempting to install the package (v0.10.2) with the latest versions of node and npm, v13.0 and v6.12 respectively.  I systematically downgraded node and npm until I was able to install rc

[2019-10-29 02:20] minggangw commented on #528
Of course, please go ahead to submit and you can add yourself as a contributor (https://github.com/RobotWebTools/rclnodejs#contributors) simultaneously if you like, thanks again!

Thanks for your finding! I also tested with the latest Erbium (v12.13.0) and had the same [result](https://github.com/RobotWebTools/rclnodejs/pull/527), and I found the error is caused by the [ref](https://www.npmjs.com/

[2019-10-30 04:50] minggangw commented on #528
Close this issue, as 90ebf88b1298258c33ed290c5c2a030b0be9b312 has landed.

[2019-10-30 04:50] #528 closed, assigned to nobody

[2019-11-05 23:41] wayneparrott opened #531 "Time#get secondsAndNanoseconds bug"
I've isolated an issue in Time where _nanoseconds is being modified when calling the getter 'secondsAndNanoseconds' in version 0.10.2 on MacOS Catalina.

This example program prints out the _nanoseconds before and after calling secondsAndNanoseconds. I can see _nanoseconds change after calling secondsAndNanoseconds. If I comment out the call to secondsAndNanoseconds, _nanoseconds remains unchanged

[2019-11-06 00:00] wayneparrott commented on #531
I'm not exactly clear on how Timer _nanoseconds is getting goofed up. In my branch I created a new int64 from _nanoseconds as shown below and this works for me.

[code]

Thoughts? I can submit a PR with this modification.

[2019-11-06 03:14] minggangw commented on #531
Oops, there should be using a temporary var to store the result as the value will be changed after calling the function (`secondsAndNanoseconds` as property), so you got the wrong number when you called `now._nanoseconds` the second time.

As JavaScript cannot represent [64 bits integers](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/MAX_SAFE_INTEGER), we

[2019-11-12 19:24] wayneparrott opened #534 "best resources for users"
Are there any recommended forums for rclnodejs users to ask questions and share information?
I'm aware of the subreddit https://www.reddit.com/r/ROS/
Are there other resources we should consider using, e.g., stackoverflow, discourse, etc?

Wayne
PS - Thx for enabling the JavaScript coders to participate in the ROS2 developer community.

[2019-11-13 01:57] minggangw commented on #534
I recommand https://discourse.ros.org/c/ng-ros which is the official forum of ROS community, you could communicate with other developers if you have problems or you can share your ideas or announce something you want others to know.

The downside is that this forum is not rclnodejs specific, but I think it's still a suitable place where you can get help, thanks!

[2019-11-13 07:49] minggangw opened #535 "Enable the last stable ROS2 packagings to be used on CIs"
Currently, we leverage the last successful builds to test `rclnodejs` with a bunch of unit tests. But it seems that the "successful" ones are not stable sometimes, so we are going to replace with the stable one in the future. e.g. https://ci.ros2.org/view/packaging/job/packaging_windows/lastStableBuild/

[2019-11-13 16:09] wayneparrott commented on #534
Thx. Short summary:

https://discourse.ros.org/c/ng-ros
http://planet.ros.org/
https://www.reddit.com/r/ROS/

[2019-11-14 16:22] wayneparrott commented on #531
Checking in to see if there are actions I need to take to get the fix committed? I have observed the work with CI config to get builds working correctly.

[2019-11-15 09:37] minggangw commented on #531
I have resolve the problem on macOS/Linux platforms, see https://github.com/RobotWebTools/rclnodejs/pull/536. But on Windows10, I meet the error of importing `rclpy` module constantly and I haven't found the root cause of this. Do you meet the same error on Windows?

P.S. instruction about the error of importing Python module: https://index.ros.org/doc/ros2/Troubleshooting/#import-failing-even-wit

[2019-11-16 10:09] wayneparrott commented on #531
re: your Q about my experience on Windows, can't say as I don't have a windows system atm.

[2019-11-17 12:02] #535 closed, assigned to minggangw

[2019-11-17 12:34] minggangw commented on #531
Hi @wayneparrott, finally I get all CIs to be green 😄 , please check the latest SHA d2724ffdaaf0c01fce6c0601c254aa16355c5fa0. So would you please rebase your PR (https://github.com/RobotWebTools/rclnodejs/pull/533) on the `develop` branch and push it again (hope it can pass this time), thanks!

[2019-11-18 02:24] #531 closed, assigned to nobody

[2019-11-18 05:16] minggangw commented on #524
Close this issue, as [0.10.3](https://github.com/RobotWebTools/rclnodejs/releases/tag/0.10.3) has released.

[2019-11-18 05:16] #524 closed, assigned to nobody

[2019-11-18 05:19] minggangw commented on #531
Hi @wayneparrott, I have rebased your patch and landed it on the `develop` branch and it works well. Based on your latest commit, I published a new release of `rclnodejs` - [0.10.3](https://github.com/RobotWebTools/rclnodejs/releases/tag/0.10.3). You are welcome to try it, thanks again!

[2019-11-19 15:45] wayneparrott opened #537 "support TypeScript"
I recognize and appreciate the commitment to ES6 by the project team. But I primarily favor TypeScript over JavaScript for much of my JS development. To that I recently hacked together a preliminary set of TypeScript typed definition (*.d.ts) files for the rclnodejs api for my own use. If there is interest I would gladly contribute this working to the rclnodejs project and support them going forwa

[2019-11-20 03:34] minggangw commented on #537
Wow, fantastic work! I still remember when I presented `rclnodejs` on ROSCon2018 in Madrid last year, I was asked whether the `rclnodejs` supports TypeScript, I think we can say that we have a solution that can use TypeScript now :smile:  Some comments:

I agree it's more convenient for developers if we could integrate the TypeScript support inside `rclnodejs`, we can land the TS here first. Some

[2019-11-21 16:29] wayneparrott commented on #537
Correct.
To get started I recommend that we manually maintain ts declaration files (*.d.ts) separate from the js api in /lib. For example maintain them in a directory named "types" or something similar. Once setup it takes very little time to maintain as the api evolves.

*Initially I tried using a jsdoc->*.d.ts conversion utility but it failed miserably. I hacked up the current set of types in a

[2019-11-21 19:02] wayneparrott commented on #537
fun times! The latest version of typescript (v3.7) is able to generate TS declaration files from js with jsdoc annotations.

While catching up on the latest typescript 3.7 features and I learned that the compiler (tsc) now supports compiler options that enable [using the "allowJs" and "declarations" options together](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-7.html#--

[2019-11-21 21:26] wayneparrott commented on #537
Please disregard my previous note re: using the typescript compiler to generate ts declaration files from jsdoc annotated js files. After some experimentation I find the generated declaration files are missing a lot of information that I would expect as a typescript developer. That is, a lot "any" typed parameters, types and property values. Given this I will stick with my initial proposal to manu

[2019-11-24 08:27] minggangw commented on #537
Hi @wayneparrott , thank you for synchronizing the latest information of your current effort, I appreciate that. I think the 3 steps you mentioned at https://github.com/RobotWebTools/rclnodejs/issues/537#issuecomment-557164193 is reasonable, we could create a feature branch and merge it back to the `develop` finally.

I just saw another stable release of ROS2, [ROS 2 Eloquent Elusor](https://githu

[2019-11-25 05:28] minggangw opened #539 "Add the support information for Eloquent Elusor"
[Eloquent Elusor](https://github.com/ros2/ros2/releases/tag/release-eloquent-20191122), the latest stable release of ROS 2.0, has been published, we are going to add the support information of it based on the latest `rclnodejs`.

[2019-11-25 06:08] #539 closed, assigned to nobody

[2019-11-25 23:09] wayneparrott commented on #537
Let's precede with creating a feature branch that I'll work in. Today I upgrade my ros2 dev environment to eloquent. I'm assuming that you'll need to create the branch.

In a couple of days I will check in an initial PR consisting of a readme, declaration files, tests based on dtslint and a generator script similar to the rclnodejs generator but it will create a declaration file for all of the gen

[2019-11-26 02:34] minggangw commented on #537
I have created [typescript](https://github.com/RobotWebTools/rclnodejs/tree/typescript) branch, you can push your commits to it. Maybe you also have to add the branch name into the CI configuration files, e.g. [.travis.yml](https://github.com/RobotWebTools/rclnodejs/blob/develop/.travis.yml#L6), if you want to trigger it.

Currently, I don't create a branch again a specific ROS2 release, because t

[2019-11-27 18:42] wayneparrott commented on #537
Thanks! I picked up the branch yesterday and have started making progress. Will share details asap. Taking a couple of holidays here in the US atm.

[2019-11-29 23:29] wayneparrott opened #541 "Does the develop branch support ros2 eloquent?"
Does the rclnodejs develop branch support the recent ros2 eloquent release?

I have an issue using eloquent with rclnodejs and wanted to check for known issues before starting to chase down the issue.

I updated to the recent ros2 eloquent release on my linux system as well as my rclnodejs develop branch. I'm experiencing a seg fault when I run script/run_tests.js as well as with a new ros2 worksp

[2019-11-30 02:15] minggangw commented on #541
All the unit tests can pass on eloquent, please see #538, would you please offer which specific test crashed or which function caused the segment fault?

[2019-11-30 13:05] wayneparrott commented on #541
Disregard; my BAD! Working as expected.
I had goofed up my installation.
Apologies for wasting your time.

[2019-11-30 13:05] #541 closed, assigned to nobody

[2019-12-05 00:53] wayneparrott commented on #510
Any thoughts on how to address the EACCESS issue on linux from the generate_messages script?

In eloquent the dirs that the script is attempting to write into are:
[code]
Brainstorm how to proceed:
1) A bad hack is to make the dirs above writable.
2) Disable generating action messages until we have a proper solution.
3) Generate msg files into the project and process them in the overlay.
Thoughts?

[2019-12-05 02:24] minggangw commented on #510
The implementation of [actionlib](http://wiki.ros.org/actionlib) of `rclnodejs` is prior to that of `rcl`, so me have marked the actionlib as [deprecated](https://github.com/RobotWebTools/rclnodejs#experimental---deprecated) (we haven't achieved to wrap the actionlib related functions from `rcl` and exposed them). I prefer to remove the generation for `.action` because they become useless now, whi

[2019-12-06 06:31] #510 closed, assigned to nobody

[2019-12-13 04:55] #537 closed, assigned to wayneparrott, minggangw

[2019-12-13 20:16] wayneparrott opened #546 "Incomplete installation process on v0.11.0 - Message generation failing"
I while installing rclnodejs v0.11.0 from npm the message generation process is aborting when it encounters a missing file. This results in only a subset of js file being generated and the interface.d.ts is not generated. Here's the informational portion of stdout during the installation process.

Note: the same issue applies when running `rclnodejs#regenerateAll()`

We need to fix this immediate

[2019-12-13 20:41] wayneparrott commented on #546
How come we didn't find this bug when testing?

I checked the CI logs and for example the travis ci is using the same Linux version as I am but it is not reproducing this problem when it runs the installation step. And in my dev environment I had an older copy of the generated message files prior to our removal of processing action files. So my local env did not reflect a proper user environment.

[2019-12-13 21:24] wayneparrott commented on #546
Added try/catch around tsd message file process to ignore errors as it is a non-critical failure. The output will appear as follows:

[code]

[2019-12-14 15:39] minggangw commented on #546
The test on travis-ci runs in docker, so I think each run should be without any cache, e.g. the `generated` folder.

and from the error message:

I suspect the reason is that some unexisting `.js` files are required, which is triggered by https://github.com/RobotWebTools/rclnodejs/blob/892e5392074933a4ae7593213cd0145e6d9ae86c/rostsd_gen/index.js#L75 but the existence of a file is verified at https

[2019-12-14 23:33] wayneparrott commented on #546
I believe the error is resulting just after the line #95  when any *__action__*.js file is loaded. https://github.com/RobotWebTools/rclnodejs/blob/892e5392074933a4ae7593213cd0145e6d9ae86c/lib/interface_loader.js#L96
I'll dig into a little deeper in a few hours. But I can see that the *__action__*.js file exists and then in the require(filePath) the exception is being thrown. An example file is the

[2019-12-15 03:55] minggangw commented on #546
The file `tf2_msgs__action__LookupTransformActionResult.js.` was generated by https://github.com/RobotWebTools/rclnodejs/blob/4f55598239aaac6b2097ba046fd8405157842a41/rosidl_gen/index.js#L56 But as the generation for `.action` files has been removed (ac497ef13aeb562c06e75985e2005446b75a77b0), I am wondering how this js file is created?

Or you can debug if the following function does get called (I

[2019-12-15 07:22] wayneparrott commented on #546
OK. After reinstalling my ros2-eloquent installation I am NOT able to replicate this issue when installing from npm (v.0.11.0). The issue resulted from my ros2 environment having action pkgs that were created prior to removal of action processing. So my ros2 installation was invalid for testing. I should have caught this when I noticed that the travis.ci was not generating the error. My position n

[2019-12-15 09:30] minggangw commented on #546
That sounds reasonable. Because when generating from `.action`, several `.msg` files were created in the past. For example, if you have an action file named [`LookupTransform.action`](https://github.com/ros2/geometry2/blob/ros2/tf2_msgs/action/LookupTransform.action), and the previous generator is going to be created:

- LookupTransformResult.msg
- LookupTransformGoal.msg
- LookupTransformFeedback

[2019-12-15 14:57] minggangw commented on #546
Finally, I think I found the root cause. The reason is the `.msg` file created by the old generator which generates for `.action` will trigger to create JS files, e.g. `action_tutorials_interfaces__action__FibonacciActionGoal.js`  and that file will try to require `action_tutorials_interfaces__msg__FibonacciActionGoal.js` (this is the output error)

[2019-12-16 04:59] #546 closed, assigned to nobody

[2020-01-10 22:37] wayneparrott commented on #421
I've started working on a parameter server. Will share details soon.

[2020-01-15 10:34] suab321321 commented on #498
@minggangw
The root cause of the issues was that in files `src/executor.cpp` and `src/rcl_bindings.cpp` had some functions overloaded with extra parameters,after fixing the issue I was able to npm install it successfully

[2020-01-18 11:39] koonpeng opened #550 "constants support in messages"
is there a way to reference the constant value like in rclpy? Something like
[code]
I can see that constants are generated in the js messages like so
[code]
But it needs to be imported like so
[code]
which doesn't seem like the intended usage.

Also, the typescript interfaces are generated like this
[code]
The constants have to be defined in objects that implements the type.
[code]
Is there an eas

[2020-01-19 02:23] minggangw commented on #550
Thanks for your question, I checked the usage of const variable defined in `.msg` files, and I think the code probably looks like:

[code]
Not sure it's what you want or you could suggest a better usage, thanks!

[2020-01-19 02:42] minggangw commented on #550
Maybe I should introduce a little bit of the message objects used in `rclnodejs` to make it clear:

- You can use so called `plain` objects to pass a message to publisher/client, e.g.
[code]
see https://github.com/RobotWebTools/rclnodejs/blob/develop/example/publisher-message-example.js

- You can also require a JS object which is defined by the generated classes (usually under `/generated`), e.g.

[2020-01-19 08:04] koonpeng commented on #550
Thanks! I wasn't aware of the `require` function. For the typescript types, would it be good to make the constants optionals? So there is no need to define them in an object, I am also looking at the possibility of generating the `require` type declaration so it returns a strongly typed interface instead of a generic `object`.

[2020-01-19 08:24] minggangw commented on #550
@wayneparrott added the TS support recently, I know he is busy implementing another important feature of rclnodejs, so Wayne would you please have a look if you have time? or @koonpeng you could help to submit a PR based on your requirement, thanks a lot!

[2020-01-19 10:44] koonpeng commented on #550
I have been using a tool I made to generate typescript interfaces, now that rclnodejs has support for typescript, it would be better to use the native support. I will try to see if I can make a PR for this, thanks!

[2020-01-21 10:39] lukaszmitka opened #553 "NodeJS version"
I was trying to use rclnodejs with NodeJS v8.17 and it ended up in segmentation fault when running examples. Upgrading to v10.18 solved the issue.
I am working on Ubuntu 18.04 and ROS Dashing Patch 4.
README states that NodeJS versions between 6.10 - 10.99 are compatible, did I do something wrong, or  README should be updated?

[2020-01-21 14:15] minggangw commented on #553
The minimum version of NodeJS, which is v6.10 on Ubuntu 16.04 LTS, was once verified on a very old release of ROS2 (maybe on the first stable release about 2 years ago). After that, we haven't verified it again, so it may become imprecise.

Would you please help to paste the core dump? If it's caused by the incompatibility of Node.js, we are going to update the README accordingly, thanks!

[2020-01-21 22:53] wayneparrott commented on #550
@koonpeng  thanks for identifying my goof up on the type-alias msg constants. Definitely not what I envisioned. After reviewing, I'm not sure what I was thinking at the time I impl'ed this. I was experimented with a couple of approaches. Please share suggestions/PR for improvement. In the meantime I plan to carve out some time to look into resolving this asap as well.

[2020-01-21 23:20] wayneparrott commented on #550
A quick thought is to represent the IDL constants for a type_class/msg in interfaces.d.ts as an object literal similar to the snippet below. In this case a dev would need to know that in addition to importing ImageMarker he would also need to import ImageMarkerConstants.
[code]
Thoughts?

[2020-01-22 01:09] koonpeng commented on #550
normally this wouldnt work because `ImageMarkerConstants` doesn't exist in the javascript code. But I just found out there is a special case in 'const enum' where typescript will inline the value in the generated js code. I will see if I can add it to my PR.

[2020-01-22 03:23] koonpeng commented on #550
https://github.com/RobotWebTools/rclnodejs/pull/551 This PR improve typing information and generate constants as `const enum`

[2020-01-22 09:44] lukaszmitka commented on #553
I have run the example subscriber with valgrind: `valgrind -v --track-origins=yes node example/subscription-example.js`
The output is: https://rclnodejs-segfault.s3.eu-central-1.amazonaws.com/valgrind.log

And the core dump from running `node example/subscription-example.js`: https://rclnodejs-segfault.s3.eu-central-1.amazonaws.com/core_dump

[2020-01-22 13:58] minggangw commented on #553
Thanks, I am going to reproduce it locally and find any useful information, then get back.

[2020-01-22 15:43] mikelyndersOKCC commented on #498
Hello, could you elaborate on the steps that need to be done to wrap rcl with Node.js? What are some resources for users who would like to help contribute to one of these features. I would like to help with Actions support #469 but I am not sure where to start. I found [this](https://medium.com/@atulanand94/beginners-guide-to-writing-nodejs-addons-using-c-and-n-api-node-addon-api-9b3b718a9a7f) art

[2020-01-22 19:18] wayneparrott commented on #498
hi @mikelyndersOKCC, good question. Last week I started work on implementing parameter support for rclnodejs. My C coding skills are pretty rusty and basic at best - but why let that stop me :) It took me a couple of hours of exploring code and docs to develop a mental model and impl a hello-world example. From there, I systematically evolved my node-c++ rcl binding.

* one of the project's object

[2020-01-23 02:43] minggangw commented on #498
Hi @mikelyndersOKCC thanks for your question, I think @wayneparrott has given some general steps to touch on the development of Node.js addon. I'd like to share some of my ideas

- The development of addon for Node.js
    - We are using the "old" API (called nan) to bind the JS interface to C++ instead of using [N-API](https://nodejs.org/api/n-api.html) which can decouple your code from runtime  e

[2020-01-23 13:17] mikelyndersOKCC commented on #498
@minggangw @wayneparrott  Thank you both very much for your insight! I really appreciate the guidance. I will study the materials that have been linked here and hopefully I can do something with it!

[2020-01-25 23:08] mattrichard opened #555 "Feature request: expose rcl_get_node_names"
The [rcl_get_node_names](https://github.com/ros2/rcl/blob/7537f8304493e9b9568748b5601f5c1b7fa463f0/rcl/include/rcl/graph.h#L432) function appears not to have been exposed in rclnodejs. Maybe there was some reason for this.

I've tried my best to implement it in #554 but the tests are failing on osx (I think). I have no mac to test on, so I'm opening this issue for tracking in case I'm unable to fi

[2020-01-26 13:53] #555 closed, assigned to nobody

[2020-01-27 15:21] minggangw commented on #553
I did some investigation locally and found that the crash happens when calling rcl_init_options_init() from librcl.so. It seems that it's not a problem caused by Node.js, I will dig deeper.

[2020-01-28 17:54] suab321321 commented on #498
@minggangw @mikelyndersOKCC I would like to contribute to #421 .Is anyone working on this issue?

[2020-01-28 20:10] wayneparrott commented on #498
@suab321321 I'm about 50% complete on a PR for #416. Hoping to submit it by EOW or some time next weekend.

[2020-01-29 04:12] suab321321 commented on #498
@wayneparrott is #414 free?Is this free?

[2020-01-29 07:31] wayneparrott commented on #498
@suab321321 re: #414, it is part of #416. I've started working on #416 based on the rcl library. I've temporarily halted development in order to finish a PR for ros2cli to support pluggable build-types. My plan is to finish the ros2cli PR tomorrow and resume #416. But if you are interested in #416 I will be glad to yield it to you or anyone else that is ready to push it forward. While you asked ab

[2020-01-29 07:55] suab321321 commented on #498
@wayneparrott can you tell me which is most beginners friendly issue?

[2020-01-29 13:21] minggangw commented on #498
Hi @suab321321 I suggest @wayneparrott is going to handle all param related features, so there will be no blockers or dependencies throughout the implementation (I have updated the assignees for these issues).

Meanwhile, I check the existing issues and probably #492 is suitable for beginners (I have tagged it with `good-first-issue`). Again, I'd like to mention some necessary knowledge one may ne

[2020-01-29 13:33] minggangw commented on #484
Hi @mwamp here comes good news 😄 now @wayneparrott is working actively on what you need (see https://github.com/ros2/ros2cli/issues/427)

[2020-01-29 13:37] #407 closed, assigned to nobody

[2020-01-30 03:58] suab321321 commented on #498
@minggangw okay I will begin the work soon.

[2020-01-31 14:32] wayneparrott opened #556 "node-gyp --debug rebuild fails"
While building rclnodejs for debugging I encountered the following error. To replicate run `node-gyp --debug rebuild`.
[code]
Seems addon.cpp is missing
`#include "spdlog/sinks/stdout_color_sinks.h"`

[2020-01-31 20:54] suab321321 commented on #498
@minggangw @wayneparrott I m finding it extremly difficult to understand `rcl_binding.cpp`
Is is `rcl_binding.cpp` same to rclnodejs as `rmw` for `rclpy` and `rclcpp`?
I found that inside `rclpy`  `_rclpy.c` the implementations are similar to what is there `rcl_bindings.cpp` isnt it?

[2020-02-01 08:38] minggangw commented on #556
d2724ffdaaf0c01fce6c0601c254aa16355c5fa0 introudced this bug, which upgraded dependency of `spdlog` from https://github.com/gabime/spdlog/tree/4371092309e999052513b109dc68f7a260153681 to https://github.com/gabime/spdlog/tree/aa65dd89053bea0b7e0ffc8d9be4f152d5c01f44, the latest spdlog has move the declaration of `stdout_color_mt` out of `spdlog.h` header. Thanks for finding this problem.

[2020-02-01 08:48] #556 closed, assigned to nobody

[2020-02-01 09:01] minggangw commented on #498
Hi @suab321321 I recommend you learn from some [examples](https://github.com/nodejs/node-addon-examples) of Node.js addon and try to understand the mechanism of binding C++ to JavaScript. https://github.com/RobotWebTools/rclnodejs/pull/554 is a good demonstration.

rmw is the middleware layer of ROS2 and it's transparent to us. What we should concern is `rcl` (based on rmw) library. `_rclpy.c` is

[2020-02-03 16:34] suab321321 commented on #498
@minggangw I have some doubt in rcl_binding.cpp
[code]

[2020-02-03 16:43] suab321321 commented on #498
@minggangw in above code in function `CreateTimer()` `rcl_timer_t*` variable is by one method but in function `IsTimerReady()` `rcl_timer_t*` variable is created by another method.
1.Why is this?
2.`RclHandle* timer_handle = RclHandle::Unwrap<RclHandle>(info[0]->ToObject());` can you give a brief explanation what is happening here? (I only know that info is used to access the paramter passed from

[2020-02-07 09:57] minggangw commented on #469
I spent half a day to dig into this feature and found it's more difficult than I thought which means we need more effort on it. An official [introduction](https://index.ros.org/doc/ros2/Tutorials/Understanding-ROS2-Actions/) of Actions in ROS2

[2020-02-11 15:42] mattrichard commented on #315
@minggangw If you're not working on this I might take a stab at it. It looks relatively simple to implement, but the actual usage is more difficult to understand since there's very little documentation about guard conditions.

[2020-02-12 02:31] minggangw commented on #315
I'm not working on it, please go ahead. I'd like to share some my understandings of this feature:

guard condition acts as a sort of `EventEmitter` in Node.js, offering the event-driven mechanism in ROS2. One difficult point I remember is that we have to find out which guard has been triggered and pass it to the main thread. (In the current design, we don't get the entities that need to be handled

[2020-02-12 03:12] minggangw commented on #315
Hi @mattrichard we have a slack channel at https://rclnodejsdev.slack.com/ created by @wayneparrott (thanks for creating it), you could join in and I think it will facilitate our daily development. I have sent the invitation to @koonpeng already 😄

[2020-02-12 04:21] mattrichard commented on #315
@minggangw if you could send an invitation to matthew.w.richard@gmail.com that would be awesome.

[2020-02-12 05:42] minggangw commented on #315
Done

[2020-02-13 05:37] mattrichard opened #562 "Support spin once"
rclnodejs has no support for spin once (that I'm aware of) like in rclcpp and rclpy. In #561 I had to resort to using setTimeout instead in the unit test to wait for the event loop to finish once. At a minimum, spin once should help improve unit tests within rclnodejs and make them more reliable.

[2020-02-15 07:57] #315 closed, assigned to nobody

[2020-02-15 12:06] minggangw commented on #498
In `CreateTimer`, we need to allocate the memory for the handle, while `IsTimerReady`, we get the handle passed from JavaScript,  which was created by the first method. So they are different usages.

Here we unwrap the C++ object from the parameter as you said, some detailed explanations please see https://nodejs.org/api/addons.html#addons_passing_wrapped_objects_around and https://github.com/node

[2020-02-16 01:00] mattrichard opened #564 "Rate support"
Support for creating a fixed rate is also missing in rclnodejs. This looks like it should be very simple to implement.

https://github.com/ros2/rclpy/pull/443

[2020-02-16 20:22] mattrichard opened #568 "Node v12"
rclnodejs should always support the active and maintenance LTS versions of Node.js. Supporting the current version too would be a big plus. Node v12 has been in active LTS for a few months now and should be supported for easier adoption of rclnodejs in newer projects. This issue is to track the changes needed to support v12.

Changes required.

- [x] Fix v8 deprecation warnings (#567)
- [x] Addres

[2020-02-17 02:58] #562 closed, assigned to nobody

[2020-02-17 08:38] #550 closed, assigned to nobody

[2020-02-17 18:57] mattrichard commented on #469
Here's a breakdown of the work that needs to be done.

- [x] Add actions to event loop (#570)
- [x] Read action type support libraries (#571)
- [x] Update message generation to properly handle .action files (#577)
- [x] Add all action binding methods for rcl integration (#596)
- [x] Add new ActionClient and ActionServer classes (#596)
- [x] Integrate action clients/servers into node handle executi

[2020-02-20 16:44] suab321321 commented on #498
@minggangw sir I think I m on verge solving of this issue :)
I have a questions.
1. are callbacks functions called using event driven architecture of nodejs(Event emitter)?

[2020-02-20 17:00] suab321321 commented on #498
I can see that there is `execute()` function in `node.js` which is checking for callbacks for subscription,timer,etc.but shouldnt this run infinetly to check for if a certain event has occured?

[2020-02-20 17:04] suab321321 commented on #498
One more question..
When creating a new `timer` we are needed to create a `timerHandle` but not in case of `Publisher` or `Subscriber`.why is this?

[2020-02-21 09:43] minggangw opened #579 "Use js-beautify to format JS code"
By using [js-beautify](https://www.npmjs.com/package/js-beautify), we can easily format our JS code. e.g.  `npm run format`

[2020-02-21 17:38] mattrichard commented on #579
We could take it one further and use [husky](https://github.com/typicode/husky) or [lint-staged](https://github.com/okonet/lint-staged) (or both) to auto-run the formatting when running `git commit`.

You can find an example [here](https://github.com/facebook/create-react-app/blob/2030ee162df0ca8f19efedcf0447e02613e2f53d/package.json#L49).

[2020-02-22 05:27] minggangw commented on #579
That's more convenient and I will have a look then, thanks!

[2020-02-22 05:38] minggangw commented on #498
executed() function is triggered by the sub-thread, so it doesn't need to run infinitely (as a loop).

the handle represents a "handle" of C resource,  see https://github.com/RobotWebTools/rclnodejs/blob/e38e2a289e3c357ca9406728631d7b6150ff4e15/lib/entity.js#L23

[2020-02-22 18:16] suab321321 commented on #498
@minggangw I need to add some parameters like `publisher` class constructor so shoud I pass it as an inside the `options` objects because see this
[code]
 or should I add one more parameter in method.

[2020-02-23 05:28] minggangw commented on #498
@suab321321 do you have a specific requirement or an issue (please create a new one if there is none), I suggest we'd better discuss there as this is a general issue for features to be implemented, thanks!

[2020-02-23 05:28] suab321321 commented on #498
@minggangw no no,see when we add the feature of liveliness and deadline callback, then this should be declared while creating Publisher/Subscriber, for this thing I need to add one more paramter in the methods which is used for creating Publisher/Subsciber, so I m asking if need to  embed this new parameter inside `options` object or add just add a new paramter field.
What guidelines is followed I

[2020-02-23 15:51] #568 closed, assigned to nobody

[2020-02-25 08:17] #579 closed, assigned to minggangw

[2020-02-25 13:14] minggangw commented on #492
Continued from #498

What guidelines is followed I dont know

We suggest aligning with interfaces of rclpy, there is no guideline for designing an interface

`timer.callback()` will trigger the callback function passed when creating this timer

[2020-02-27 05:33] #414 closed, assigned to wayneparrott

[2020-02-27 05:36] minggangw commented on #421
Close due to 800653424f641fbbb831784f1bfb38c6155f2720

[2020-02-27 05:36] #421 closed, assigned to wayneparrott

[2020-02-27 05:37] minggangw commented on #416
Close due to 800653424f641fbbb831784f1bfb38c6155f2720

[2020-02-27 05:37] #416 closed, assigned to wayneparrott

[2020-02-27 05:37] minggangw commented on #415
Close due to 800653424f641fbbb831784f1bfb38c6155f2720

[2020-02-27 05:37] #415 closed, assigned to wayneparrott

[2020-02-27 05:40] minggangw commented on #414
Hi @wayneparrott would you please create an issue to track we are going to leverage the rcl library (addon bindings) to implement the parameter services in the future?

[2020-02-28 01:18] EliotCao opened #587 "how to get multiple topic data at the same time"
I am new about ros and I want get multiple topic data using Rclnodejs as description in subscription example, is there possibility?
appriciate for you help.

[2020-02-28 14:42] wayneparrott commented on #587
I believe what you are seeking is a [ros message_filter](http://wiki.ros.org/message_filters?distro=eloquent) which to my understanding has not yet been implemented by this project.  Until it's implemented a fallback approach would be to implement a simple version that meets your project needs.

[2020-02-28 14:52] wayneparrott commented on #498
A useful feature to consider is the [message_filter](http://wiki.ros.org/message_filters?distro=eloquent). The current ros2 implementation is found here https://github.com/ros2/message_filters.

[2020-03-01 00:24] mattrichard opened #589 "LifecycleNode support in rclnodejs"
rclnodejs should support lifecycle (a.k.a managed) nodes.

https://github.com/ros2/demos/blob/master/lifecycle/README.rst

[2020-03-01 00:46] mattrichard opened #590 "TypeScript strict mode support"
The typings provided by rclnodejs should be fully compatible with TypeScripts's `--strict` compiler flag, especially with [strictNullChecks](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-0.html#--strictnullchecks).

[2020-03-01 19:30] mattrichard commented on #498
@wayneparrott It seems like message filters would be better implemented as a separate library, if possible, since it's not built into rclcpp. But that starts bringing up the question of how to distribute rclnodejs packages. Distributing on npm with rclnodejs as a peer-dep would probably be fine for now.

[2020-03-02 01:33] EliotCao commented on #587
thanks for your reply

[2020-03-02 01:33] #587 closed, assigned to nobody

[2020-03-02 19:53] wayneparrott commented on #564
A quick thought:

This could be a design challenge for a single threaded javascript implementation based on the [rclpy Rate implementation](https://github.com/ros2/rclpy/blob/master/rclpy/rclpy/timer.py). The classic use-cases for Rate that I'm aware of is an endless loop that uses a Rate to establish a regular frequency for the loop. Following a Rate#sleep() call in this endless loop is a call to

[2020-03-03 13:29] minggangw commented on #564
I read the comment for the `sleep()` method in rclpy
https://github.com/ros2/rclpy/blob/2b041106ea15d3e2824b00790f7b4b73eb699b4c/rclpy/rclpy/timer.py#L137-L143
It seems that **Rate** should be used carefully with`SingleThreadedExecutor`, and I looked through the test case which uses `SingleThreadedExecutor`
https://github.com/ros2/rclpy/blob/2b041106ea15d3e2824b00790f7b4b73eb699b4c/rclpy/test/test

[2020-03-03 13:33] minggangw commented on #564
I came across this [article](https://snyk.io/blog/nodejs-how-even-quick-async-functions-can-block-the-event-loop-starve-io/) which I think can help us to understand the event loop of Node.js deeply. Hope it's also useful for you :smile:

[2020-03-03 17:44] wayneparrott commented on #564
Thx @minggangw. Assuming that rclnodejs Timer is a key component in the implementation of Rate, there is a need to handle Rate.timer timeout event outside of the current executor model when not spin()'ing.

Alternatively, could you envision a parallel instance of rcl running in its own context either in a worker thread or on the main thread specifically for implementing Rate based on a rcl Timer?

[2020-03-04 14:08] minggangw commented on #564
I think the root cause is that Node.js doesn't support multi-thread, e.g. create a sub-thread, semaphore in JS...

We have some limitations when using Node.js, I list some:

- It has [worker_threads](https://nodejs.org/api/worker_threads.html), but not well supported as threading in Python and we can only execute some simple tasks on it.
- It's unusual to block the event loop in Node.js.

So, rcln

[2020-03-05 22:53] wayneparrott commented on #564
I've got a rate solution that I will submit in a PR soon. The design is really simple in that it runs a timer in a separate rcl context. My prototype seems to work properly with no deadlock when accompanied in a loop with spinOnce().

[2020-03-08 15:23] wayneparrott opened #598 "Access current time from Node"
In ROS2 time keeping is the responsibility of Node. We recently added getClock() to Node. In addition to accessing the clock is convenient access of the current time. This issue proposes adding `now(): Time` method to Node similar to the now() method of the [rclcpp.Node](https://github.com/ros2/rclcpp/blob/master/rclcpp/src/rclcpp/node.cpp) class.

[2020-03-08 21:16] wayneparrott opened #599 "Recognize the use_sim_time parameter"
With the recent addition of parameter features TimeSouce can now take advantage of the use_sim_time parameter for enabling/disabling use of simulation time. See https://github.com/ros2/rclpy/blob/master/rclpy/rclpy/time_source.py for reference.

[2020-03-09 18:41] wayneparrott commented on #599
Note- be sure that RateTimerServer's internal node uses a similar Clock/TimeSource as it's parent (containing) node.

[2020-03-10 15:11] wayneparrott opened #601 "Time#fromMsg() error and improvement"
3 problems to address:

1) The Time#fromMsg() incorrectly references the builtin_interfaces.msg.Time.nanosec property as nanoseconds.

Here's the Time idl:
[code]
Here's the Timer#fromMsg()
[code]

2) The jsdoc for `fromMsg()` needs to clarify that msg is of type builtin_interfaces.msg.Time and the ClockType parameter default value should be ROS_TIME

3) time.d.ts fromMsg() the clock parameter sho

[2020-03-10 16:58] wayneparrott opened #603 "Annoying editor error markers on generated/ and .eslintrc"
My editor frequently shows annoying eslint error markers :

- occasionally I open js files in the generated/ folder resulting in 100+ lint error markers in the file and persisting on the file after closing in an explorer view. For this issue, propose excluding the generated/ folder in .eslintrc
[code]
- .eslintrc is sometimes confused for a json file by my editor resulting in an annoying json synt

[2020-03-11 01:45] #564 closed, assigned to wayneparrott

[2020-03-11 02:25] #603 closed, assigned to nobody

[2020-03-11 06:22] #601 closed, assigned to wayneparrott

[2020-03-12 01:55] #598 closed, assigned to wayneparrott

[2020-03-16 13:39] #599 closed, assigned to nobody

[2020-03-16 20:30] wayneparrott opened #607 "No tests available to confirm --log-level cmdline arg is functioning"
With the recent addition of parameter support the ros2 --log-level commandline arg should be available for externally setting a node's log level. No test cases to verify this assertion.

[2020-03-17 11:22] #607 closed, assigned to wayneparrott

[2020-03-18 12:58] mattrichard commented on #590
The tsconfig.json already has `strict: true`, so I will close this for now.

[2020-03-18 12:58] #590 closed, assigned to nobody

[2020-03-18 15:53] wayneparrott opened #612 "Tests fail when using the Eclipse cyclone dds"
Environment:
- Ubuntu 18.04
- Eclipse Cyclone DDS 0.1.0:  installed from debian package ros-eloquent-rmw-cyclonedds-cpp
- export RMW_IMPLEMENTATION=rmw_cyclonedds_cpp

Background:
https://index.ros.org/doc/ros2/Tutorials/Working-with-Eclipse-CycloneDDS/

Following is the console output from `npm run test`
[code]

[2020-03-19 02:37] minggangw commented on #612
It seems that the internal state of the thread is incorrect

[code]
https://github.com/eclipse-cyclonedds/cyclonedds/blob/master/src/core/ddsi/include/dds/ddsi/q_thread.h#L211

[2020-03-20 02:38] minggangw opened #613 "Considering to use libuv Shared library handling APIs"
Currently, we are using `dlfcn-win32` to support getting a function pointer from the library on Windows platform, which introduces an additional dependency.

https://github.com/RobotWebTools/rclnodejs/blob/010ac5fda5d55afc019507e85150537e9774ac1d/src/rcl_utilities.cpp#L24

We could replace it with the API offered by [libuv](http://docs.libuv.org/en/stable/dll.html) to eliminate it.

[2020-03-21 17:12] trusktr opened #617 "Differences between this and rosnodejs?"
Just curious, what are the differences between rclnodejs and [rosnodejs](https://github.com/RethinkRobotics-opensource/rosnodejs#readme).

[2020-03-21 18:02] minggangw commented on #617
rclnodejs is designed for [ROS2](https://github.com/ros2/ros2), while rosnodejs is for ROS1.

[2020-03-21 22:57] trusktr commented on #617
Oh, I see. I'm on ROS 1, and should probably head over to rosnodejs then. I'm new to ROS.  Thanks!

[2020-03-22 03:25] #617 closed, assigned to nobody

[2020-03-23 16:27] wayneparrott opened #619 "Inconvenient converting Time to builtin_interfaces/msg/Time msg"
Many ros msgs include a header with a builtin_interfaces/msg/Time timestamp. A common task is converting rlcnodejs Time to a Time message. rclpy.Time includes a convenient toMsg() method.

Proposal: add Time#toMsg() that returns builtin_interfaces/msg/Time, i.e., {sec: number, nanosec: number)

[2020-03-24 16:30] #619 closed, assigned to wayneparrott

[2020-03-24 21:22] flynneva commented on #498
I'd love to help out with this! it looks like most of the topics are already done (sorry for being late to the party).

I'll poke around and see where I can help

[2020-03-25 10:00] minggangw commented on #498
Hi @flynneva welcome, the checklist in c#1 shows some main features which are not implemented yet, but I think there should be some others not found. If you have experience with [rclpy](https://github.com/ros2/rclpy), it's easy to discover the missing functions or you could enhance some existing ones. Some insights:

- #589 needs to develop with JS only I think.
- #492 needs  JS & C++ to expose th

[2020-03-25 17:17] zentala opened #628 "How to destroy Subscription? How to subscribe just for a while?"
I would like to get some data from the topic and then close/exit from the subscriber. Is it possible? How?

[2020-03-25 17:30] wayneparrott commented on #628
Setup a normal subscription:
[code]
Then when subscription is no longer needed destroy it:
[code]

[2020-03-26 00:00] flynneva opened #629 "npm install error"
First off - awesome work so far! I am very interested in supporting and trying to help where I can.

I'm having trouble getting setup, trying to follow the install instructions in the README.

OS: Ubuntu 18.04
ROS2 version: Dashing
Node.js version: 12.16.1

I've cloned and updated the submodules and while running ```npm install``` I get this error:
[code]

Has anyone experienced this issue as well

[2020-03-26 00:38] zentala commented on #628
It throws an error: `Callback must be a function. Received undefined`
Indeed `subscription` is an `object`, not a `function`.

[2020-03-26 00:51] zentala commented on #628
It's working! Thanks.

[2020-03-26 05:56] minggangw commented on #629
I'm afraid you may mismatch ROS2 with the correct release of rclnodejs, please reference https://github.com/RobotWebTools/rclnodejs#match-with-ros-20-stable-releases to find out a suitable version. Usually, we publish a release based on a specific ROS2 (Patch) Release.

[2020-03-26 05:58] minggangw commented on #628
Close this issue marked as resolved.

[2020-03-26 05:58] #628 closed, assigned to nobody

[2020-03-26 10:24] zentala opened #631 "How to call a service?"
I found how to create a service, but is there any way to call a service?

[2020-03-26 12:15] minggangw commented on #631
I suggest you find the examples [here](https://github.com/RobotWebTools/rclnodejs/tree/develop/example) ([client example](https://github.com/RobotWebTools/rclnodejs/blob/develop/example/client-example.js)) and the API [doc](http://robotwebtools.org/rclnodejs/docs/index.html), that's what you need to know how to write a basic ROS2 app by rclnodejs.

[2020-03-26 13:07] #469 closed, assigned to mattrichard

[2020-03-26 15:27] zentala commented on #631
Thanks and sorry. I didn't notice this example as I have been looking for something with `service` in a name. It may be a good idea to rename this file to `service-client-exmaple.js`.

[2020-03-27 00:15] #629 closed, assigned to nobody

[2020-03-30 10:42] minggangw commented on #631
Thanks for your suggestion, so I think we could close it now. Please feel free to reopen it if you find anything wrong.

[2020-03-30 10:42] #631 closed, assigned to nobody

[2020-03-31 06:13] #613 closed, assigned to nobody

[2020-03-31 09:21] minggangw opened #634 "Use RCUTILS_LOG_DEBUG() to replace spdlog"
Currently, we use spdlog for logging in C++ code because there were no logging utils at the early stage of ROS2 beta. But we could leverage [rcutils](https://github.com/ros2/rcutils) to remove the dependency of spdlog now.

[2020-03-31 15:44] minggangw opened #635 "Use clang-format for C++ files"
Consider to use [clang-format](https://www.npmjs.com/package/clang-format) to format C++ files

[2020-04-01 12:59] #635 closed, assigned to nobody

[2020-04-02 01:44] minggangw opened #637 "Remove the generated jsdoc from the codebase and npm's package"
Currently, the generated [jsdoc](https://github.com/RobotWebTools/rclnodejs/tree/develop/docs) (.html) is included in `develop` branch & npm package. Actually, we want developers to leverage the on-line [doc](http://robotwebtools.org/rclnodejs/docs/index.html) generated from `gh-pages` branch or generate the doc herself / himself during developing.

So, we are going to remove the generated html fi

[2020-04-02 03:56] flynneva opened #638 "[question] whats the targeted structure for integrating ROS2 into a website?"
So I'm trying to get familiar with the rclnodejs package.

I figured the best way to do this is to actually use it and try it out on a website.

I've [added it successfully to my site](https://github.com/flynneva/flynn-labs) and the "hello world ROS2" example works great locally...however once deployed I think it is only publishing it locally and not actually through the internet (probably a good

[2020-04-02 05:36] minggangw commented on #638
Thanks for your questions, some points I know

If you want to access ROS with browser only (no ROS env or Node.js), you have to use ros2-web-bridge (with ROS2 env) as a server and run roslibjs in a browser as a client.

Theoretically, a client (browser) can connect any accessible endpoint through WebSockets (roslibjs and ros2-web-bridge communicate with).

Not exactly, it doesn't offer UI elements

[2020-04-02 06:13] #637 closed, assigned to nobody

[2020-04-02 16:57] #638 closed, assigned to nobody

[2020-04-03 20:20] muawijhe opened #640 "Unable to install on Ubuntu 18.04LTS with Dashing ROS2 release"
Hi guys and girls,

`In file included from ../src/rcl_bindings.cpp:38:0:
../src/rcl_bindings.cpp: In function ‘Nan::NAN_METHOD_RETURN_TYPE rclnodejs::GetParameterOverrides(Nan::NAN_METHOD_ARGS_TYPE)’:
../src/rcl_bindings.cpp:128:19: error: ‘rcl_arguments_get_param_overrides’ was not declared in this scope
       RCL_RET_OK, rcl_arguments_get_param_overrides(parsed_args, &params),

[2020-04-03 21:41] wayneparrott commented on #640
edited -
@muawijhe thx for reporting this issue. The default version of rclnodejs v0.13 is for use with the ROS 2 Eloquent distro (which is why you are experiencing this error). For versions of rclnodejs compatible with earlier versions of ROS 2 see the install directions for the appropriate rclnodejs version that matches your ros2 distro https://github.com/RobotWebTools/rclnodejs

rclnodejs 0.13

[2020-04-04 09:14] muawijhe commented on #640
Thanks for the reply and the quick response.

I believe it is important to maintain high and effective compatibility with
LTS ROS2 releases as Dashing.

People are relying on the LTS releases to create and maintain products.

Do you think that your interest project will soon be (again) usable for the
LTS release?

V.

On Fri, Apr 3, 2020, 11:42 PM Wayne Parrott <notifications@github.com>
wrote:

[2020-04-04 09:47] muawijhe commented on #640
I also tried to use different versions without success. Did you try yourself with older version as well? If so coud you be so gentle and post here the version (and or the command)?

Thanks

[2020-04-04 13:23] minggangw commented on #640
Thanks for @wayneparrott's explanation and I want to share my thoughts about this problem.

- Which version should I use?

Usually, each release of `rclnodejs` targets on a (patch) release of ROS2. There are **7** releases of Dashing totally, including 1 main release and 6 patch release (the latest version is [patch release 6](https://github.com/ros2/ros2/releases/tag/release-dashing-20200319)). M

[2020-04-04 14:10] muawijhe commented on #640
Dear Wang, thanks for your reply,

I believe Ubuntu is delivering patch 6 (based on what I see from ROS2
website).

I'll try this 0.10.3 and i'll give you feedback.
I understand that ROS2 has a release every 6 months, but again, people try
to stick to the long EOL release (unfortunately I named LTS), to manage
migration and support of products.
I hope you can help with this issue as Dashing will b

[2020-04-05 09:30] #634 closed, assigned to nobody

[2020-04-10 15:10] wayneparrott commented on #587
@EliotCao I've started looking into your question a bit deeper and while message_filters are how you can accomplish this in python or C, there is not yet a primary message_filter-like solution. If I had to solve this problem today I would give RxJS a hard look as it seems like it is made for these type of event and timing based problems. I'll follow up with an example soon if you're still looking

[2020-04-10 15:16] minggangw opened #646 "Support to publish/subscribe serialized messages"
rclnodejs should support the capability of publishing/subscribing serialized messages, which offers by rcl library:

- [rcl_publish_serialized_message](https://github.com/ros2/rcl/blob/7537f8304493e9b9568748b5601f5c1b7fa463f0/rcl/include/rcl/publisher.h#L359)
- [rcl_take_serialized_message](https://github.com/ros2/rcl/blob/7537f8304493e9b9568748b5601f5c1b7fa463f0/rcl/include/rcl/subscription.h#L30

[2020-04-11 14:58] muawijhe commented on #640
Hi guys,
There is no one out there able to adjust the release for the current Ubuntu patch 6 version?

It will be great to support long term distro :(

[2020-04-12 10:02] minggangw commented on #646
Anybody who is interested in this issue,  please take it freely.

[2020-04-12 10:28] minggangw commented on #640
We try to develop the rclnodejs client based on the latest stable ROS2, because we have limited resources to maintain several branches simultaneously (most of the engineers spend their free time in developing this project). Maybe we could support more after Foxy release as it will change less.

BTW what's kind of error you met, a compiling error caused by C code?

[2020-04-12 16:13] muawijhe commented on #640
`In file included from ../src/rcl_bindings.cpp:38:0: ../src/rcl_bindings.cpp: In function ‘Nan::NAN_METHOD_RETURN_TYPE rclnodejs::GetParameterOverrides(Nan::NAN_METHOD_ARGS_TYPE)’: ../src/rcl_bindings.cpp:128:19: error: ‘rcl_arguments_get_param_overrides’ was not declared in this scope RCL_RET_OK, rcl_arguments_get_param_overrides(parsed_args, &params), ^

npm -v
6.13.4

nodejs -v
v12.16.1

dpkg -

[2020-04-17 15:35] minggangw opened #647 "rosidl_generator_c =>rosidl_runtime_c"
Due to the change of https://github.com/ros2/rosidl/pull/458, we are going to make changes in file of rcl_bindings.cpp accordingly.

[2020-04-21 02:42] EliotCao commented on #587
I'm not working on it, but it maybe valuable for others. thanks a lot.

[2020-05-05 12:51] minggangw opened #649 "Use Read-write locks to protect the data shared between threads"
Currently, we are using uv_mutex_lock/uv_mutex_unlock to protect data shared between threads:

https://github.com/RobotWebTools/rclnodejs/blob/326ad707343133b9badaf927c2f8fb0dacc34886/src/handle_manager.hpp#L28-L35

But we could use [Read-write locks](http://docs.libuv.org/en/v1.x/threading.html#read-write-locks) to make it more efficient.

[2020-05-06 07:20] minggangw opened #651 "Call rcl_logging_configure/rcl_logging_fini when init/shutdown"
Due to change of https://github.com/ros2/rcl/pull/579

[2020-05-07 05:37] #647 closed, assigned to nobody

[2020-05-07 05:50] #651 closed, assigned to nobody

[2020-05-08 08:56] minggangw opened #654 "Adds the ./lib/action folder for JSDoc"

[2020-05-09 02:37] #654 closed, assigned to nobody

[2020-05-23 17:12] wayneparrott opened #657 "Support waitsets"
rclcpp recently added a new waitset api, https://github.com/ros2/rclcpp/issues/520 Is the waitset capability something we want to consider for inclusion in rclnodejs?

[2020-05-24 16:47] minggangw commented on #657
Thanks for the information! It's a big refactor inside the rclcpp framework and I go through the motivation of it roughly (I see many issues were connected to this PR), the most important one I think is to reduce the CPU overhead. But the changes are based on the design of rclcpp specifically and we have some limitations of threads in Node.js, so I think we need to investigate more to see how will

[2020-05-25 08:18] minggangw commented on #657
Just some thoughts in case I forget them:

- From the current framework of rclnodejs, we don't have kind of `Executor` (SingleThreadedExecutor/MultiThreadedExecutor) exposed to the JavaScript layer, the concept of the thread is transparent to the developers. Further, the `Executor` in rclnodejs runs on the sub-thread because it's not allowed to block the main thread in Node.js

- Exposing `waitset

[2020-05-25 15:15] wayneparrott commented on #657
My blink reaction was similar to your's.  Let's revisit as ros 2 continues to mature and additional features emerge that we want incorporated into the project.

[2020-05-28 16:08] wayneparrott opened #658 "generated msg declarations in typescript do not include typed-arrays"
This is a general question about how typescript declarations for ros msgs represent numeric array properties. For example the `data` property of a ros2 image is defined as  uint8[] in [IDL](https://github.com/ros2/common_interfaces/blob/master/sensor_msgs/msg/Image.msg). Yet the typescript interface generated by rclnodejs (see below) declares the data property as a `number[]`.
[code]
Shouldn't `da

[2020-05-29 04:24] minggangw commented on #658
I agree as rclnodejs can adopt both types.

[2020-05-29 14:49] wayneparrott commented on #658
@minggangw @mattrichard Please review.

Proposed mapping of [IDL numeric type arrays](https://design.ros2.org/articles/idl_interface_definition.html) to JavaScript typed-array:

| IDL type | JS |
|---------|----|
| int8[]     | Int8Array|
| uint8[]     | Uint8Array|
| int16[]     | Int16Array|
| uint16[]     | Uint16Array|
| int32[]     | Int32Array|
| uint32[]     | Uint32Array|
| int64[] | BigIn

[2020-06-06 02:44] jacobbubu opened #659 "When will the Foxy Fitzroy version be supported?"
I am new to this project, maybe someone has already answered this question before, but I did not find.

Thanks!

[2020-06-06 03:38] wayneparrott commented on #659
Setting up an env to test drive foxy tonight. Will provide feedback asap.

[2020-06-06 05:28] wayneparrott commented on #659
Good news! I was able to successfully run the full project test suite. Given that I'll be switching to use the ROS2 Foxy release.

[2020-06-06 14:51] minggangw commented on #659
Really good news :)

@jacobbubu  Fox was just released on June 5th, so I am going to verify rclnodejs with it on all supported platforms. Hopefully, we are going to publish a new version with fixing some minor bugs, e.g. #649, thanks!

[2020-06-07 03:40] jacobbubu commented on #659
I try to run test cases of rclnodejs under macOS Catalina. I tested Node.JS v14.3.0 and Node.JS v12.13.1 respectively, and encountered different problems (I will reinstall `rm -rf node_modules && npm i && npm run install` before execution).

Under NodeJS v12, I encountered 8 test cases that failed, as shown below:
[Failure cases on Node.JS v12](https://www.dropbox.com/s/hru3qklqjc051ae/ros2-foxy-n

[2020-06-07 03:51] jacobbubu opened #661 "Fatal error encountered while installing rclnodejs on macOS Catalina & Node.JS v12"
[code]

SIP has already disabled.

[2020-06-07 13:51] minggangw commented on #659
Thanks for helping to test the cases on different Node.js versions, some thoughts:

Failure cases on Node.JS v12

Those are known failures because some cases used to test interaction with rclpy/rclcpp tend to be flaky. Also, I noticed that you opened #661 which reports an error while installing `rclnodejs` on Node.js v12, so I am wondering if you meet the error actually? (you could reference the #

[2020-06-07 13:58] jacobbubu commented on #659
@minggangw The #661 error is caused by installing directly from npm, which is different from #659 trying to build from source.

[2020-06-07 14:14] minggangw commented on #659
Oh, I see and sorry for misunderstanding your issue. The failure is because the rclnodejs v0.14.0 is incompatible with ROS2 Foxy release, while the `develop` branch has land the patch which fixed that. So, I suggest you could wait for the next release to be officially published and if you want to run your code with Foxy right now, you could install from `develop` branch instead. Thanks!

[2020-06-07 14:14] minggangw commented on #661
Thanks for your question, and the failure is because the rclnodejs v0.14.0 is incompatible with ROS2 Foxy release.

[2020-06-07 22:54] wayneparrott commented on #659
@jacobbubu

Apologies when I incompletely reported the test suite was running on foxy. I should have included I was testing on a linux 20.04 VM. I'm on a mac as well that I use for a wide range of dev.  The prereq's, etc discouraged me from installing it directly. Call me a scaredy cat :)

[2020-06-08 05:44] jacobbubu commented on #661
@minggangw I tested under Node.JS v12.13.1.

[2020-06-08 07:17] minggangw commented on #661
Thanks for the information, the compiling error is due to the change brought by rcl library instead of Node.js versions related problems.

[2020-06-10 08:12] minggangw commented on #659
[v0.14.1](https://www.npmjs.com/package/rclnodejs/v/0.14.1) is released, please upgrade your rclnodejs to the latest version, enjoy!

[2020-06-10 08:13] minggangw commented on #661
[v0.14.1](https://www.npmjs.com/package/rclnodejs/v/0.14.1) is released, please upgrade your rclnodejs to the latest version, enjoy!

[2020-06-10 08:46] minggangw commented on #659
I suppose we could close it now, please feel free to reopen it if you still have problems, thanks!

[2020-06-10 08:46] #659 closed, assigned to nobody

[2020-06-11 02:19] jacobbubu commented on #661
Confirm that it can be successfully installed under Node.JS v12 and macOS Catalina .But under Node.JS v14 I will still encounter segmentation fault.

[2020-06-11 02:19] #661 closed, assigned to nobody

[2020-06-11 02:37] minggangw commented on #661
@jacobbubu would you please open a new issue to track the current problem (segmentation fault) on Node.js v14 and offer the backtrace of it which will help us to fix it or know what happens there, thanks!

[2020-06-18 15:50] zentala commented on #661
I have the same error:
[code]

...under:
* Ubuntu 18.04
* ROS2 Eloqunet
* Node v12.16.2

...trying to install package from NPM or build it manually

[2020-06-18 16:49] minggangw commented on #661
@zentala If you are running Eloquent, and you have to install rclnodejs 0.14.0

[code]

[2020-06-18 16:55] wayneparrott commented on #661
edit: ops just saw @minggangw  suggestion...

@zentala
Sorry you are hitting this issue. Try installing as follows:
[code]
The most recent rclnodejs version is 0.14.1 which is only compatible with the latest ros2 foxy release. The rclnodejs v0.14.0 is the most recent version compatible with ros2 eloquent.

Action item will be to revisit the docs to see if we can make the version compatibility info

[2020-06-18 17:08] minggangw commented on #661
I strongly agree as users tend to install the latest version by default, and the [table](https://github.com/RobotWebTools/rclnodejs#match-with-ros-20-stable-releases) we offered was ignored usually. Unlike rclpy/rclcpp, rclnodejs is not integrated with ROS2 package, so users have to select a proper version to match with their ROS2 (considering there are already many ROS2 release & patch release 😄)

[2020-06-18 17:21] wayneparrott opened #664 "Obscure ros2-rclnodejs version compatibility info leads to installation errors"
Proposal: make the ros2-rclnode version compatibility info more pronounced to users on the npm readme.

Recently there have been several installation issues reported because a user installed a version of rclnodejs that is incompatible with their installed version of ros2. The npm readme includes a reference to the version compatibility table but it seems it is easily overlooked.  Because the adher