[2020-06-18 17:32] wayneparrott commented on #658
update: hoping to submit a PR next week (june 24-ish)

[2020-06-19 01:17] jacobbubu commented on #661
There is no problem installing rclnodejs@0.14.1 under Node.JS v14.3.0, but there will be some compilation warnings.

[code]

[2020-06-19 02:06] minggangw commented on #661
Got it, thanks @jacobbubu

[2020-06-19 09:56] minggangw commented on #664
FYI, the README used by npm locates [here](https://github.com/RobotWebTools/rclnodejs/blob/develop/scripts/npmjs-readme.md), which looks much simpler than the one used by github here. When packaging the rclnodejs, the README will be replaced with the npm copy.

Please feel free to edit any section of README to make it clear and descriptive, thanks!

[2020-06-29 07:29] minggangw opened #667 "Align with the basic types which can be typed-arrays with rostsd_gen in rosidl_gen"
Currently, we define some basic types which can map to typed-array to improve the efficiency, e.g.

https://github.com/RobotWebTools/rclnodejs/blob/87375dedd4faaaa77376118d076864bb3d03111e/rosidl_gen/templates/message.dot#L70-L95

While we should make these consistent with [IDL specification](https://design.ros2.org/articles/idl_interface_definition.html)

[2020-06-30 02:22] #649 closed, assigned to nobody

[2020-06-30 15:49] wayneparrott opened #668 "Enable rclnodejs to fully support rcl contexts"
This proposal is to refactor the rclnodejs design to properly support rcl contexts and to better use context in certain api's. My rationale is that the current rclnodejs design effectively restricts users to a single context. Yet at the rcl level, multiple contexts are supported. This is not a big deal in most cases but unnecessarily restricts more advance uses of rcl context such as the rclnodejs

[2020-07-01 06:57] minggangw commented on #668
Thanks for doing a deep investigation about the `Context` concept in rcl and rclnodejs and analyzing the steps to implement it. I did a simple implementation to support context, using the default `context` to pass to the `rcl` functions, so the `rclnodejs` cannot support multi-context. If we could achieve this feature, developers could customize their nodes by using a different context instance as

[2020-07-01 18:59] wayneparrott commented on #668
@minggangw Thanks for the offer to assist. The changes were fairly simple to implement. See PR #669.

[2020-07-04 19:47] wayneparrott commented on #658
fixed.

[2020-07-04 19:47] #658 closed, assigned to wayneparrott

[2020-07-04 21:16] wayneparrott commented on #646
I was curious about how serialized messages might be implemented for subscriptions and publishers. I took a look at [rclpy's implementation of rcl_take for subscriptions](https://github.com/ros2/rclpy/blob/87390606b218169ab07ca2f99c7c6480d6f8eed5/rclpy/src/rclpy/_rclpy.c) which uses a parameter to specify when to use call `rcl_take_serialized_message`.

With that as background here's some quick th

[2020-07-05 07:46] minggangw commented on #668
Fixed by #669

[2020-07-05 07:46] #668 closed, assigned to wayneparrott

[2020-07-05 15:12] minggangw commented on #646
+1 we could simply add a key like `enableRaw`  to take this parameter instead of a separate one like `rclpy` implementation.

We already have it, https://github.com/RobotWebTools/rclnodejs/blob/03e84dc5264a5f4363fb20c89cadd3f392cfceee/lib/publisher.js#L54-L55
`rawMessage ` is an instance of `Buffer`, so I think we can leverage the node [Buffer](https://nodejs.org/api/buffer.html) to pass the seria

[2020-07-13 00:03] caelinsutch commented on #492
Is this taken?

[2020-07-13 02:35] minggangw commented on #492
No, it' not. Please feel free to take it if you are interested in.

[2020-07-14 05:09] caelinsutch opened #672 "Error Installing via npm or Github link"
On Ubuntu 20.04 with the Foxy release, I get the follow errors when trying to install rclnodejs. This happens when I put `    "rclnodejs":"RobotWebTools/rclnodejs#foxy-fitzroy"` in my package.json or if I install via `npm i rclnodejs`

[code]

[2020-07-14 05:18] minggangw commented on #672
Did you [source](https://index.ros.org/doc/ros2/Installation/Foxy/Linux-Install-Binary/#sourcing-the-setup-script) the install script? It seems that AMENT_PREFIX_PATH is undefined from the log.

[code]

[2020-07-14 07:34] koonpeng opened #673 "Possible use after free in callbacks"
I created a new branch `bug/callback-uaf` to help reproduce it. It adds a `test-promise-gc` test case that fails with what looks like the result a use-after-free.

From my experiments, the uaf occurs when we assign the argument of of a callback that contains a typed array to a variable from the outer scope

[code]

here, `msg` is assigned to `result` through the promise resolver, after which we ma

[2020-07-14 16:21] caelinsutch commented on #672
Yup that was it, just me making dumb moves lol. Thanks for the help!

[2020-07-14 16:21] #672 closed, assigned to nobody

[2020-07-15 02:57] koonpeng opened #674 "memory leaks in RclHandle and ref-napi"
Running in valgrind reports memory leaks in

[code]

and

[code]

For the `ref-napi` leaks, it looks like when a new buffer is created at

[code]

this creates a new "StructType" of `ref-struct-di`, which creates some buffers using `ref-napi`, the underlying ref to the buffer is obtained through `message.toRawROS`, this buffer is then passed to the native function `RclTake` which calls `rcl_take`,

[2020-07-15 13:54] minggangw commented on #674
Sorry for the delay, and thanks for investigating the memory leak issue which I think it's very complicated for every C++ project. Some thoughts:

- The first case

I noticed that the leak happens when creating a node, I'm wondering does it also happen when creating other entities, e.g. a publisher or client? Theoretically, the instance of `RclHandle` should be managed by v8 and will not get leake

[2020-07-15 16:14] minggangw commented on #673
Thanks for investigating this issue, I think I can explain a little bit of the background of the usage of the typed array.

1. During the deserialization

https://github.com/RobotWebTools/rclnodejs/blob/03e84dc5264a5f4363fb20c89cadd3f392cfceee/rosidl_gen/templates/message.dot#L729-L736

When the typed array is enabled (|usePlainTypedArray| equals to true), we are going to call a  binding method to

[2020-07-16 02:27] koonpeng commented on #674
This is the command i used to run valgrind, I'm using the tests I created for the use-after-free bug.
[code]

I just ran valgrind on a minimal test script

[code]

and it reports the same leak as well, maybe it does not involve rclnodejs, I will try to look more into it.

[2020-07-16 02:29] koonpeng commented on #673
Thanks for the insight, I am still new to node native modules and v8, I'm trying to see if there is a way to let v8 manage the lifecycle of the memory allocated by `rcl_take` so that it is only free-ed when there is no more reference in javascript.

[2020-07-16 03:46] #664 closed, assigned to wayneparrott

[2020-07-16 05:41] #667 closed, assigned to minggangw

[2020-07-16 09:54] minggangw commented on #673
I landed a patch bbcc0503ade29f09936c896b7cf211a5bb818bb0 to fix the double free problem and I can pass the test locally, but I'm not sure there is no memory leak by using this, @koonpeng would you please take a look?

[2020-07-17 11:56] koonpeng commented on #674
I think I identified the leak from `createNode`, `ShadowNode` has accessors for `handle` and for some reason, assign the object to the persistent handle causes the weak callback installed by `Nan::ObjectWrap` to not get called. I simply removed the accessors and it seems fix it, since the `RclHandle` lifetime is handled by v8 we shouldnt need to destroy it ourselves.

I'm still looking at other le

[2020-07-17 13:31] minggangw opened #677 "Build error with Nojde.js v10.21.0"
When building `develop` branch with Node.js  v10.21.0 on Ubuntu20.04, it fails. See below about the log:
(top SHA = ea9ed34f3e85e9c66fc1a48dde95465cf596fa59)

[code]

[2020-07-17 14:28] minggangw commented on #673
https://github.com/RobotWebTools/rclnodejs/blob/87375dedd4faaaa77376118d076864bb3d03111e/src/rcl_bindings.cpp#L1325-L1327

That's the v8 doc description about [```ArrayBuffer::New```](https://v8docs.nodesource.com/node-7.10/d5/d6e/classv8_1_1_array_buffer.html#a98c19b0bf91cc3ea22371fbab5707e25). So I think we still have to take care of it because it will not get GCed.

With patch bbcc050, run ***v

[2020-07-17 15:19] minggangw commented on #674
I did some debugging and also found the dtor of `ShadowNode` not invoked, but I am pretty sure that it once worked. Not sure when the regression was introduced.

[2020-07-17 15:43] #677 closed, assigned to minggangw

[2020-07-17 16:42] minggangw commented on #673
I updates the patch 31fb53fa87f6f9d996630355548ae9152d2f3155. `test-promise-gc.js` can pass now and there is no memory leak of the typed array from valgrind. But the downside is that we have to sacrifice the performance, @koonpeng what do you think? Is it suitable? If it's acceptable, we could have a hotfix.

[2020-07-18 11:51] koonpeng commented on #673
https://v8docs.nodesource.com/node-12.16/d5/d6e/classv8_1_1_array_buffer.html#a98c19b0bf91cc3ea22371fbab5707e25 The docs here says if we set the array buffer to `kInternalized` v8 will free the address when there are no more reference. Maybe that would work to automatically clean up the buffer?

[2020-07-18 13:59] minggangw commented on #673
Oh, I even didn't notice that... and have changed to pass `kInternalized`. The unit tests and valgrind don't complain anymore, perfect 😄 So, I submitted #679 to be reviewed. Would you please submit another PR to include `test-promise-gc.js`  (please remove any copy right about Intel brand, you could use Apache License or your company's if you like), thanks!

[2020-07-20 05:25] #673 closed, assigned to nobody

[2020-07-27 15:55] #674 closed, assigned to nobody

[2020-07-30 21:02] caelinsutch opened #687 "No TypeScript support for ActionClient destroy() method"
If you look at the [API documentation](http://robotwebtools.org/rclnodejs/docs/0.15.0/lib_action_client.js.html), a destroy method is documented. In the [type declaration file](https://github.com/RobotWebTools/rclnodejs/blob/develop/types/action_client.d.ts) no such method is documented.

I'm opening to submitting a PR for this issue.

[2020-07-30 21:08] caelinsutch opened #688 "Types for creating an Action Client not Updating with Sources Action Message Types"
Problem example:

[code]

[2020-07-31 00:40] caelinsutch opened #689 "See When Action Completes"
I can't figure out how to implement a callback on an `ActionClient` when the action completes, just on updates and when the action is successfully received. As mentioned in line 190 [here](http://robotwebtools.org/rclnodejs/docs/0.15.0/lib_action_client.js.html):

[code]

However, on line 313, I see the function `_getResult`:

[code]

Is this something that should be implemented, or an accepted re

[2020-07-31 01:02] mattrichard commented on #687
Thanks for reporting this. The type declaration was definitely missing for the `destroy` function. Although, I ended up creating a PR before reading your last line. Feel free to submit PRs for any issues you encounter in the future.

[2020-07-31 01:18] mattrichard commented on #689
The comments do appear somewhat misleading. The `sendGoal` function returns a Promise which resolves to a goal handle. To get the final result (i.e. the completion) you need to call `getResult()` on the goal handle and wait for that Promise to resolve. You can see this in the examples here

https://github.com/RobotWebTools/rclnodejs/blob/db7721ec3042b355d45089cb77aec9c34c6577b8/example/action-clie

[2020-07-31 01:41] mattrichard commented on #688
Right now the message types are only generated during postinstall or at runtime when calling `init()`. I can see how this would be a problem with TypeScript since you need to be able to compile everything before `init()` can be run again. We'll either need to make the action types more flexible or find better ways to update the generated message typings when additional packages are sourced.

For n

[2020-07-31 03:07] #687 closed, assigned to nobody

[2020-07-31 03:27] minggangw commented on #688
We once planed to implement that the message generator could generate the JS messages from IDL dynamically if the required message cannot be found, but can be found through `PATH` (the new package will be added after you source the `xxx_install.sh`).

Unfortunately, you have to manually delete the `generated\` folder in order to trigger to generate the messages completely again, or workaround as @

[2020-07-31 03:28] minggangw commented on #689
Shall we update the comments accordingly to make it clear?

[2020-08-01 17:05] caelinsutch commented on #689
I think the docs should be updated for sure.

[2020-08-01 17:06] caelinsutch commented on #688
I got this error:
[code]

[2020-08-01 17:07] caelinsutch commented on #687
When's the estimated release date for v0.16.0?

[2020-08-01 23:23] caelinsutch commented on #688
Update - Even after deleting `generated` and even the entire folder and reinstalling, I'm still not getting all my packages sourced. For example, when calling a the service `/save_maps` from Slamtoolbox, I'm getting the error `The message required does not exist: slam_toolbox, srv, SaveMap`. In the same terminal window, I can run that service from the command line.

This is from the CLI:

[code]

[2020-08-02 18:17] wayneparrott commented on #688
Just saw your updates. Thx for sharing.
I installed slam_toolbox and believe the error message you shared is from the generate_tsd.js script resulting in the interfaces.d.ts file having incomplete slam_toolbox message types defined. Will dig into this asap.
[code]
Can you confirm in the node_modules/rclnodejs/generated folder that the following files are created:
[code]
Here's what my generated/sl

[2020-08-03 03:20] wayneparrott commented on #688
I'm able to isolate the problem to the slam_toolbox does not follow the ROS naming convention for placing services interfaces (idl) in a folder named `srv`. Instead slam_toolbox services idl lives in a folder named `srvs` [here](https://github.com/SteveMacenski/slam_toolbox/tree/foxy-devel/srvs).

I'll submit a PR that is a bit more robust handling of such situations.

A short term workaround is t

[2020-08-03 03:57] minggangw commented on #687
Currently, we don't have a specific milestone of rclnodejs, but there are some cases that we'll have a feature/bugfix release:

- A new release of [ROS2](https://github.com/ros2/ros2/releases), we always follow the latest ROS2 tightly and verify rclnodejs on it.
- New features are added, e.g. TypeScript support, Action support.
- Critical bugs are fixed, e.g. memory leak...

So, do you want we cou

[2020-08-03 18:49] caelinsutch commented on #687
If you could do a bugfix with this fix and the PR for #688 that would be awesome.

[2020-08-04 02:46] minggangw commented on #687
Of course, we could do this. Hopefully, I am going to release 0.15.2 this week, stay tuned.

[2020-08-04 02:47] #688 closed, assigned to nobody

[2020-08-07 02:43] #689 closed, assigned to nobody

[2020-08-07 04:06] minggangw commented on #687
@caelinsutch please check out v0.15.2 https://www.npmjs.com/package/rclnodejs/v/0.15.2

[2020-08-10 07:08] caelinsutch opened #694 "Getting a Fatal Error when Working with Large Messages"
After calling a service to get two large map arrays, I get the following fatal error on some (low compute) machines. Any advice on how to get past this?

[code]

I've found [this issue](https://github.com/nodejs/node/issues/32083) that looks like it might relate? I'm guessing the buffer is too small for the message, but that doesn't make sense considering it works fine on other machines...

[2020-08-10 07:46] minggangw commented on #694
It seems that we meet the same case here, using an external buffer to create an ArrayBuffer, is it reproducible stably?

[2020-08-10 16:16] caelinsutch commented on #694
I'm not using a buffer on my side of things, simply copying data into an object. Running on a Jetson Nano this is reproducible. Whenever any service is called that sends a map array it spits out that error :(

[2020-08-10 20:17] caelinsutch commented on #694
I'm now getting this error:
[code]

Found [this discussion](https://github.com/nodejs/node/issues/32463) on buffers

[2020-08-11 03:33] minggangw commented on #694
It seems that this problem is not simple to be resolved and I haven't dug into it, maybe it's a hardware related issue? Anyway,  we could disable the usage of TypedArray during message serialization, e.g.

https://github.com/RobotWebTools/rclnodejs/blob/b71c8eab85b23b50132bf4d78f2f16bb2b1a1cbf/test/test-disable-typedarray.js#L60-L70

The downside is that you lose the performance. please try it to

[2020-08-11 16:21] caelinsutch commented on #694
I was using Node 14, when I switched back to 12 the issue resolved itself, so this isn't necessarily a bug in the supported versions of RCLNodeJS and I've closed the issue.

[2020-08-11 16:21] #694 closed, assigned to nobody

[2020-08-12 03:17] minggangw commented on #694
good to hear you have a workaround.

[2020-08-22 03:17] wayneparrott opened #696 "Error in TimeSource subscription to /clock topic"
Currently when ROSTime is active via parameter `use_sim_time=true`, TimeSource incorrectly subscribes to the relative topic `clock`. Expected TimeSource to subscribe to the topic `/clock` according to https://design.ros2.org/articles/clock_and_time.html. Note that the back-slash char is missing.

@minggangw currently test-time-source.js is sending Time msgs to the topic `clock`. Shouldn't the topi

[2020-08-23 12:59] minggangw commented on #696
The topic should be `/clock`, thanks for finding this problem and will merge the PR soon.

[2020-08-23 13:00] #696 closed, assigned to wayneparrott

[2020-08-25 17:49] wayneparrott commented on #696
The short term workaround for users of the rclnodejs ver 0.15.2 and earlier desiring to use simulation time is to use ros2 parameter remapping as shown below.

Example:
[code]

[2020-08-26 01:58] minggangw commented on #696
I think we could publish v0.15.3 to include the PR used to fix this issue, I will work on it, thanks!

[2020-08-27 09:04] minggangw commented on #696
Latest [v0.15.3](https://www.npmjs.com/package/rclnodejs/v/0.15.3) has landed the commit.

[2020-08-28 05:14] FlorisE commented on #498
roslibjs has some support for getting information about a running ROS system via http://robotwebtools.org/jsdoc/roslibjs/current/Ros.html, like getting the list of active nodes, mesage information, etc. Should rclnodejs offer such functionality, and if yes, is it already implemented somewhere? If no, is there another JS library that offers such functionality for ROS 2?

[2020-08-28 05:24] minggangw commented on #498
rclnodejs is not proper to implement this sort of APIs, instead, rosbridge acting as back-end of roslibjs should offer it, some reference

- rosapi: https://github.com/RobotWebTools/rosbridge_suite/tree/develop/rosapi
- https://github.com/RobotWebTools/ros2-web-bridge/issues/73

I haven't heard some JS library offers that.

[2020-09-02 12:44] 0xbuidler opened #698 "Using rclnodejs in a react-app doesn't work"
Hello,

System: docker
Base Image: Ubuntu 20.04
ROS: Foxy
Node: 12.x LTS

I'm trying to create a ROS2 node using rclnodejs with Typescript inside a create-react-app but I'm having a warning when I launch the app.

[code]

Do you have any ideas about what could cause this ?

[2020-09-02 12:46] 0xbuidler commented on #698
From what I understood, I cannot run rclnodejs on the client side because `rclnodejs` needs `fs` which CRA doesn't provide, can you guys confirm this ? Thanks :)

[2020-09-02 14:52] minggangw commented on #698
What's CRA?  Is it create-react-app?

The rclnodejs does depend on `fs` module and you could reference https://github.com/RobotWebTools/rclnodejs/blob/foxy-fitzroy/Dockerfile about the usage of docker.

[2020-09-02 15:08] 0xbuidler commented on #698
Yes sorry, CRA is create-react-app.

When I was importing `import * as rclnodejs from 'rclnodejs'` as follow in my typescript app, I was having this error `TypeError: exists is not a function`.  Leading me to `fs`. Maybe one of rclnodejs dependencies use `fs` ?

[2020-09-02 15:19] minggangw commented on #698
https://github.com/RobotWebTools/rclnodejs/blob/95729f9a3650547b372fa1dc2c37d3d7f1d85d82/rosidl_gen/index.js#L42-L43

rclnodejs uses it directly when generating JavaScript messages. If you have installed it, there should be no error reported I think.

[2020-09-02 15:44] 0xbuidler commented on #698
AFAIK react app does not allow the use of `fs`.

See https://github.com/facebook/create-react-app/issues/3074#issuecomment-327484250

That would explain it.
So it gives me no choice to have it on the backend side, which is indeed the best solution but I just wanted to do a quick Proof Of Concept with everything on the frontend.

[2020-09-03 02:53] minggangw commented on #698
I see, so I think we could close this issue now. Please feel free to add any comments if you find a workaround.

[2020-09-03 02:53] #698 closed, assigned to nobody

[2020-09-03 13:04] flynneva commented on #698
@MaximeAubanel I was working on a wrapper of the roslibjs library for react awhile ago. havent made much progress on it since COVID but its still there if you'd like to check it out. [react-ros on npm](https://www.npmjs.com/package/react-ros) and then the source code should be linked in there as well.

might help you hook react up to ROS.

[2020-09-03 14:41] 0xbuidler commented on #231
I'm trying to run it on a raspberry 4, 4gb, ARM64, it doesn't work when running `yarn install`.

`error /home/workspace/node_modules/rclnodejs: Command failed.`

Any update ?

[2020-09-03 15:51] ros2jsguy commented on #231
Hmm. I just created a small test project that installs, builds and runs with no issues.

- raspberry 4, 8Mb
- ubuntu 20.04 server
- ros2 foxy distro
- node 12.18.3
- yarn 1.22.5
- rclnodejs 0.15.3

I've been running this configuration for about a week but primarily using npm. I just installed yarn trying to replicate your report. Can you share any additional details?

[2020-09-03 15:57] 0xbuidler commented on #231
- rpi 4, 4gb
- ubuntu 20.04 server
- ros2 foxy
- node v12.18.3
- yarn 1.22.5
- rclnodejs 0.15.3

**It is running inside a docker container**

I feel that the log start to make sense for the `rclnodejs` part but if you want the full log I can also send it.
Running with verbose I can see a `segmentation fault`.

[code]

[2020-09-03 16:02] ros2jsguy commented on #231
That's helpful.
[code]
I have seen this segfault issue on my mac workstation a few times but hard to replicate consistently.  Please try uninstalling and then reinstalling rclnodejs. That has worked for me in such situations. Sorry you hit this glitch. We can look into this issue more closely.

[2020-09-03 16:09] 0xbuidler commented on #231
The thing is it's in a docker container. For the sake of dev purpose,  every time it launch it `yarn install`. So it is re installing rclnodejs. And it keeps coming up. Actually, it did compile correctly one time when I build the first time with `--verbose`

[2020-09-03 16:12] ros2jsguy commented on #231
@MaximeAubanel  :( bummer this is blocking you. I'm trying to replicate and isolate the issue in my rclnodejs dev env now.

[2020-09-03 17:19] 0xbuidler commented on #231
Have you found anything interesting ?

[2020-09-03 17:50] ros2jsguy commented on #231
Making progress. Had to setup lldb and llnode to get deep insight into the core dump. I have not isolated the issue fully yet but circling in. Will update as soon as I know something definitive.

[2020-09-03 18:40] MaximeAubanel commented on #231
I don't know if there is a link.

But when I'm trying to yarn install directly inside the docker through a `RUN` call it doesn't compile, `amd64` or `arm64`.

There is an error coming from `gyp` on command `node-gyp rebuild` used by `rclnodejs`.

[code]

[2020-09-03 19:24] ros2jsguy commented on #231
I have a work-around (hack) that is working consistently in my testing. I'll submit a PR shortly.

[2020-09-03 20:42] ros2jsguy opened #699 "Segfault during generate_messages script"
A user reported an installation failure due to a segmentation fault. See issue #231
[code]
I've seen this exact problem off and on during installation on Ubuntu 16 & 20 with ROS2 dashing, eloquent and most recently foxy. I used lldb and llnode to investigate the resulting core dump but the info was minimal and did not identify any specific JS code at fault. I found that commenting out the tsd gene

[2020-09-04 05:18] #699 closed, assigned to nobody

[2020-09-04 10:10] 0xbuidler commented on #231
Thank you @ros2jsguy 🚀

[2020-09-30 03:47] minggangw commented on #646
Reopen it because the subscription part hasn't been done.

[2020-09-30 19:27] fstojanovic opened #705 "Cannot be used with Electron on Windows"
It would appear that it is not possible to run with Electron on Windows.

When run if built for node, the following message pops up :

When I try to rebuild it for Electron using electron-rebuild, the build always fails, due to missing headers and dependencies. Once I manually resolve all those errors and it finally builds, running it for electron gives : "rclnodejs.node" is not a module.

When ru

[2020-09-30 22:19] wayneparrott opened #706 "Update typings to support pub-sub of serialized messages"
#646 describes the need to support publishing and subscribing to a serialized message topic. The TypeScript typings need to be updated to reflect the api changes.

Reviewing the code for #703 & #704, I have identified the following touch points:

1. Node#Options - add `isRaw: boolean` property
2. Node#SubscriptionCallback = (message: Message) => void
3. Publisher#publish(msg: Message)

*Edit - del

[2020-10-02 07:47] minggangw commented on #705
I haven't used rclnodejs with Electron, I think @koonpeng has some experiences with Electron env, @koonpeng would you please have a look at this issue? Have you ever met sort of the error? Some comments, hope it helpful

I don't think it could be workable with nodejs build, as you saw `was compiled against a different Node.js version using`
was reported.

What's the header missed? Is it ROS2 heade

[2020-10-02 07:48] #646 closed, assigned to nobody

[2020-10-02 07:51] minggangw commented on #706
I have merged #703 & #704, so I think we could start the typescript part for the serialized messages, thanks!

[2020-10-02 12:28] koonpeng commented on #705
There is a bug in the current version of electron which causes rclnodejs to not work, the fix is currently scheduled in v11 beta. Also, if you are loading rclnodejs in the renderer process you need to disable renderer reuse (there's a flag somewhere in electron api). This is because rclnodejs is not "context-aware" and reusing the same process can cause unexpected behaviours.

That being said, the

[2020-10-02 13:25] minggangw commented on #705
Thanks for @koonpeng 's quick explanation, that's helpful!

I think we could improve this?

[2020-10-04 15:56] fstojanovic commented on #705
@minggangw , @koonpeng

Thank you for your replies. I will keep you posted about the issue, soon I'll update this issue thread.
Also, it doesn't build for any Electron version, not just the current one.

[2020-10-06 14:53] #706 closed, assigned to nobody

[2020-10-07 18:24] wayneparrott opened #708 "Improve typing support for services"
**Problem**
When working with Services in TypeScript the type definitions use semi-ambiguous Message[T] rather than the more precise MessageType<T>. @mattrichard implementation of action typing demonstrate how to create unambiguous typing definitions. A similar technique could be used to improve the typing definitions of Services and Clients.

**Proposal**
This enhancement request proposes to appl

[2020-10-09 02:59] #708 closed, assigned to wayneparrott

[2020-10-15 18:23] felixdivo opened #711 "Problem with space in path"
It seems like a space in the path causes the Javascript messages file building to crash:

[code]

Software versions:
- ROS2 Foxy
- Ubuntu 20.04
- Node.js v14.10.1
- rclnodejs 0.15.1

I couldn't yet test whether moving the project solves the issue.

[2020-10-16 14:38] minggangw commented on #711
Thanks for submitting this issue, we are going to fix it.

[2020-10-16 15:21] felixdivo commented on #711
Thanks. Without the space, I merely get a segfault right after that step. I'll report details once I diagnosed it further.

[2020-10-16 15:57] minggangw commented on #711
#699 has fixed the segfault, please try the latest version.

[2020-10-16 23:07] felixdivo commented on #711
Thank you, that indeed solved the issue!

[2020-10-20 04:34] koonpeng opened #713 "segfault with node v12.19.0"
rclnodejs segfaults after a few seconds after receiving a subscription. It only happens with node v12.19, works fine in v12.18.4.

To reproduce:

[code]

Output:
[code]

[2020-10-20 05:18] minggangw commented on #713
I noticed the same issue when I tried to upgrade the Node.js to v12.19 for the CI, and after checking the dump file, the backtrace shows no rclnodejs related callings. I suggest we could verify this on the next stable release of Node.js, how do you think?

[2020-10-20 06:56] minggangw commented on #713
I cannot reproduce it on v13.14.0

[2020-10-20 07:15] koonpeng commented on #713
https://github.com/nodejs/node/issues/35620 It looks like someone else has the same problem (I got the same stack trace).

[2020-10-20 07:29] #711 closed, assigned to nobody

[2020-10-29 07:10] minggangw commented on #713
I try the latest Node.js LTS v14.15.0 #716 and it seems that there is a crash caused by `ref-napi`, paste below:

[code]

[2020-10-29 10:03] koonpeng commented on #713
I got that as well, I think it's unrelated, it seems more like some v8 changes that causes it instead.

Btw, the offending commit that causes v12.19 to fail has been identified and I think they will be backporting the fix in the next release. I'll go ahead and close this issue.

[2020-10-29 10:03] #713 closed, assigned to nobody

[2020-10-30 03:22] minggangw opened #717 "Unit tests fail on Node.js v14.x and v15.x - Check failed: result.second."
When using the latest Node.js LTS Fermium v14.15.0, the unit test began to fail consistently and it also reproduces on v15.x versions. Backtrace is

[code]

and the corresponding PR #716

[2020-10-30 05:42] minggangw commented on #717
The failed `CHECK()` is https://github.com/nodejs/node/blob/c55f661551d7368778ae6f9adc584467151bce8a/deps/v8/src/objects/backing-store.cc#L695

[2020-11-05 05:38] wayneparrott commented on #589
I reviewed the lifecycle design and the rcl and rclcpp implementations. Implementing a rclnodejs lifecycle node using the rcl lifecycle api looks straight forward. I have an early working version which I need to write tests. Hoping to commit a PR next week for this feature.

[2020-11-05 05:59] minggangw commented on #589
Excited to know that, we are closing the gap!

[2020-11-05 08:07] minggangw commented on #717
I did some investigation locally, this crash happens when we use **TypedArray** when receiving topics and calling [`CreateArrayBufferFromAddress`](https://github.com/RobotWebTools/rclnodejs/blob/25282cefbb3b1bb4df252d96efeb92396bfcca05/src/rcl_bindings.cpp#L1321) to allocate memory, backtrace below:

[code]

[2020-11-05 09:54] minggangw commented on #717
I think I may find the root cause of this issue.

Since v8 8.4.371(node14.15.0), there is a new static constructor used to create a `v8::ArrayBuffer` object (https://v8docs.nodesource.com/node-14.15/d5/d6e/classv8_1_1_array_buffer.html#ab6957a65e835a906e166aadd83e604c2), and per v8 document, we have to create a `v8::BackingStore` in order to pass a pointer of existing memory block. Although, the c

[2020-11-05 14:58] minggangw commented on #717
I found some relevant issues:

- https://github.com/nodejs/node/issues/32463
- https://github.com/nodejs/node/pull/33321

[2020-11-05 15:07] minggangw commented on #717
Actually, this issue is ever reported #694 in Aug

[2020-11-06 10:25] cwyark opened #718 "Static build rclnodejs.node problem"
Has any one tried static build rclnodejs.node with ROS2 foxy ?
I'm trying to use rclnodejs with electron, but rclnodejs.node relies on librcl.so, librmw.so, and some ros2 core shared libraries. One approach is `source /opt/ros/foxy/setup.bash` every time when electron start, but personally I don't prefer this approach, because most electron application is a deliverable software, it supposed to dou

[2020-11-07 14:33] minggangw commented on #718
Thanks for your question. I haven't tried to build rclnodejs.node as a static library because node loads C++ [addon](https://nodejs.org/api/addons.html#addons_c_addons) as a dynamically-linked shared library when `require()` is executed. Can appending `source /opt/ros/foxy/setup.bash` to your .bashrc meet your requirement?
`

[2020-11-09 03:08] cwyark commented on #718
Sorry , I missuse static build word. I'm trying to ``static link`` to ROS2 core, like librcl.a, librmw.a .. That say, I would like to write an electron application and use rclnodejs as it's dependency. But I don't want to rclnodejs.node dynamically link to librcl.so, librmw.so because this deliverable electron application is portable to other PC and doesn't need to install ROS2 on other PC.

[2020-11-09 15:29] minggangw commented on #718
Currently, `rclnodejs` itself loads rosidl_message_type_support_t/rosidl_service_type_support_t from `.so` library dynamatically, see
https://github.com/RobotWebTools/rclnodejs/blob/d41f7e91510cd55ff672dad8f7f0be095ed8c00c/src/rcl_utilities.cpp#L57-L68
so you have to use dynamic libraries.

I'm not sure whether it's feasible to do so, it sounds you want to link all ROS2 into `rclnodejs.node` stati

[2020-11-10 10:21] felixdivo opened #719 "Suppress error message at shutdown"
Every time I close my node.js server with rclnodejs running I get this error message:

[code]

It originates from here: https://github.com/RobotWebTools/rclnodejs/blob/178c2c7068e9c1961f0db3328ab74a366803340e/index.js#L410-L414

I don't quite get why it is raised in the first place, but anyhow, wouldn't it be better if there was a `rclnodejs.tryShutdown()` method that would be called in that event

[2020-11-10 11:57] felixdivo commented on #719
This script can reproduce the error:

[code]

[2020-11-10 15:14] minggangw commented on #719
The reason why you got the error is that you terminated the process before the `Promise` return by `rclnodejs.regenerateAll()` is resolved, so the rclnodejs module hasn't been started practically. Normally, generating all the messages triggered by `regenerateAll()` method takes more around 20s, so you could wait for a while and then press `ctrl+c` to check if the error is still reported.

Is such

[2020-11-10 17:17] felixdivo commented on #719
Okay, I'll give it a shot.

[2020-11-11 11:47] felixdivo commented on #719
Seems like it's something else: I waited for an hour (while having lunch) and it still happened.

[2020-11-12 07:14] minggangw commented on #719
Oops, I am going to check it locally.

[2020-11-12 09:58] minggangw commented on #719
[code]

[2020-11-16 20:08] felixdivo opened #724 "Why is there a master branch in this repo?"
Couldn't it be deleted? It could cause some irritation when cloning and routinely checking out the master branch.

[2020-11-17 01:15] minggangw commented on #724
Because we want to follow the rules of RobotWebTools org, `develop`  is used for daily development, while `master` is used for tagging and publishing a version. But, currently, we will create a new branch targeting a ROS2 release accordingly.

[2020-11-17 03:10] #719 closed, assigned to nobody

[2020-11-17 05:25] minggangw commented on #713
Segmentation fault still happens on node v12.19.1 when running `npm test`
[code]

[2020-11-17 06:05] koonpeng commented on #713
:(
The fix seems to not be included, this is the line that cause the segfault. https://github.com/nodejs/node/blob/f95d7152cb9f56b3d6ca8e107a01c199b235c0df/src/js_native_api_v8.cc#L246.

It's been removed on master https://github.com/nodejs/node/blob/08be03b7cba11ea3aa17a9881b6ead3d8936abe3/src/js_native_api_v8.cc#L246

[2020-11-17 06:24] minggangw commented on #713
Let's move to v14.x directly :sweat_smile:

[2020-11-17 06:40] koonpeng commented on #713
Actually v14 also segfaults

[2020-11-17 06:52] minggangw commented on #713
Yeah, indeed. It seems node.js is not stable enough :(

[2020-11-17 08:27] koonpeng commented on #718
Due to ROS2's design, it is very hard to link everything statically, the biggest problem is the middleware layer and typesupport libraries, as @minggangw mentioned, the typesupport for each message is loaded dynamically because we cannot know ahead of time which messages are installed in the system (and also which middleware is used).

In theory you could achieve "one click" launch by adding a lev

[2020-11-19 18:39] wayneparrott commented on #612
I've been running ros2-foxy with Eclipse cyclone DDS since June 2020 with no issues.
Given that the status of this issues should be WORKSFORME.
I recommend we close it.

[2020-11-19 19:25] wayneparrott opened #728 "Improve RclHandle ptr free() strategy"
@koonpeng recently proposed redesigning the RclHandle to make the deleter lambda function responsible for `free()`ing the RclHandle memory pointer rather than `free()`ing its ptr directly as it does now.

tldr;
The [RclHandle](https://github.com/RobotWebTools/rclnodejs/blob/develop/src/rcl_handle.cpp) `Reset()` method divides clean up duties between its self and a custom deleter lambda function pr

[2020-11-20 14:12] adamkrawczyk opened #729 "Nav2_msg require error"
version: rclnodejs@0.16.0
ros: ros2 foxy

when:

`const nav2_msgs = rclnodejs.require('nav2_msgs').msg;`

what:

[code]

Why:

I have no idea why this occurs. Other messages are imported properly. Nav2_msgs are generated.

[2020-11-20 15:03] minggangw commented on #729
If `nav2_msgs` is not a ROS2 build-in package (released with ROS2 package), I think you have to source its `local_setup.bash` so the message generator could find this package and create the JS file for it.

[2020-11-20 15:16] wayneparrott commented on #729
@adamkrawczyk thx for sharing this issue.
nav2_msgs includes a number of actions. When support for actions was added earlier this year we missed updating  `interface_loader.loadInterfaceByPath()` to recognize actions.

The fix is to change line 84 from:
[code]
to
[code]

[2020-11-20 15:31] minggangw commented on #729
Oh, I missed @adamkrawczyk has mentioned that

So I think the `.bash` has been sourced. Thanks for @wayneparrott's findings.

[2020-11-20 15:46] adamkrawczyk commented on #729
Yeah!

This is solving the issue. (`rclnodejs/lib/interface_loader.js   84: let pkg = { srv: {}, msg: {}, action: {} }; `)

When the npm version will be patched?

Thank you ;)

[2020-11-20 15:46] #729 closed, assigned to nobody

[2020-11-20 15:46] wayneparrott commented on #729
@minggangw I can submit a PR with fix and test case if no one else is planning to work this issue. Thoughts?

[2020-11-20 15:51] minggangw commented on #729
@wayneparrott Please submit a PR to fix this issue, thanks!

Hopefully, the next release v0.17.0 can land the patch and we will publish it once the current [issues](https://github.com/RobotWebTools/rclnodejs/projects/12) get addressed.

[2020-11-21 09:15] felixdivo opened #731 "Clean up some tests"
I noticed that these tests could benefit some rewrite, especially using `async function`s to make them much more readable and maintainable: `test/test-init-shutdown.js` & `test/test-logging.js`.

[2020-11-21 09:21] felixdivo opened #732 "Message generation could break unexpectedly with weird paths being processed"
The way paths are handled in `rosidl_parser/rosidl_parser.js` can be problematic if, for example, spaces are present within them. Also, errors being thrown aren't very verbose and helpful in narrowing down actual problems.

This is related to #711, and wasn't entirely fixed by #712.

[2020-11-21 11:30] felixdivo opened #733 "Fix the compilation warnings generated by: node-gyp rebuild"
See [this recent build](https://app.circleci.com/pipelines/github/RobotWebTools/rclnodejs/202/workflows/a69567a8-0fa4-479d-9566-7452f85f6120/jobs/901/parallel-runs/0/steps/0-116) for the errors.

[2020-11-21 11:40] felixdivo opened #735 "Compilation warning on newer node versions: v8 has a new ArrayBuffer BackingStore API"
I get this output by `node-gyp rebuild` (invoked using `scripts/build.sh`) on Node version `v14.10.1`:

[code]

I didn't include it in #734 as I don't really know any v8 internals.

[2020-11-21 13:03] felixdivo opened #736 "rclnodejs/index.js could be simplified"
The file `rclnodejs/index.js` could be simplified using `async function`s, making it easier to maintain. Other ways to simplify it would be array handling (with `Array.some()` and `Array.every()`) and replacing `let` with `const` here and there.

[2020-11-21 15:41] #732 closed, assigned to nobody

[2020-11-21 15:53] #731 closed, assigned to nobody

[2020-11-21 16:17] minggangw commented on #735
#723 is supposed to solve the compiling error on Node.js >= 14

[2020-11-21 16:21] #733 closed, assigned to nobody

[2020-11-21 16:30] minggangw commented on #735
@felixdivo thanks for your contributions recently, we have a small group of teams where developers could plan/discuss for the rclnodejs project, and if you are interested in and want to contact others closely, I'd like to invite you to join the teams, thanks!

[2020-11-21 16:39] minggangw commented on #718
If we don't have more discussion here, I will close this issue. Please reopen it if you still have problems, thanks!

[2020-11-21 16:39] #718 closed, assigned to nobody

[2020-11-21 17:12] wayneparrott commented on #735
@felixdivo Join rclnodejs developers on Slack —  Sign up here, from any device: https://join.slack.com/t/rclnodejsdev/shared_invite/zt-jjukoa3l-zZ5VeAeo~YD11vmUC2Mdnw

[2020-11-21 17:16] minggangw commented on #735
Oops, sorry I mean slack, Teams is used in Intel...

[2020-11-21 18:04] felixdivo commented on #735
Ah great, so we can just add "closes # 635" to that PR. Nice that it's already being tackled!

I've kinda used up my current free time with a few contributions the last days :P but when I'm feeling like doing some more in this project, I'm happy to join! Thanks! :)

[2020-11-22 14:36] minggangw commented on #735
Never mind, none of us works on the project full-time, so welcome 🚀

[2020-11-23 07:04] minggangw opened #738 "Adding configuration for prettier"
We should add a local configuration for prettier.

[2020-11-23 15:09] #736 closed, assigned to nobody

[2020-11-23 19:24] #589 closed, assigned to wayneparrott

[2020-11-24 02:33] minggangw commented on #589
Thanks for @wayneparrott's contributions, we are one step closer to the full-feature client 🚀

[2020-11-24 14:15] wayneparrott opened #739 "benchmark code does not build on foxy"
There are issues building and running the rclcpp and rclpy benchmark code on foxy.
One issue is the Node#create_publisher() now requires a qos argument.

[2020-11-24 14:50] minggangw commented on #739
Yes, the examples haven't been updated for a long time and the interfaces of rclpy/rclcpp have changed.

[2020-11-25 02:52] minggangw commented on #713
The segfaults has been fixed on the latest v12.20.0 :clap:

[2020-11-25 21:04] felixdivo opened #741 "Many compiler warnings due to the new Lifecycle API"
#722 introduced quite a few warnings, see [this recent build from `master`](https://travis-ci.org/github/RobotWebTools/rclnodejs/builds/745789933#L24954).

They all seem to be quire easy to fix though (mainly `warning: variable ‘currentContent’ set but not used`).

[2020-11-25 22:07] wayneparrott commented on #741
@felixdivo Thx.
My BAD! I've gotten too used to seeing compiler warnings with `node-gyp build`.
I'll submit a fix PR asap.

[2020-11-25 22:38] wayneparrott commented on #739
@minggangw I can give this a look next week if you want to assign it to me?

I'm personally interested in seeing the comparative benchmarks between js, c++ and python. Also we might be able to also see how the different DDS middleware performance compares.

[2020-11-26 02:24] #741 closed, assigned to nobody

[2020-11-26 02:27] minggangw commented on #739
Please take this issue, thanks!

[2020-11-27 03:37] minggangw commented on #735
Hi @felixdivo I haven't seen you in the slack channel of rclnodejs, if you met any problem, please send me your email address and I will send the invitation again.

[2020-11-27 07:54] minggangw commented on #728
Ping, anybody are looking at this issue, if not I am going to take it, thanks!

[2020-11-28 02:50] wayneparrott commented on #728
@minggangw pls proceed.

[2020-12-02 02:20] #728 closed, assigned to nobody

[2020-12-03 00:16] #739 closed, assigned to wayneparrott

[2020-12-03 03:33] #738 closed, assigned to nobody

[2020-12-03 14:12] minggangw opened #747 "Find ros packages from ament index"
When in a path that has ament executed, use the ament index to obtain a list of ros definition files instead of recursively scanning the directory.

[2020-12-03 14:15] #747 closed, assigned to nobody

[2020-12-11 03:00] mis-eu commented on #55
Can the above be adapted for PoseStamped as an msg.Array and  RclArray ?

[code]

[2020-12-11 13:50] ros2jsguy commented on #55
@mis-eu
I don't think your example is valid due to your referencing a non-existent message type, i.e., geometry_msgs/msg/Array is not defined. See https://github.com/ros2/common_interfaces/tree/master/geometry_msgs/msg

If you want to send a message containing an array of PoseStampted you will need to define a custom message. Here's an example from the nav_msgs package: https://github.com/ros2/com

[2020-12-11 19:38] wayneparrott opened #750 "Improve message generation experience"
To help improve the experience of developers working with rclnodejs I would like to:
1. Make it more obvious to users that rclnodejs generates corresponding javascript classes for each ROS2 interface (msg, srv, action) and that it is the user's responsibility to regenerate these js files when new or revised ROS2 interfaces are added to his system.
2. Improve the msg generation process

For #1a, I

[2020-12-12 15:58] minggangw commented on #750
This would facilitate to generate the messages instead of executing JS code 👍 we should expose this directly.

[2020-12-14 00:20] meyerj opened #752 "High CPU load if there are no registered handles"
From https://github.com/RobotWebTools/rclnodejs/pull/751:

Thanks for giving the feedback and submitting the PR. Indeed, if there are no subscriptions/clients created, the CPU load will be high (although we usually created a node with clients added).

Some thoughts:
Waiting for a certain period, .e.g 1ms, could solve the high CPU load issue, but using a semaphore is a perfect way to do this becaus

[2020-12-14 23:11] wayneparrott opened #753 "Propose making Node extendable (i.e, create Node subclasses)"
This is a proposal to slightly refactor rclnodejs such that it is possible to create Node subclasses without having to add a factory function to rcl (index.js). Included in this proposal is a requirement to maintain the current rcl api as is.

tldr;
In rclnodejs the rcl module (see index.js) provides2  factory methods, one for creating basic Node instances and one for creating LifecycleNode instan

[2020-12-22 02:36] #753 closed, assigned to nobody

[2020-12-23 07:03] minggangw opened #760 "Considering to remove CircleCI for rclnodejs"
Because the ROS community are considering dropping macOS from a Tier 1 platform to a Tier 3 platform for ROS 2 Galactic, due in [May 2021](https://discourse.ros.org/t/macos-support-in-ros-2-galactic-and-beyond/17891), we may have to remove the CircleCI support accordingly in the future.

[2020-12-23 07:08] minggangw opened #761 "Reorganize the README"
As the README becomes longer and longer, we need to reorganize it to keep the key information only, and split the current content into separate ones.

[2020-12-28 07:23] minggangw commented on #752
Because currently the node will create parameter services by default, it's small chance that no handle is added at the beginning. I'd like to put this issue to be low-priority. Meanwhile, #763 has been submitted to solve it.
https://github.com/RobotWebTools/rclnodejs/blob/6f8a1a156780b131823e48650a35d9ff4760e462/lib/node_options.js#L22-L31

[2020-12-28 09:01] carlossvg opened #764 "Use .idl files with rosidl_gen"
Hi all, I would like to formulate a request required by Apex.AI regarding `rosidl_gen`.

At Apex.ai we work directly using .idl files instead of ROS IDL (.msg, .srv, .action). As far as I know, this is not currently supported in rclnodejs. We would like to request to extend or refactor `rosidl_gen` to support .idl files.

Also, I would be interested to know how difficult is to implement such a fea

[2020-12-29 04:44] minggangw commented on #764
Hi @carlossvg  thanks for submitting this issue.

Because `rclnodejs` uses [dot](https://www.npmjs.com/package/dot), which is  Node.js template tool, to generate the JavaScript message files instead of `empy`, we have to leverage JSON string to pass the `spec` objects of message/service/action across the boundary of Python to JavaScript and [parser](https://github.com/RobotWebTools/rclnodejs/blob/

[2020-12-29 05:11] minggangw commented on #764
The JSON string of the spec is written to each of the generated JavaScript messages at the end of the file under `generated/`

[2021-01-05 11:38] Jopand opened #765 "Error in generated service request files"
I'm running a Debian 10 environment with ROS2 Foxy and rclnodejs 16.
I tried to make a simple Angular page calling a change_state service from ROS (using ros2-web-bridge). It didn't work.

After some digging and debugging, I found out that it was due to an error in ./rclnodejs/generated/lifecycle_msgs/lifecycle_msgs__srv__ChangeState_Request.js

![image](https://user-images.githubusercontent.com/6

[2021-01-06 06:34] minggangw commented on #765
`rclnodejs` acts as the back-end of `ros2-web-bridge` to connect to the ROS2, please try to run https://github.com/RobotWebTools/rclnodejs/tree/develop/example to check if you can reproduce the error using rclnodejs, thanks!

[2021-01-06 14:06] minggangw opened #766 "Mitigate docker hub rate limiting"
From November 20, 2020, rate limits anonymous and free authenticated use of Docker Hub went into effect, which makes the travis-ci fails, see details https://www.docker.com/increase-rate-limits

and the error is

[code]

[2021-01-07 16:40] carlossvg commented on #764
Thanks, @minggangw for your detailed reply.

I agree with your comments, your first proposal shouldn't take too much time to implement. The second proposal would be ideal but using  `empy` is kind of painful sometimes so it would take more time than the first option.

Since we are time-constrained we are going to use another approach to work around this issue. This will be required in the mid/long

[2021-01-08 02:52] minggangw commented on #764
Good to know :smile:

[2021-01-08 02:58] #752 closed, assigned to nobody

[2021-01-08 05:48] #766 closed, assigned to nobody

[2021-01-08 09:03] meyerj commented on #752
Cool, thanks!

[2021-01-08 11:33] meyerj opened #768 "Unexpected token error when running rosbridge with rclnodejs 0.18.0"
Since the upgrade of rclnodejs from [0.17.0](https://github.com/RobotWebTools/rclnodejs/tree/0.17.0) to [0.18.0](https://github.com/RobotWebTools/rclnodejs/tree/0.18.0) running the rosbridge ([ros2-web-bridge](https://github.com/RobotWebTools/ros2-web-bridge)) fails with
[code]

The environment is pretty standard, I guess:
- docker image [ros:foxy-ros-base](https://hub.docker.com/layers/ros/librar

[2021-01-08 11:41] meyerj commented on #768
Upgrading to Node.js 12.x (v12.20.1) solves the issue. In that case the [Prerequisites section in the README.md](https://github.com/RobotWebTools/rclnodejs#prerequisites) may need an update?

[2021-01-08 14:37] minggangw commented on #768
I deem the description of the required Node.js is outdated, it was tested a long time ago, so it needs to be corrected.

[2021-01-08 14:41] #761 closed, assigned to nobody

[2021-01-08 19:58] Jopand commented on #765
I just created a clean Ubuntu vm with ros2 foxy and couldn't reproduce the problem. So guess I have had a "dirty" setup before. Think we can close the issue

[2021-01-08 19:58] #765 closed, assigned to nobody

[2021-01-12 06:18] minggangw commented on #768
I look through the current codebase and found we used some ES2019 features that node < v10.x doesn't support, so I think that caused the problem you met.

1.  Usage of `static class fields` that gets supported since Node.js 12.4.0
 https://github.com/RobotWebTools/rclnodejs/blob/31efa7c28e8d20bcd6fe1311fb10e9afa7bd63a7/lib/context.js#L47

2. Usage of `Array.prototype.flat` that gets supported sinc

[2021-01-19 09:40] minggangw opened #771 "Append '\0' when pusblishing a raw string by Buffer"
Recently, the `test-raw-pub-sub.js` began to fain consistently.

https://github.com/RobotWebTools/rclnodejs/blob/31efa7c28e8d20bcd6fe1311fb10e9afa7bd63a7/test/test-raw-pub-sub.js#L42-L51

[code]

The root cause is that the received string is terminated by a null character `\0`, so we should add the `\0` when sending the raw topic accordingly.

[2021-01-20 06:43] #771 closed, assigned to nobody

[2021-01-21 18:21] newcanopies commented on #705
@koonpeng  @fstojanovic does `rclnodej`s build with `electron` on WSL2 Ubuntu 20.04?

Thanks all!

[2021-01-22 08:57] formigarafa commented on #768
will support for anything less than 12 be dropped or the code will change to keep compatibility?

[2021-01-24 22:10] wayneparrott commented on #768
@minggang I recognize that some of my contribs helped create this node compatibility problem. Propose the following:
1. we consider including a polyfill library such as [core-js](https://www.npmjs.com/package/core-js) to enable a more modern coding experience without introducing compat issue such as those you highlighted.
2. update the contribution guidelines to explicitly call out the js spec lev

[2021-01-25 05:04] #750 closed, assigned to wayneparrott

[2021-01-25 05:48] minggangw commented on #768
I have submitted a PR to add the verifications of Node.js 8.x and 10.x, the results are

- Node.js 8.x: https://ci.appveyor.com/project/minggangw/rclnodejs/builds/37425003/job/3n3063a0o6d1yvsg
- Node.js 10.x: https://ci.appveyor.com/project/minggangw/rclnodejs/builds/37425003/job/qtpp8t2uvu53w3kj

[2021-01-25 09:51] minggangw commented on #768
I prefer we could change the cases that use the latest features to the compatible patterns because it seems that these cases are limited.

+1 and the CI could check it too.

Have submitted #773

[2021-01-27 02:02] #768 closed, assigned to nobody

[2021-02-23 05:20] wayneparrott opened #776 "Additional generate-messages improvements"
#750 proposed introducing an npm binary script named `generate-ros-messages` that would run the scripts/generate-messages.js file. Unfortunately the binary script was created but named `generate-messages`.

This issue proposes renaming the npm binary script from `generate-messages` to `generate-ros-messages`. Additionally the README will be updated describing how to use `npx` to run the script.
[c

[2021-02-23 07:31] #776 closed, assigned to wayneparrott

[2021-03-12 11:16] purvikpatel opened #778 "Not able to run the module inside electron app"
when I am trying to subscribe a message in an electron app it's giving me the following error.

Error: Loading non-context-aware native module in renderer: '/ROVDashboard/node_modules/rclnodejs/build/Release/rclnodejs.node', but app.allowRendererProcessReuse is true.
`
can someone tell me how can I solve this error ?

[2021-03-13 07:46] minggangw commented on #778
What's your Electron version and platform? It was once reported there was a problem with Electron, please see #705

[2021-03-15 09:48] purvikpatel commented on #778
@minggangw I got the error similar to you but solved that by recompiling the modules. After that I got this error.

Can you tell me where you included your rclnodejs code in your electron project ?
main process or render process ?

[2021-03-15 14:18] minggangw commented on #778
I am not familiar with how the Electron loads the nodejs addon, AFAIK, there are two v8 isolates, one is running as the normal v8 instance in the render process, the other is running the nodejs (but not sure if it's in render process too,  but I guess it's running in the main process as the render process should be sandboxing).

[2021-03-16 05:24] purvikpatel commented on #778
The issue was with electron. As soon as I updated electron the issue was solved.

[2021-03-16 05:24] #778 closed, assigned to nobody

[2021-03-25 13:25] wayneparrott opened #779 "GCC 8.x compiler warnings"
After updating to gcc8 I noticed 2 new compiler warnings:

1. executor.cpp constructor initializes members in an order different from the order of the members in the class definition. This is easily resolved by reordering the member's initialization the constructor.
[code]
2. gcc8 added a `cast-function-type` warning that is being triggered from addon.cpp. I believe the warning is because of a par

[2021-03-25 14:29] wayneparrott opened #781 "rcl lifecycle api changes in post-foxy rolling distro"
CI builds are failing on all 3 platforms due to an api change in the rcl lifecycle api.

See:
https://github.com/ros2/rclcpp/issues/1506
https://github.com/ros2/rcl/pull/882

[code]

[2021-03-27 14:17] minggangw commented on #781
Hi, @wayneparrott if you meet any difficulties, I'd like to help.

[2021-03-29 23:54] #781 closed, assigned to wayneparrott

[2021-03-30 02:27] #779 closed, assigned to nobody

[2021-04-06 12:48] newcanopies opened #784 "."
.

[2021-04-06 16:04] minggangw commented on #784
Because rclnodejs needs the support of Node.js, if you want to integrate it into the browser, you have to support Node.js, e.g. Electron or NW.js, or you can use [ros2-web-bridge](https://github.com/RobotWebTools/ros2-web-bridge) to run a ROS2 app in a common browser, e.g chrome

[2021-04-06 16:58] newcanopies commented on #784
thank you @minggangw ,
please clarify if by "ROS2 app" you mean to build an Electron or NW.js app containing ros2-web-bridge and my-ros-project?

does that mean  [ros2-web-bridge](https://github.com/RobotWebTools/ros2-web-bridge) would still need to be wrapped in Electron/NW.js?  (using either of these wrappers is not portable or cross platform among other downsides)

[2021-04-06 18:24] newcanopies commented on #784
Here is an example of javascript in HTML:

`
var message = {}
  var image = []
  rclnodejs.init().then(() => {
    const node = rclnodejs.createNode('subscription_example_node');

    node.createSubscription('sensor_msgs/msg/Imu', '/robot/imu', (msg) => {
    //console.log(`Received message: ${typeof msg['orientation']}`, msg['orientation']);
    message = msg

    win.webContents.send('imu', mess

[2021-04-10 22:07] newcanopies commented on #784
@minggangw can rclnodejs be wrapped in a react-app ?

[2021-04-11 07:18] minggangw commented on #784
Sorry for missing your previous comments, I will comment on them together

Actually, you have to depend on [roslibjs](https://github.com/RobotWebTools/roslibjs) (as front-end running in the browser) + [ros2-web-bridge](https://github.com/RobotWebTools/ros2-web-bridge) (as back-end) and you will not need Electron any more, just Chrome/Edge will work well. Please check out some examples https://gith

[2021-04-12 22:29] newcanopies opened #785 "."

[2021-04-12 22:32] #785 closed, assigned to nobody

[2021-04-20 17:57] #784 closed, assigned to nobody

[2021-05-07 03:24] minggangw commented on #717
New discussions from https://github.com/node-ffi-napi/ref-napi/issues/54

[2021-05-17 04:54] minggangw opened #788 "Errors reported by eslint"
Recently, the travis-ci reported some errors when running eslint, which may be caused by prettier. See details: https://travis-ci.org/github/RobotWebTools/rclnodejs/builds/771336633

[2021-05-17 05:23] #788 closed, assigned to minggangw

[2021-05-17 06:18] minggangw opened #789 "dtslint errors"
[code]

See details: https://travis-ci.org/github/RobotWebTools/rclnodejs/builds/771382735#L27056

@wayneparrott would you please have a look if you have time, thanks!

[2021-05-24 11:09] wayneparrott opened #790 "ros_distro.js does not recognize 'galactic'"
After upgrading my ros2 distro to galactic, rclnodejs is failing to build. The issue is that the ros2_distro.js does not recognize the galactic distro.

[2021-05-24 11:28] wayneparrott commented on #790
I just noticed that the 0.19 tagged src already has this change. Will wait for 0.19 to be sync'ed to the `develop` branch.

[2021-05-24 15:16] #790 closed, assigned to nobody

[2021-05-26 05:09] ManuelZ opened #792 "Compile error in version 0.19"
Using Docker, I have Node 12.20.1 installed through NVM. I've installed ros2-web-bridge, which has rclnodejs 0.x.1 as a dependency. Just now I discovered this compile error, which wasn't really ocurring 5 days ago.

[code]

[2021-05-26 07:01] minggangw commented on #792
The latest v0.19.0 is not compatible with Foxy release, it runs on Galactic.

[2021-05-26 14:52] ManuelZ commented on #792
Thank you.

[2021-05-26 15:12] minggangw commented on #792
I'd like to have a new release (v0.19.1) that will support either Fox or Galactic, so users who use `ros2-web-bridge` don't have to pin the `rclnodejs` to v0.18.x when running on Foxy release, thanks!

[2021-05-26 15:26] wayneparrott commented on #792
Let me know if I can assist with the dual ros2 release support. I recall the biggest changes in rclnodejs were due to the lifecycle api changes in galactic.

[2021-05-26 15:33] minggangw commented on #792
That's it and I think we can do the same change as https://github.com/RobotWebTools/rclnodejs/commit/87375dedd4faaaa77376118d076864bb3d03111e does, @wayneparrott would you please offer a PR, thanks for helping!

[2021-05-27 05:20] #792 closed, assigned to nobody

[2021-06-02 03:51] AnushaPulichintha opened #794 "sros2 support for rclnodejs"
Hi,
We are using sros2 for secure communication for our ros2 nodes. Recently we added ros node using rclnodejs library which communicates with our ros2 nodes.

I tried to add the sros2 for the ros node running using rclnodejs library but it did not work.

Does rclnodejs library support sros2?

Thanks in advance

[2021-06-02 05:36] minggangw commented on #794
We haven't tested with sros2 enabled before, I checked out the usage of sros2 and it seems that the encryption should be supported by the middle ware layer, would you please try (I haven't tried it myself, just guess we should pass the args to the `rcl`)
[code]

[2021-06-02 07:44] AnushaPulichintha commented on #794
No, it did not work. Normally for ros2 we set some environment variables. I also set same variables for nodejs application.

[code]
do you know I should pass any of those varaibles to init() method?

[2021-06-02 22:55] wayneparrott commented on #789
This issue is caused by this open [dtslint bug](https://github.com/microsoft/dtslint/issues/191) issue dating to 2019.

This closed DTSLint issues outlines the strategy for the $ExpectType parser expecting union types to be sorted alphabetically:
https://github.com/microsoft/dtslint/pull/61

As we can see from the error msg $ExpectType is looking for the `std_msgs.msg.UInt8MultiArray.data` to be o

[2021-06-03 14:48] wayneparrott commented on #789
I propose we disable DTSLint $ExpectType tests for union types until the union type ordering of the $ExpectType parser is better understood.

tldr;
Upon further research and testing I am unable to determine the exact strategy for union type ordering used by DTSLint. I noticed the React team disabled (commented out) their test cases that involved $ExpectType <union type>.  For example in some cases

[2021-06-03 15:26] #789 closed, assigned to wayneparrott

[2021-06-03 16:14] minggangw commented on #794
I'm not clear about the exact params needed for this case, I will have a try.

[2021-06-14 22:08] wayneparrott commented on #717
rclnodejs on window 10, node 16 experiences the following error when sending array data. Does this look familiar? Anything I can help with in investigating this in more depth?

[code]

[2021-06-15 03:12] minggangw commented on #717
Looking through the back trace, I guess this has the same root cause with what this issue described originally. The `ref-napi` leads to this crash, which is clear, but the owner of i`ref-napi` worries about the [backwards-compatibility](https://github.com/node-ffi-napi/ref-napi/issues/54#issuecomment-832573524). So I think we have two options here:

- Apply the patch to fix `ref-napi`, e.g. offere

[2021-06-15 15:34] wayneparrott commented on #717
Out of curiosity I replaced ref-napi with this recently patched version https://github.com/alphacep/ref-napi. On windows it fails with this stack-trace when deserializing an array or complex msg type:
[code]

[2021-06-15 16:05] minggangw commented on #717
Thanks for trying the patches out, it seems that we have to make some changes accordingly. We may consider applying #723 (the situation may have changed since it was implemented in last year). BTW, what is your nodejs versoin?

[2021-06-15 16:11] wayneparrott commented on #717
opps accidentally omitted that the stack trace above was generated on ros2 foxy, window 10, vsc 2017, node 16.3.0.

[2021-06-16 01:04] koonpeng commented on #717
I have reservations about depending on that PR to fix this issue, it is very experimental and it breaks several apis of rclnodejs. I also don't think I have the time to work on it in the foreseeable future.

[2021-06-16 01:56] minggangw commented on #717
Hi @koonpeng thanks for updating the status and it seems that we'd better try to fix the bug of `ref-napi` instead.

[2021-06-17 05:32] wayneparrott commented on #612
With the ros2 galactic release (May '21) Eclipse Cyclone is now the default RMW. rclnodejs test suite successfully passes on the galactic distro. Thus, I am closing this issue as WORK FOR ME now.

For galactic rmw info see https://docs.ros.org/en/galactic/Releases/Release-Galactic-Geochelone.html#default-rmw-changed-to-eclipse-cyclone-dds

[2021-06-17 05:32] #612 closed, assigned to nobody

[2021-06-28 04:35] minggangw opened #797 "Wrong format of npmjs-readme.md"
It was introduced by 358bd2ebf4259dc8d6c953106b829aee536fc60a
![image](https://user-images.githubusercontent.com/6469275/123580810-2319cd00-d80d-11eb-8fb0-b3c75f1de16e.png)

[2021-06-28 05:35] #797 closed, assigned to nobody

[2021-07-02 22:01] wayneparrott opened #799 "LifecycleNode constructor missing enableCommunicationInterface parameter added in ROS2 Galactic"
This issue is a reminder that LifecycleNode constructor needs to be updated to reflect the additional constructor parameter `enableCommunicationInterface`. This parameter was added in the Galactic rcl release and has a default = true for backwards compatibility. We committed a quick partial implementation of the default behavior for the 0.19 release.  Now we need to enable the ability to disable l

[2021-07-07 16:41] #799 closed, assigned to wayneparrott

[2021-07-16 19:26] wayneparrott opened #805 "annoying npm warnings during installation"
When installing rclnodejs users see the following npm warnings:
[code]

Propose that we set the npm loglevel to 'error' for the project.

[2021-07-17 15:23] #805 closed, assigned to wayneparrott

[2021-08-04 16:07] anmilleriii commented on #718
@cwyark I have a similar requirement to you where I would like to maintain the production release capability enabled by Electron's `autoUpdater`, if possible without the additional liability/complexity of an external script that the end-user may need to update as well.

While ideally static ROS2 could be bundled in this Electron application I understand that to be inaccessible.

So, assuming the e

[2021-09-26 04:27] minggangw commented on #717
After forking `ref-napi`, `ref-struct-di` and `ref-array-di` and making some changes, we can pass all the unit tests on latest galactic release now :smile: , if you want to experience `rclnodejs` with nodejs >= 14 please check out branch https://github.com/RobotWebTools/rclnodejs/tree/nodejs-16

[2021-10-04 21:35] csmith-rtr opened #813 "Incorrect Type for ClientGoalHandle.getResult"
**Description**
The type definitions for `ClientGoalHandle.getResult` indicates that it returns `Promise<ActionResult<T>>`. It actually returns a type

[code]

- Library Version: 0.20.0
- ROS Version: foxy
- Platform / OS: ubuntu 20.04

**Steps To Reproduce**
The following does not compile with `tsc` although if you cast `result` to `any` it does and `result` satisfies `ActionResultWithStatus` as

[2021-10-05 02:21] wayneparrott commented on #813
Thx for filling this issue. Investigating.

[2021-10-05 05:59] wayneparrott commented on #813
Quick feedback:

I setup the following environment: ros2 foxy w/ control msgs installed, rclnodejs 0.20, ts 4.4, node 12.18 and your example code. Since I installed the control_msgs package after installing the rclnodejs package I had to regenerate the javascript interfaces and TS types to pickup the new control msgs, e.g., `npx generate-ros-messages`

I'm not well versed on ros2 actions (yet) but

[2021-10-05 13:21] csmith-rtr commented on #813
`ActionResultWithStatus` is not defined anywhere I'm aware of, but that is the type that is returned. I believe you may need to return that type in order for clients to get the status since I think the `ClientGoalHandle.status` is set separately and may not be available until some point in the future when a new status message comes in (though it appears this also has the [wrong type](https://githu

[2021-10-05 13:25] wayneparrott commented on #813
Thx. Continuing to investigate. The principle dev that impl'ed the action api has not been involved on the project for some time.  Will follow up as soon as I have more details.

[2021-10-05 16:00] wayneparrott commented on #813
@csmith-rtr I'm able to replicate the bug as you've shared. Thanks again for the report. Working on a PR to resolve asap. Will update progress here.

[2021-10-05 19:55] wayneparrott commented on #813
After a little debugging I've found 2 issues:
1. the `ClientGoalHandle.status` property is intended to hold the status code (state id) across the goal processing lifecycle. Yet, internally this property is not being updated due to a race condition.
2. this one is subjective and I'll review with @minggangw. The `await ClientGoalHandle.getResult()` is leaking the internal {status,result} object. It

[2021-10-05 20:22] csmith-rtr commented on #813
I don't believe `ClientGoalHandle.status` can be guaranteed to be set by the time the result is accessed if it is only set via the `*/status` topic. If you're going to remove `status` from `await ClientGoalHandle.getResult()` then I think you should make sure to set the status on the goal handle before resolving the promise.

[2021-10-05 20:25] wayneparrott commented on #813
+1

[2021-10-06 16:41] minggangw commented on #813
Sorry for the delay, as I'm still on holiday. @csmith-rtr does the example, `action-client-example.js`, run correctly on your side? I went through the code quickly, it seems that the `getResult` should return a Promise, not sure what goes wrong here.

[2021-10-06 16:44] csmith-rtr commented on #813
@minggangw yes the example works correctly. The issue is that the typescript types do not match the value the promise resolves with.

[2021-10-06 17:34] anmilleriii commented on #718
As distributing `rclnodejs` in a bundle was a hard requirement for my use case, I spent the time to develop a workaround and have compiled it in [this example repository](https://github.com/anmilleriii/electron-ros) for posterity.

After evaluating the alternatives discussed here (including building `rclnodejs` statically or using a launch file), I wrote a launch file (similar to sourcing from `~/

[2021-10-20 15:51] JosephRivera10 opened #815 "rclnodejs npm install error"
**Description**
Receiving the following error when trying to install rclnodejs version 0.20.0

- Library Version: 0.20.0
- ROS Version: Ros 2 - rolling
- Platform / OS: Mac OS Big Sur

**Steps To Reproduce**
ROS 2 installed and working by these guidelines (https://docs.ros.org/en/rolling/Installation/macOS-Development-Setup.html).
SIP has already been disabled.
Using node v12.22.4 (npm v6.14.15)

[2021-10-21 07:43] #813 closed, assigned to wayneparrott

[2021-10-25 12:57] RalphCodesTheInternet opened #816 "A way to get the list of topics and their types"
With rclpy and rclcpp there are ways you can get a list of all the topics and their types. I could not find a way of doing it with rclnodejs. It would be a great feature to add

[2021-10-25 17:05] wayneparrott commented on #816
See the Node#getTopicNamesAndTypes() method
http://robotwebtools.org/rclnodejs/docs/0.20.0/Node.html

I believe this is equivalent to using ros2 cli:
`ros2 topic list`
`ros2 topic info <topic>`
`ros2 topic type <typename>`

//edited
Also check out this example for exposure to additional useful api:  https://github.com/RobotWebTools/rclnodejs/blob/develop/example/ros-graph-example.js
I confirmed th

[2021-10-26 05:56] RalphCodesTheInternet commented on #816
This is exactly what I was looking for. Thank you so much!

[2021-10-26 05:56] #816 closed, assigned to nobody

[2021-10-29 18:15] csmith-rtr opened #817 "Unable to receive data from different user on same machine"
**Description**
I'm trying to get a systemd service with `rclnodejs` to talk to another service using `rclcpp` in ros2 foxy. The services are run as different users. This causes an issue where the nodes cannot talk to each other and a resolution is presented [here](https://github.com/eProsima/Fast-DDS/issues/1750) using a custom xml configuration. Unfortunately, this doesn't appear to work for the

[2021-10-29 20:33] wayneparrott commented on #817
Thanks for this detailed report.  I ran few quick tests and determined:
1. With foxy and the default fastrtps rmw I can replicate the buggy behavior running separate pub-sub processes under different linux users, i.e., the subscriber never receives messages.

2. I can also confirm proper communications when using the [eclipse-cyclone dds rmw](https://docs.ros.org/en/foxy/Installation/DDS-Implement

[2021-11-02 15:01] wayneparrott commented on #817
I finally got around to testing foxy w/ fastrtps with a publisher and subscriber process running under 2 different linux user accounts respectively. I used both the rclnodejs publisher & subscriber example programs and the demo_nodes_cpp talker and listener examples for testing. Using the fastrtps configuration described here https://github.com/eProsima/Fast-DDS/issues/1750  I am able to receive m

[2021-11-02 15:07] csmith-rtr commented on #817
I think you're right. I've been able to get the publisher/subscriber examples working across users with different combinations of `rclnodejs` and `rclcpp`. Unfortunately I haven't been able to get it to work on my actual system, but at this point it seems like `rclnodejs` is doing the right thing, or isn't breaking the custom dds configuration somehow.

[2021-11-15 23:45] nckswt opened #820 "rclnodeJs installation broken: "Could not locate the bindings file""
**Description**
We've been transitioning an electron app that uses [roslibjs](https://github.com/RobotWebTools/roslibjs) over to a ros2 interface. But, currently pulling our hair out trying to get things playing nicely.

Here's an MVP application (https://github.com/nckswt/ros2-electron-app-mvp) to recreate the issue. The main issue we're facing is this error:

[code]

[This PR](https://github.com

[2021-11-17 22:15] wayneparrott commented on #820
I was hoping someone with more electron experience than me would pick up this issue. I'll give it a go tomorrow and see what I learn. @nckswt Thx for the mvp. Please share any new info you may have on the matter.

[2021-11-18 10:14] koonpeng commented on #820
I haven't used electron in a while, so some of these information might be outdated.

Normally the binding files are built when you install `rclnodejs`, this is done by `node-gyp` which is bundled with every node installation. These node bindings are normally not compatible with electron, for electron, there is a tool which helps build the bindings (iirc its called `electron-rebuild`) in a way that

[2021-11-18 15:48] wayneparrott commented on #820
Thank you for your quick response. I'll give it a try asap.
Out of curiosity are you using rclnodejs for anything interesting these
days?
Wayne

On Thu, Nov 18, 2021 at 4:14 AM Teo Koon Peng ***@***.***>
wrote:

[2021-11-18 16:00] nckswt commented on #820
Yup! I'm [using electron-builder for that](https://github.com/nckswt/ros2-electron-app-mvp/blob/master/package.json#L18)

[2021-11-18 22:06] wayneparrott commented on #820
@nckswt I pulled and built your mvp example without replicating the `missing bindings` issue. But it did not run. So being a noob I stepped back and created a simpleton example with no bundler to get something working. https://github.com/ros2jsguy/rclnodejs-electron-example  After installing dependencies I rebuilt rclnodejs using the `npx electron-rebuild` cmd. This very basic example runs in my u

[2021-11-19 22:57] nckswt commented on #820
Ahh, I was hoping there'd be a node 16 solution! Didn't realize [this branch](https://github.com/RobotWebTools/rclnodejs/tree/nodejs-16) existed. I tried including it as

[code]

with electron 16 and still ran into the same issues though (even after `rm -rf package-lock.json node_modules`). I suspect the issue's coming from when `electron-builder` executes the following:

[code]

but I can't get f

[2021-11-22 22:54] wayneparrott commented on #820
Yes I believe it is a webpack matter but I have not dug in deeper. I successfully impl'ed a small port of my basic electron-rclnodejs app to use the electron-builder "electron-boilerplate" template https://github.com/szwacz/electron-boilerplate and also preliminary results using electron-forge seem to be working in dev mode. My dev env is linux.

Did you use a boilerplate project for your mvp exam

[2021-11-24 02:16] anmilleriii commented on #820
Hi friends, I have encountered similar build issues using Webpack and Electron previously, and thought I would take a look.

I cloned your example repo and ran the following:

[code]
And was met with the missing `rclnodejs` bindings error similar to as described above. As @koonpeng mentions, the `rclnodejs` bindings are not immediately ready for Electron. We need to tell Webpack not to bundle `rcl

[2021-11-24 14:24] #817 closed, assigned to nobody

[2021-11-30 13:02] rafaneri commented on #815
Same error here, but my environment is:

Library Version: 0.20.1
ROS Version: Ros 2 - Foxy Fitzroy
Platform / OS: Ubuntu 20.04 / Rasp 3

[code]

[2021-11-30 13:02] rafaneri commented on #815
I get the same error using node 12.x

[2021-11-30 13:27] rafaneri commented on #815
@ros2jsguy some trick here?

[2021-12-01 02:50] nckswt commented on #820
@anmilleriii All that worked perfectly to get `npm run start:dev` up and running. Thank you! Your reward is more questions :grin:

The second (and last) step to this problem is to get `npm run start:dist` up and running. This uses `electron-builder` to generate a `mvpApp.AppImage` bundled executable that should be run without NodeJS installed.

So, taking the `rclnodejs` external approach means I'

[2021-12-01 07:12] rclnodejs commented on #815
@rafaneri thx for sharing the build output. From the warnings and errors they all refer to line #13 of `/opt/ros/foxy/include/rmw/domain_id.h`. With that, let's focus on domain_id.h and determine why line #13 appears corrupted to the compiler. Try opening domain_id.h in an editor that will render whitespace and control characters, e.g., VSCode. With that, you should be able to see and remove the o

[2021-12-01 07:19] wayneparrott commented on #815
@rafaneri From the output you shared line #13 of /opt/ros/foxy/include/rmw/domain_id.h is corrupted. Try opening this file in an editor such as VSCode that will enable you to view whitespace and control chars. Delete all unicode and control chars from the file and save. Then cross fingers and try reinstalling rclnodejs, i.e., `npm i rclnodejs`.

I ran a quick test and confirmed that I can install

[2021-12-04 19:02] anmilleriii commented on #820
I apologize but I was not able to spend the time to debug an `ENOENT` for `../app.asar/build/preload.js` error. This error is related to the `webpack.prd.config.js`, `package.json`, and the location of `preload.js`.

While I wanted to quickly solve the `npm run start:dist`, instead I've provided some high-level comments which provide context on whether a `preload.js` script should be used at all,

[2021-12-07 02:08] nckswt commented on #820
No worries -- that's a wonderful and well-detailed response! Thanks so much!

[2021-12-17 14:27] eranroll opened #822 "Cannot run rclnodejs with Node v12.22.8"
I am trying to run rclnodejs as part of my nw application, but I get to following error:

[code]

I am using node v12.22.8 and npm install using npm v6.14.15

[2021-12-17 16:08] csmith-rtr opened #823 "Typescript Numeric Arrays"
**Description**

Not sure if this is a bug or a question... Is there a reason numeric arrays are union types? Is there an option you can set somewhere that changes what the type actually is?

![image](https://user-images.githubusercontent.com/75624075/146572990-ca45d74f-a1a5-4415-9b23-6490a1f8fb0d.png)

- Library Version:
- ROS Version:
- Platform / OS:

**Steps To Reproduce**

**Expected Behavior

[2021-12-17 23:33] wayneparrott commented on #822
I'm not familiar with "nw application". My thought is that your app framework may be embed it's own version of node similar to electron. If so that would explain the NODE_MODULE_VERSION conflict.

node 12 = NODE_MODULE_VERSION  72
node 13 = NODE_MODULE_VERSION  79

At this time the rclnodejs v.0.20.1 can not run on version of node higher than v12. We have a node16 branch in development that we hop

[2021-12-17 23:55] wayneparrott commented on #823
This is not a bug but by design. See the `Options` interface in node.d.ts.
[code]

DEFAULT_OPTIONS is the default parameter value when creating publishers, subscribers, services and actions. Here's the `createPublishers()` declaration that illustrates the optional `Options` parameter.

[code]

So you can customize the message serialization as shown:
[code]

[2021-12-18 08:53] eranroll commented on #822
This is what I meant by an NW application: https://nwjs.io
I am using NW.js to run my app.

You suggestion made me look it up some more, and apparently the NW.js version I was using was based upon a newer version of node. I downgraded it to 0.41.3 which matches node12 and the issue was solved.

Thanks

[2021-12-18 08:53] #822 closed, assigned to nobody

[2021-12-21 21:30] csmith-rtr commented on #823
Great! Thanks - sorry for the invalid bug.

[2021-12-21 21:30] #823 closed, assigned to nobody

[2022-01-03 17:37] #735 closed, assigned to nobody

[2022-01-04 12:57] felixdivo commented on #735
Hey @minggangw, sorry for not writing about this, but I retreated to other projects.

[2022-01-06 07:36] minggangw opened #830 "Using galactic-geochelone binary packages for CI configuration on galactic-geochelone branch"
We should use the galactic-geochelone binary packages to verify on CIs instead of the latest binary, please see below:

https://github.com/RobotWebTools/rclnodejs/blob/cbfadd98ce877a16de03b560e24181f10a07f97d/appveyor.yml#L35-L36

https://github.com/RobotWebTools/rclnodejs/blob/cbfadd98ce877a16de03b560e24181f10a07f97d/Dockerfile#L35-L36

https://github.com/RobotWebTools/rclnodejs/blob/cbfadd98ce87

[2022-01-06 07:40] minggangw commented on #717
I think the issue was fixed, so close it.

[2022-01-06 07:40] #717 closed, assigned to nobody

[2022-01-06 18:59] wayneparrott commented on #830
@minggangw Is this what you are referring to by binary package?
[code]

[2022-01-06 20:07] wayneparrott commented on #815
with the release of v0.21.0 this issue should be resolved.

[2022-01-06 20:07] #815 closed, assigned to nobody

[2022-01-11 05:44] minggangw commented on #830
As the daily build (or rolling) ROS2 binary may break the compiling on CIs due to the interface changes of rcl, we'd better use the stable release for its branch accordingly, e.g., [galactic-geochelone](https://github.com/RobotWebTools/rclnodejs/tree/galactic-geochelone) uses the galactic binary package, and the develop branch will always use the daily release build to track the latest changes.

S

[2022-01-11 14:35] wayneparrott commented on #830
@minggangw apologies as I goofed up the ci ros distro access. Will fix asap.
Reverting the galactic branch ci changes will still leave osx on the "rolling" distro as there are no official osx binaries beyond "foxy". As of the "galactic" release osx was downgraded to a [Tier 3 platform](https://www.ros.org/reps/rep-2000.html#galactic-geochelone-may-2021-november-2022).

[2022-01-12 02:42] minggangw commented on #830
Yeah, I think we have to drop the macOS platform, please #760

[2022-01-12 06:29] wayneparrott commented on #830
@minggangw  Agree. Is the process for dropping osx as simple as removing the circleci workflow on the `develop` and `galactic` branches and updating docs?

[2022-01-12 16:09] minggangw commented on #830
Yeah, removing the configuration file (config.yml)  and updating the table (README) below is enough
![image](https://user-images.githubusercontent.com/6469275/149177112-e255f0ed-de20-4dc4-ba10-9fb28fa129f7.png)

and we can remove the row for `master` branch status from the table also. Maybe we can remove the table completely and append the two badges (for Windows & Linux) after the other badges?
!

[2022-01-12 19:22] wayneparrott commented on #830
@minggangw
1) should we restrict installation of rclnodejs to macOs?
e.g., add an `os` section to package.json
[code]
Alternatively, we could not restrict installation to macOs and instead provide a notice in the readme and npmjs-readme that macOs is not support; install at your own risk?

2) I tweaked the README to get this look in my dev env. The preview of the build-status table in vscode is om

[2022-01-13 03:13] minggangw commented on #830
I prefer not to restrict the installation on macOS, because I suppose users should be aware of the fact that there are no official ROS2 releases on macOS. Adding a notice in readme is fine.

Looks good :) thanks for cleaning it up!

[2022-01-13 15:27] wayneparrott opened #834 "Unstable appveyor & circleci builds"
This is is a tracking issue for issues observed with Windows builds using Appveyor.

1) After many weeks of stable appveyor builds they recently began failing across all version of node due to a python environment error. The test suite is failing due to an error when compiling the rclnodejs test message. Here's a snippet of the error msgs during the build:
[code]
The error ` "C:\Python38\lib\site-

[2022-01-13 17:46] wayneparrott commented on #834
CONCLUSION: there must be a recent change in the latest successful rolling distro that is causing colcon to look for python38 rather than use env vars to local the version of python to use.  Thus windows (appveyor) and macOs (circleci) are breaking because the default environments provide python310 & python39 respectively. Linux builds (travis) are succeeding only because ubuntu 20.04 includes pyt

[2022-01-13 18:01] wayneparrott commented on #834
MacOS builds are failing for a similar reason as Windows build. The macos build is expecting python38 yet the ci environment has python 3.9 installed by default.

[code]

[2022-01-14 02:26] minggangw commented on #830
I think we can close this as #832 was merged.

[2022-01-14 02:26] #830 closed, assigned to wayneparrott

[2022-01-14 03:38] minggangw commented on #834
The python path issue has a looong history, sometimes, it seems that it was hardcoded. It's not the fault of rclnodejs or the CIs, usually, the problem will be gone in some following release (rolling release).

[2022-02-09 10:20] adeelarshad83 commented on #705
Hi @fstojanovic, are you able to resolve this issue

[2022-02-09 16:08] csmith-rtr opened #836 "Use BigInt for Int64 and UInt64"
`rclnodejs` currently seems to detect if a 64bit integer is greater than `Number.MAX_SAFE_INTEGER` and returns either a number or a string depending on if it is or not. This was originally tracked by #103 which was before [`bigint`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt) was introduced. It would be nice to use the new native type rather than changi

[2022-02-10 19:24] wayneparrott opened #837 "Node typescript declaration missing 'spinning' property"
The `Node` class in lib/node.js includes a `spinning` property that can be used to determine if a node is running. The types/node.d.ts is missing this `spinning` property.

[2022-02-11 07:16] adeelarshad83 opened #839 "Cannot be used with Electron on Windows"
As the module working fine in nodejs app, I added the module in my actual requirement as I have to use in a desktop app made in electron js

I am facing following issue
App threw an error during load
Error: The module '\\?\D:\Projects\Embeddedesk\ad-base-station\app\node_modules\rclnodejs\build\Release\rclnodejs.node'
was compiled against a different Node.js version using
NODE_MODULE_VERSION 93. T

[2022-02-24 03:15] Zaaler opened #840 "Error with Multiple Nodes Spinning"
I have a dispatcher that creates two workers. One worker creates an rclnodsj node and subscribes to a point cloud topic. The other worker also creates a rclnodejs node and subscribes to the same topic. Both workers tell the nodes to spin. The first work starts up correctly and processes a message but, when the second work starts up, the code crashes and I get this error:
`  const rtn = exports._re

[2022-02-25 04:56] Zaaler commented on #840
I was trying to use multiple nodes in a single thread. I don't think rclnodejs is capable of this.

[2022-02-25 04:56] #840 closed, assigned to nobody

[2022-02-27 15:07] minggangw commented on #840
Sorry for the delay, yes, we haven't tested with multi-thread scenario, e.g., on different worker threads. Because some [rcl](https://github.com/ros2/rcl) functions wrapped by rclnodejs (or nodejs bindings) are not thread-safe, we'd better run in a single thread or you can run on different processes. @Zaaler

[2022-03-10 02:33] #837 closed, assigned to wayneparrott

[2022-03-23 19:56] tytremblay opened #842 "Memory Leak when subscribing to messages containing UInt8Array"
**Description**
It seems memory is not getting released for subscribers subscribing to messages containing a UInt8Array.  If a sufficiently large array is published, the memory of the Node.js process can grow very quickly.

- Library Version: ^0.21.0
- ROS Version: foxy
- Platform / OS: Ubuntu 20.04.3 LTS (64-bit)

**Steps To Reproduce**
Attached is a small nodejs example of the issue I'm seeing.

[2022-03-24 15:36] minggangw commented on #842
Thanks for your feedback, rclnodejs replaced one of its dependencies, `ref-napi`, which may cause this memory leak. Would you please help to test with [v0.20.1](https://www.npmjs.com/package/rclnodejs/v/0.20.1) & nodejs12 to see if you can still reproduce it? Thanks!

[2022-03-24 18:12] tytremblay commented on #842
I am unable to reproduce on v0.20.1 and node 12.  I performed the test using the project attached to the original message.

After 750 messages, the RSS size was ~200MB.  I repeated the same test with v0.21.0 and node 16 and, after 750 messages, the RSS size was ~950MB

[2022-03-25 02:50] minggangw commented on #842
Thanks for testing it! So I am pretty sure it is the change of `ref-napi` that leads to the memory leak, thanks for finding this critical issue! will fix it asap.

[2022-04-02 09:39] minggangw commented on #842
@tytremblay please try with the [latest 0.21.1](https://github.com/RobotWebTools/rclnodejs/releases/tag/0.21.1) to check if the issue is gone, thanks!

[2022-04-04 13:07] tytremblay commented on #842
Thank you!  The issue seems to be resolved.  I updated to 0.21.1 and ran the above project.  After 2000 messages, the RSS Size was ~200MB as expected.

[2022-04-04 13:07] #842 closed, assigned to nobody

[2022-04-04 15:45] minggangw commented on #842
@tytremblay good to know and thanks for your feedback!

[2022-04-25 08:07] xhy279 commented on #842
Ty for the fix. Good job man.

[2022-04-26 20:41] wayneparrott opened #846 "Support TypeAdapters for Publisher and Subscription"
Proposal: Supporting type adaptation for Publishers and Subscriptions similar to the [rclcpp TypeAdapter that will be included in the Humble release](https://docs.ros.org/en/foxy/Releases/Release-Humble-Hawksbill.html#rclcpp).

From the rclcpp relnotes:

I've implementing this convenience on a couple of projects that required converting messages to/from an application objects such as https://githu

[2022-05-03 15:09] ejalaa12 opened #849 "Can't import ParameterService from rclnodejs"
**Description**

According to the [documentation](http://robotwebtools.org/rclnodejs/docs/0.20.0/ParameterService.html), there should be a class called `ParameterService` that wraps all commands for setting/getting parameters from a node.

This seems like a very useful class, but we can't use it since the `parameter_types.d.ts` file does not exists.

- Library Version: 0.21.1
- ROS Version: galact

[2022-05-04 12:09] ejalaa12 commented on #849
I misunderstood the use of that class, it is intended to be used internally for the node class.

[2022-05-04 12:09] #849 closed, assigned to nobody

[2022-05-25 16:09] imcelroy opened #850 "bool and bool_array should not be converted to strings in parameter msg"
**Description**

Parameter bool values are currently converted to strings (for example, `true` becomes `'true'`) when using the `Parameter.toParameterMessage()` method. These messages aren't parsed correctly when they are received by an rclcpp node and the `as_bool()` and `as_bool_array()` methods are used.

I have tested and it seems that the conversions here([parameter.js:L227-L234](https://gith

[2022-05-25 18:50] wayneparrott opened #852 "Support ROS 2 Humble release"
This is a tracking issue for ROS Humble support.

Known Issues:
- ros_distro.js does not recognize humble, i.e., does not recognize the ROS_DISTRO env var is set to "humble"
- bindings.gyp does not properly configure includes_dir for the new nested header dir structure (screwy) https://github.com/ros2/rcl/pull/959#issuecomment-1021193235
- test-raw-pub-sub.js - fails
- ci actions fail

[2022-05-26 19:47] wayneparrott opened #854 "Replace appveyor with Github action/workflow for Windows builds"
The project recently switch to using Github Actions for Linux builds. This PR proposes to replace the Appveyor CI with Github Actions similar to the Linux build model.

See related issues: #841, #834

[2022-05-26 19:49] wayneparrott commented on #854
Currently blocked by bug https://github.com/ros-tooling/setup-ros/issues/491

[2022-05-27 03:57] #852 closed, assigned to nobody

[2022-05-27 03:59] #850 closed, assigned to nobody

[2022-05-30 08:58] imcelroy commented on #850
@minggangw @wayneparrott Thanks for accepting the PR. Any chance we could get this fix in a new npm release asap?

[2022-05-30 14:54] minggangw commented on #850
I think we will have a new release targeting against the latest Humble Hawksbill soon.

[2022-05-30 15:04] imcelroy commented on #850
@minggangw Ok great, will the release targeting Humble still be compatible with Galactic?

[2022-05-31 03:11] minggangw commented on #850
@imcelroy Unlike the [rclcpp](https://github.com/ros2/rclcpp)/[rclpy](https://github.com/ros2/rclpy) clients that will be released with the ROS2 packages, so you don't need to worry about the compatibility. rclnodejs is a stand-alone nodejs package, and as you know ROS2 has many releases in parallel and their patch releases, which makes it difficult to maintain the compatibility. We did try to lev

[2022-05-31 06:53] minggangw opened #856 "Remove cases that depends on test/rclnodejs_test_msgs under \test"
As these tests become unstable and cause the CI failures frequently, we decide to remove the C++ project used to verify some interactions with other ROS2 clients.

[2022-05-31 07:23] imcelroy commented on #850
Thank you for the explanation, that makes sense.

[2022-06-01 09:44] minggangw opened #857 "Preparing rclnodejs v0.21.2 release"
We are going to release [v0.21.2](https://github.com/RobotWebTools/rclnodejs/projects/19) with latest bug fix targeting on [Humble Hawksbill](https://github.com/ros2/ros2/releases/tag/release-humble-20220523)

[2022-06-01 09:54] minggangw commented on #857
@wayneparrott please add things we want to land on the next rclnodejs release for https://github.com/RobotWebTools/rclnodejs/projects/19 if I'm missing something important, thanks!

[2022-06-01 15:33] wayneparrott commented on #856
Removing the rclnodejs_test_msg compile steps will definitely simplify and improve CI reliability.

re: the action tests which are dependent on the fibonacci action msg in rclnodejs_test_msgs/action we can consider using the equivalent https://github.com/ros2/test_interface_files/tree/master/action. I believe the test_interface_files pkg is bundled in the ROS releases back to foxy.

re: https://gi

[2022-06-01 15:59] minggangw commented on #856
For the test-non-primitive-static-arrary.js test, I don't find any `.msg` that uses a `Time` array in the current ROS2  release, so we may have to find something equivalent, maybe the [JoyFeedbackArray.msg](
https://github.com/ros2/common_interfaces/blob/618473bef14632e2b3769049df00f69563e4c018/sensor_msgs/msg/JoyFeedbackArray.msg) is suitable to replace? They are both kinds of primitives array, b

[2022-06-02 10:22] ejalaa12 opened #858 "Client only saves one callback at a time"
**Description**

When using a Service Client, and sending two request in a row, because the Client saves one callback at a time, only the latest is used when processing the response message from the service. (look at line 63)
https://github.com/RobotWebTools/rclnodejs/blob/2e05913fb0e818f0c3a58904764ef752902a9a5e/lib/client.js#L51-L64

- Library Version: latest develop
- ROS Version: galactic
- Pl

[2022-06-02 10:28] ejalaa12 commented on #857
@imcelroy and I are trying to work on a possible solution for the following bug https://github.com/RobotWebTools/rclnodejs/issues/858.
Can you please take a look at it and see if this is important enough to include in this release ?

[2022-06-02 11:35] ejalaa12 commented on #858
The `_sequenceNumber` is also overwritten with each new request so it cannot be used to match a callback.

One way to fix this would be to save each callback in a `pending_requests` map (matched to its sequence number).

And then when we get the response from rcl, we can use the sequence number that is included in the response header to match it with the correct callback [like rclcpp does](https:/

[2022-06-02 16:17] minggangw commented on #857
@ejalaa12 of course, we can wait for the fix to be landed and then roll out the release, I will take a look at that issue, thanks!

[2022-06-02 16:38] minggangw commented on #858
@ejalaa12 Yes, we should handle the response exactly as the rclcpp does, thanks for investigating the C++ implementation. For nodejs, as you said we can keep a sequence <-> callback map in my mind, and what you need is to change the following

https://github.com/RobotWebTools/rclnodejs/blob/b9ac65211cc19bd6c53a7bca6f1a59ab9591d64c/lib/node.js#L207-L214

- L.209: passing the sequence number stored

[2022-06-02 16:55] wayneparrott commented on #858
+1 Good suggestion! I noticed rclpy impl'ed async client support similarly: https://github.com/ros2/rclpy/pull/170

[2022-06-02 17:37] ejalaa12 commented on #858
Yes I think using the `pending_request` map is a good solution.

However, when receiving the response from `rcl`, we should have access to that response's header which contains the sequence number that we can match with the correct callback.

I think it must be done in the rcl binding but I'm not sure. Do you have any idea ?

[2022-06-02 18:16] ejalaa12 commented on #858
@wayneparrott thanks for pointing out rclpy. I found the solution [there](https://github.com/ros2/rclpy/blob/2c8ffe098eefebeec5a49e906e2506da4e0db434/rclpy/src/rclpy/client.cpp#L123-L147).

As you can see, they use `rcl_take_response_with_info` instead of `rcl_take_response` which allows them to get the header as well, which contains the sequence_number associated with the response that we can use

[2022-06-02 18:26] ejalaa12 commented on #858
[code]
It might look like this.

[2022-06-02 19:22] wayneparrott commented on #856
@minggangw let me confirm that addressing this issue involves the following actions:
1. remove test/rclnodejs_test_msgs/ folder
2. remove script/compile_tests.js
- note this script currently compiles: publisher_msg.cpp, subscription_msg.cpp, listener.cpp
4. remove the `pretest` script in package.json that currenctly calls compile_test.js script
5. use fibonacci msg from test_interface_files pkg in

[2022-06-02 19:34] wayneparrott commented on #854
[setup-ros v0.3.4](https://github.com/marketplace/actions/setup-ros-environment) has been released. We should be able to resume work on this. I'm hoping that #856 will reduce many of the past challenges with windows ci.

[2022-06-03 15:31] minggangw commented on #854
Good news! Thanks for keeping looking at this issue.

[2022-06-03 16:23] minggangw commented on #856
Yes

[add_two_ints_client.cpp](https://github.com/RobotWebTools/rclnodejs/blob/325848bd85237f2d754661755e0bb9aeb6f3c060/test/cpp/add_two_ints_client.cpp) will also be removed,

Yes

We can depend on the CI to check if we miss some test cases, as there are so many.

Yes, finally we can get rid of it :)

If it's not easy to find an alternative, we can add this case into the [blocklist](https://githu

[2022-06-03 16:24] minggangw commented on #856
@wayneparrott I have re-assigned this issue to you, please take your time, it's not urgent, thanks and stay healthy!

[2022-06-05 14:56] minggangw commented on #858
@ejalaa12 & @imcelroy I think we can close this issue now, thanks for fixing this! If you find any bugs or you want to propose new features, please don't hesitate to open an issue. Meanwhile, you can add your names into [CONTRIBUTORS](https://github.com/RobotWebTools/rclnodejs/blob/develop/CONTRIBUTORS.md) if you like.

[2022-06-05 14:56] #858 closed, assigned to nobody

[2022-06-05 14:59] minggangw commented on #854
I have stopped the [appveyor](https://ci.appveyor.com/project/minggangw/rclnodejs) for rclnodejs, as it's always failing :(

[2022-06-06 09:00] ejalaa12 commented on #858
@minggangw Thanks for being so responsive ! It made it easier to contribute :)

How can we do this?

[2022-06-06 09:14] minggangw commented on #858
Just submit a PR to add your names and contributions into https://github.com/RobotWebTools/rclnodejs/blob/develop/CONTRIBUTORS.md, then I will merge it

[2022-06-13 14:58] #856 closed, assigned to wayneparrott

[2022-06-13 15:00] minggangw commented on #854
I think we can mark this as resolved, thanks!

[2022-06-13 15:00] #854 closed, assigned to wayneparrott

[2022-06-13 15:02] minggangw commented on #857
I think we are good to go here, will roll out this version soon, thanks to all contributors for making this happen!

[2022-06-16 05:56] centercao commented on #857
please support node.js 18.xxx

[2022-06-16 06:05] minggangw commented on #857
@centercao do you meet any problems when using with nodejs 18?

[2022-06-16 16:31] minggangw commented on #857
[0.21.2](https://www.npmjs.com/package/rclnodejs/v/0.21.2) rolls out! Thanks for everybody's contributions!

[2022-06-16 16:31] #857 closed, assigned to nobody

[2022-06-16 16:35] minggangw opened #861 "Cleanup the CI badges in README"
As we have migrated to actions, we are going to remove the original badges for CIs and replace with the action's.

[2022-06-16 16:41] minggangw commented on #760
Removed

[2022-06-16 16:41] #760 closed, assigned to nobody

[2022-06-16 16:42] minggangw commented on #834
I think we can close this issue as we migrated to actions.

[2022-06-16 16:42] #834 closed, assigned to nobody

[2022-06-16 16:45] minggangw commented on #861
It seems that we have many badges :)
![image](https://user-images.githubusercontent.com/6469275/174123355-29e0c904-85f4-40ad-b7cd-0848b4d78eda.png)

[2022-06-16 16:46] minggangw commented on #861
@wayneparrott I remember you have already had a draft for this, would you please update README when you have time, thanks!

[2022-06-16 18:06] wayneparrott commented on #861
@minggangw I was just thinking of the need to update our README with the new CI status when I saw this. Will give it a look asap.

[2022-06-17 02:10] #861 closed, assigned to wayneparrott

[2022-06-20 02:57] minggangw commented on #724
Close this issue, please re-open it if you still have questions, thanks!

[2022-06-20 02:57] #724 closed, assigned to nobody

[2022-06-20 03:00] minggangw commented on #553
The supported nodejs versions are
https://github.com/RobotWebTools/rclnodejs/blob/f50e2b895c0a3129d8a85c6066cb17a031f94349/package.json#L92
Close this issue, please re-open it if you still have questions, thanks!

[2022-06-20 03:00] #553 closed, assigned to nobody

[2022-07-16 09:51] n0wis opened #864 "Undefined symbol error using Electron >= 12 when receiving/deserializing arrays"
**Description**
When using any Electron version >= 12 (which include Node >= 14), receiving a message that includes a non-empty array causes a symbol lookup error:
`rclnodejs.node: undefined symbol: _ZN2v811ArrayBuffer3NewEPNS_7IsolateESt10shared_ptrINS_12BackingStoreEE`

- Library Version: `0.21.2`
- ROS Version: `humble`
- Platform / OS: `Ubuntu 22.04 LTS`
- Electron version: `19.0.8`

Also test

[2022-07-18 14:04] wayneparrott commented on #864
Thx for reporting this issue. The backingstore info looks somewhat familiar. Will investigate asap.

[2022-07-18 14:11] wayneparrott opened #865 "Investigate the use of prebuilt binaries to simplify installation requirements & experience"
Can we simplify the rclnodejs installation requirements? Specifically the compilation for C-lang native api.

To answer this question I have created this tracking issue to investigate the use of [prebuild](https://github.com/prebuild/prebuild) for packaging and distributing compiled binaries.

[2022-07-18 15:32] minggangw commented on #865
Of course, we can and could reference [ref-napi](https://github.com/node-ffi-napi/ref-napi/blob/latest/package.json)

[2022-07-18 15:53] minggangw commented on #864
We use the following `#if`, when nodejs > 12, we will use `v8::BackingStore`. From the crash log, it seems that the symbol is not found during runtime. @n0wis can you please double-check if it can reproduce on nodejs >= 14? I think we should have the unit test to cover this kind of case.
https://github.com/RobotWebTools/rclnodejs/blob/4c23b0b01493a19f424fb85e7c1491b6402f25ed/src/rcl_bindings.cpp#L

[2022-07-18 16:40] n0wis commented on #864
I probably should have emphasized that the error indeed does not occur when using "regular" Node >= 12, only the versions bundled with Electron crash. Unfortunately I know far too less about native Node.js modules to identify the cause of the error. It might be Electron after all?

I can file a bug report there if that is the more appropriate place.

Nonetheless, maybe the error can be prevented i

[2022-07-19 03:36] minggangw commented on #864
Yes, I have noticed that you mentioned the env is Electron, but just to double-check it on pure nodejs. From our side, we can fall back to the non-BackingStore code when detecting it's a Electron env. @n0wis do you have any idea that the nodejs integrated into the Electron has any difference compared with a normal nodejs release?

[2022-07-19 05:47] n0wis commented on #864
It does differ. [Per the docs](https://www.electronjs.org/docs/latest/tutorial/using-native-node-modules):

I followed the suggested steps to rebuild for the correct ABI version (which worked fine all along) but I could not resolve the missing symbol issue.

Unlike the my binary of pure nodejs, Electron is missing the mentioned symbol:
`nm -D node_modules/electron/dist/electron | grep  _ZN2v811Arr

[2022-07-19 16:28] minggangw commented on #864
I did some investigation about why there is `::__1` namespace, and it seems that you must depend on libstdc++, below is `ldd` result dumping the shared library dependencies for a normal nodejs binary. So would you check if your Electron version nodejs also depends on `libstdc++`?

[code]

[2022-07-19 18:14] n0wis commented on #864
It does depend on libstdc++ as well. For completeness, here is the whole `ldd` output:
[code]

[2022-07-20 08:16] minggangw commented on #864
Hmm... have no idea, but it's clear this is a linker issue

[2022-07-22 12:04] wayneparrott opened #866 "ActionServer cancelRequestHandler() missing goalHandler param"
While implementing an ActionServer I noticed the CancelCallback fn declaration is missing the GoalHandle parameter.

https://github.com/RobotWebTools/rclnodejs/blob/755a7a66f0b6bbd093a1f8d8cfcdefd3f64ea5f8/types/action_server.d.ts#L87

Based on the [ROS2 C++ action api](https://docs.ros2.org/foxy/api/rclcpp_action/classrclcpp__action_1_1Server.html#a1247929a1f116711b2056a7a254cfb51)  the CancelCal

[2022-07-22 20:36] wayneparrott opened #868 "Unable to selectively import from rclnodejs"
Recently I impl'ed a small utility in TypeScript that only required a few objects from rclnodejs. So I used this import syntax:

[code]

This example fails with the following stacktrace:
[code]

Because of the stateful nature of the rcl object of index.js it is not possible to selectively import the init fn and by extension any objects.

This failure is caused by the `init()` function's `this` not

[2022-07-24 11:32] #868 closed, assigned to wayneparrott

[2022-07-24 11:45] #866 closed, assigned to wayneparrott

[2022-07-26 15:01] wayneparrott opened #870 "Unable to access ActionUuid from typescript"
When working with actions uuid's can optionally be used to uniquely identify a goal. The class ActionUuid in lib/action/uuid.js is not available for use in TypeScript as there is no ActionUuid type declaration.

This enhancement request is to create a type declaration for ActionUuid.

[2022-07-27 06:35] #870 closed, assigned to nobody

[2022-07-29 03:19] minggangw opened #872 "Preparing rclnodejs v0.21.3 release"
@wayneparrott I think it's a proper timing to have another bug fix release for rclnodejs to land your recent patches, I will update the [doc](http://robotwebtools.org/rclnodejs/docs/index.html) this time accordingly, it still stays on [0.20.0](http://robotwebtools.org/rclnodejs/docs/0.20.0/index.html)

[2022-07-29 09:12] minggangw commented on #872
[0.21.3](https://www.npmjs.com/package/rclnodejs/v/0.21.3) rolls out :tada:

[2022-07-29 09:12] #872 closed, assigned to nobody

[2022-08-09 20:48] wayneparrott opened #873 "Types should support overloaded Node methods"
The 2 JavaScript implementation of the Node methods, `createSubscription()` and `createService()` overload their `options` parameter such that it can either be an Options type or a callcaback function. The TypeScript declaration does not support this convenience. Therefore, I propose we added overloaded definitions for these 2 methods. The change will be similar to this:
[code]

[2022-08-10 05:25] #873 closed, assigned to wayneparrott

[2022-08-22 02:58] minggangw opened #875 "Verify rclnodejs for the usage of ArrayBuffers on Electron > 20"
@wayneparrott noticed that Electron will enable sandboxed pointers of v8 on version > 20, which may break our tests potentially, see the below [details](https://www.electronjs.org/blog/v8-memory-cage):

We need to take action to verify our module on Electron > 20

[2022-09-01 00:28] chfritz opened #876 "Error during install: ‘::memchr’ has not been declared"
**Description**

When I try to install using `npm install rclnodejs`, it fails with:
[code]
(full log below).

- Library Version: latest from npm (0.21.3)
- ROS Version: ros2 rolling
- Platform / OS: Ubuntu 20.04.5

[code]

**Steps To Reproduce**

`npm install rclnodejs`

**Expected Behavior**

For it to install as described in the readme.

**Actual Behavior**

[code]

[2022-09-01 00:33] chfritz commented on #876
I've discovered that `npm install rclnodejs@0.21.1` works, so it seems that the issue was introduced recently.

[2022-09-02 07:49] minggangw commented on #876
Thanks for reporting the issue, through the error log, it seems that it happens when compiling the nan, do you try with Humble Hawksbill?

[2022-09-02 14:37] chfritz commented on #876
I haven't -- I'm on ubuntu 20 -- but the `nan.h` file is not from the OS but part of the npm nan package: https://github.com/nodejs/nan/blob/main/nan.h. So I don't think changing the ROS2 release would make a difference.

[2022-09-03 16:43] minggangw commented on #876
Yes, the header comes from nan package, theoretically, the behavior should be the same on different rclnodejs versions. I also checked the code change between these 2 versions, and it seems nothing special (we don't upgrade the nan version number). I will try to build it on my dev machine, but I believe it's caused by some toolchain env problem.

[2022-09-05 13:28] meropis commented on #876
I'm also having a similar issue
Ubuntu 22.04 LTS
Humble Hawkesbill

[2022-09-06 05:26] minggangw commented on #876
Would you try to upgrade your GCC to 11 and see if the failure is still there? I verified with the following configuration and it works fine:

- nodejs:  v16.16.0
- g++: 11.2.0
- OS: Ubuntu 22.04LTS

Meanwhile, looking through the latest build on [actions](https://github.com/RobotWebTools/rclnodejs/actions), no failures were found.

[2022-09-06 16:23] wayneparrott commented on #876
I noticed your env includes:

My understanding as of the Humble release, includes latest Rolling release, that Ubuntu 22 (jammy) is required. As a quick test I set up a new dev env with Ubuntu 22.04.01 (lts), Node 16 (lts) and rclnodejs from npm. No issues observed with rclnodejs installation and running simple node was successful. I repeated the process with the Humble release with success.

Hope

[2022-09-07 03:07] chfritz commented on #876
g++-11 is not available on 20.04 so I can't try that. I've also noticed that there is no build status for galactic right now (see Readme), so I assume that combination is not currently being tested? Another question: is there a reason why the repo doesn't include a `package-lock.json`? Without that, it's not deterministic which version of the dependencies was used in current and past npm releases.

[2022-09-07 16:41] wayneparrott commented on #876
Opps! Thx for calling this out. Will get the status indicator fixed asap. The os/ros compatibility matrix are completing successfully for linux. https://github.com/RobotWebTools/rclnodejs/actions/runs/3009191104

Looks like a dependent action for setting up ros distros on windows is failing (again). Will give it a look asap.
https://github.com/RobotWebTools/rclnodejs/runs/8232819051?check_suite_fo

[2022-09-07 17:17] wayneparrott opened #877 "Bug in windows workflow"
The following line is goofed and causes all windows builds to fail as `${{ needs.identify-ros-distro.outputs.distro }}` is undefined on windows:
https://github.com/RobotWebTools/rclnodejs/blob/4ebb442e1f5785942415ce0ffcca63e769da375a/.github/workflows/windows-build-and-test-compatibility.yml#L51

The corrected line should read:
[code]

[2022-09-14 03:55] gobumseok opened #879 "ubuntu 22.04.01 version `CXXABI_1.3.13' not found"
**Description**
gcc version: 11.2
/snap/core20/current/lib/x86_64-linux-gnu/libstdc++.so.6: version `CXXABI_1.3.13' not found

- Library Version:0.21.3
- ROS Version: humble
- Platform / OS: ubuntu 22.04.01

**Steps To Reproduce**

**Expected Behavior**

**Actual Behavior**

[2022-09-22 05:29] #877 closed, assigned to wayneparrott

[2022-09-22 06:46] minggangw commented on #879
Can you please try this? https://stackoverflow.com/questions/49875588/importerror-lib64-libstdc-so-6-version-cxxabi-1-3-9-not-found

[2022-09-22 10:27] MMM-Jasmin opened #880 "Install error on Ubuntu 20.04 with Ros2 Humble"
HI,
i am trying to install install this package on a nvidia AGX Orin and I am facing compiling errors.
To get more info I used "npm install --loglevel verbose" on this setup:

- Library Version:  0.21.3
- ROS Version: humble
- Platform / OS: Ubuntu 20.04 but the linux for tegra version

and this is the output:

[code]

Sadly i am not an expert on nodejs and hopefully someone can help me
Kind regar

[2022-09-23 02:56] minggangw commented on #880
@MMM-Jasmin thanks for your feedback, I have very limited experience on the arm64 platform. What I can think about is that this issue is caused by the toolchain, do you use GCC and what's the version of it?

[2022-09-23 07:14] MMM-Jasmin commented on #880
Hi minggangw, thanks for the help!
So i tried gcc/g++ 8,9 and 10 and before I went a bit further down into the build process.
The created Makefile is trying to compile against everything from ros2 and the command is extremely long.
If you try to call it you get the g++/execv error:

g++: fatal error: cannot execute ‘/usr/lib/gcc/aarch64-linux-gnu/10/cc1plus’: execv: Argument list too long

Tests t

[2022-09-30 05:07] minggangw commented on #880
Sorry for the delay, I have the following platforms
- Ubuntu 20.04 + g++ 9.4
- Ubuntu 22.01 + g++ 11.2

Both work fine, as you mentioned, maybe you need special flags that are different from the x86 desktop. I don't have any idea so far.

[2022-10-04 12:43] MMM-Jasmin commented on #880
Hey @minggangw,
i digged a little bit deeper, but still do not fully understand node-gyp.
In the "binding.gyp" is a array of "include_dirs" made namely:

                {
                  'include_dirs':
                  [
                    "<!@(node -e \"console.log(process.env.AMENT_PREFIX_PATH.replace(/:/g, '/include/ ') + '/include/')\")",
                    "<!@(node -e \"console.log(pr

[2022-10-06 14:21] minggangw commented on #880
Hi @MMM-Jasmin I noticed these changes were introduced by #853, which enabled the Github actions for `rclnodejs`, would you please just remove the section below, to revert that change:
https://github.com/RobotWebTools/rclnodejs/blob/20c32f1307dde2fe057376c65cca2d0e0a14f3ec/binding.gyp#L71-L93

BTW, my `AMENT_PREFIX_PATH` equals to `/opt/ros/rolling`

[2022-10-06 14:29] minggangw commented on #880
Another way that I think should be workable is:

Change the `include_dirs` part manually to point to the actual `ros` path on your machine, like:
[code]

[2022-10-06 15:39] minggangw commented on #876
@chfritz @meropis finally, I hit this issue on 20.04 with g++9.4, and I have a workaround to mitigate this weird issue (it cannot be reproduced with 22.04...), please remove the following section from your [`binding.gyp`](https://github.com/RobotWebTools/rclnodejs/blob/develop/binding.gyp)

https://github.com/RobotWebTools/rclnodejs/blob/20c32f1307dde2fe057376c65cca2d0e0a14f3ec/binding.gyp#L71-L92

[2022-10-06 21:11] wayneparrott commented on #880
@minggangw @MMM-Jasmin
The long include path is excessive, yikes! It arose to handle differences in the file header structure between galactic/foxy distros and humble. I share this so you'll be aware of this diff if you are working across ros2 distros. @minggangw  perhaps we can address this in a more efficient manner in the near future. Also, the Humble distro is based on Ubuntu 22. I've seen som

[2022-10-07 06:20] MMM-Jasmin commented on #880
Hi @minggangw  @wayneparrott
when i set the includes directly like this:

[code]
it can be compiled and installed, but I guess a more autonomously method is desirable.

@minggangw i guess you installed the rebuild ros2 package?
As I am on ubuntu 20.04 I need to build it myself and my AMENT_PREFIX_PATH equals to

`/opt/dev/ros2_humble/install/rqt_bag_plugins:/opt/dev/ros2_humble/install/rosbag2:/op

[2022-10-07 08:08] minggangw commented on #880
I ever tried to install the ROS2 Rolling through:
-[Debian packages](https://docs.ros.org/en/rolling/Installation/Ubuntu-Install-Debians.html)
-[“fat” archive](https://docs.ros.org/en/rolling/Installation/Alternatives/Ubuntu-Install-Binary.html)

I haven't built ROS2 from scratch for a long time, but I think the result should be the same with these two above, did you source something like `/opt/ro

[2022-10-07 08:54] MMM-Jasmin commented on #880
I sourced `local_setup.bash`  or `setup.bash`

I guess it is not completely the same as if you install it via debian package everything is in /opt/ros/rolling with an include directory following. This include dir does not even exist if you build from source :/
If you build from source there is a subfolder for all ros packages in your install dir.
In those you have the include dirs you are looking

[2022-10-07 11:51] minggangw commented on #880
I remember there was once a flag called `--merge-install`, which enables merging all the components together, please check with https://docs.ros.org/en/eloquent/Installation/Linux-Development-Setup.html#build-the-code-in-the-workspace, but not sure whether it's still feasible for Humble. What is certain is that installing from Debian package does merge them together.

[2022-10-07 12:45] MMM-Jasmin commented on #880
Have just rebuild ros2 humble with the `--merge-install` flag and now i also have just the one path in the `$AMENT_PREFIX_PATH` variable. It should work to install the git version now, but should be mentioned or fixed to work with the not merged version :).
Nevertheless thanks :)

[2022-10-07 13:42] minggangw commented on #880
The instruction was removed, please check with https://github.com/RobotWebTools/rclnodejs/blob/c080755e1ccac0a47aba45a1e500c4c12c7e8103/docs/BUILDING.md#get-ready-for-ros-2

[2022-10-07 13:59] minggangw commented on #880
@MMM-Jasmin we will fix this issue soon, thanks!

[2022-10-07 14:02] MMM-Jasmin commented on #880
just a small typo in

but thanks :)

[2022-11-15 20:54] wayneparrott opened #882 "Support Node 18"
package.json includes this node version constraint:

[code]
I ran a quick test with node 18. The rclnodejs test suite passes with node v18.12.1 (LTS) on ROS humble and galactic distros.

@minggangw  Thoughts on expanding support to Node 18?

[2022-11-15 21:38] wayneparrott opened #883 "Support Node 19"
I was curious how rclnodejs would perform on node19. Here's my experience so far:

1. used node 19.1.0, rclnodejs 0.21.3, ros2 humble distro, ubuntu 22
2. encountered compilation errors with nan.h.
3. Changing from `-std=c++14` to `-std=c++17` in binding.gyp resolved the compilation errors.
4. test suite runs successfully.
5. I also ran the same config on ros2 galactic, ubuntu 20 with no issues.

[2022-11-16 09:59] minggangw commented on #882
Agree, we can include the nodejs 18 now, please go ahead to change it, thanks!

[2022-11-16 11:04] minggangw commented on #883
I tried with nodejs 19 and met the failure, not sure it's the same with https://github.com/RobotWebTools/rclnodejs/issues/876, will take a deep investigation tomorrow, thanks! @wayneparrott

[2022-11-16 11:06] minggangw commented on #883
Paste the error below
[code]

[2022-11-16 15:13] minggangw commented on #883
After investigating, nodejs 19.1.0 does use a c++17 feature, [std::is_lvalue_reference_v](https://en.cppreference.com/w/cpp/types/is_lvalue_reference), which explains why passing `-std=c++17` can compile successfully.   So, I suggest making the change `-std=c++14` to `-std=c++17`, considering GCC > 8.x can fully [support](https://gcc.gnu.org/projects/cxx-status.html) the c++17 now (ubuntu 20.04 wi

[2022-11-17 10:20] minggangw commented on #882
Close it due to #884

[2022-11-17 10:20] #882 closed, assigned to nobody

[2022-11-17 10:21] minggangw commented on #883
Close it due to #884

[2022-11-17 10:21] #883 closed, assigned to nobody

[2022-11-17 10:24] minggangw opened #885 "Preparing rclnodejs v0.21.4 release"
@wayneparrott I think it's the proper timing to have a fix release for the recent landed patches. https://github.com/RobotWebTools/rclnodejs/projects/21 is created accordingly, thanks!